<mat-dialog-content>
  <img
    class="image-bg object-contain"
    width="1000"
    height="1000"
    loading="lazy"
    alt="thumbnail"
    [loaderParams]="{ thumbnail: true }"
    ngSrc="/api/v1/spaces/{{ data.spaceId }}/assets/{{ data.asset.id }}" />
</mat-dialog-content>
<mat-dialog-actions class="flex !justify-between">
  <div class="text-sm">
    {{ data.asset.name }}{{ data.asset.extension }}
    @if (data.asset.size; as size) {
      <span class="border-border mx-1 inline-block h-4 border-r align-middle"></span>
      {{ size | formatFileSize }}
    }
    @if (data.asset.metadata; as metadata) {
      @if (metadata.width && metadata.height) {
        <span class="border-border mx-1 inline-block h-4 border-r align-middle"></span>
        W{{ metadata.width }} x H{{ metadata.height }}
      }
      @if (metadata.duration; as duration) {
        <span class="border-border mx-1 inline-block h-4 border-r align-middle"></span>
        Duration: {{ duration | timeDuration }}
      }
    }
  </div>
  <button hlmBtn variant="outline" [mat-dialog-close]="undefined">Close</button>
</mat-dialog-actions>
