@use 'sass:map';
@use '@angular/material' as mat;

@import '../../../../styles';

$color-config: mat.get-color-config($theme);
$primary-palette: map.get($color-config, 'primary');
$primary-color: mat.get-color-from-palette($primary-palette);

mat-form-field {
  width: 350px;
}
