<h2 mat-dialog-title>Edit Translation ID</h2>
<mat-dialog-content>
  <br />
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput type="text" formControlName="id" required autocomplete="off" />
      <mat-hint>Will be used in OpenAPI Schema Name.</mat-hint>
      <mat-hint align="end">{{ form.controls['id'].value?.length || 0 }}/150</mat-hint>
      @if (form.controls['id'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="form.value.id" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
