<h2 mat-dialog-title>Edit Translation ID</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col gap-4 py-2">
    <div hlmField>
      <label hlmFieldLabel for="id">ID</label>
      <div hlmInputGroup>
        <input hlmInputGroupInput id="id" type="text" formControlName="id" required autocomplete="off" />
        <hlm-input-group-addon align="inline-end" class="text-muted-foreground text-xs"
          >{{ form.controls['id'].value?.length || 0 }}/150</hlm-input-group-addon
        >
      </div>
      <hlm-field-description>Will be used in OpenAPI Schema Name.</hlm-field-description>
      @if (form.controls['id'].errors; as errors) {
        <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="flex gap-2">
  <button hlmBtn variant="outline" [mat-dialog-close]="undefined">Cancel</button>
  <button hlmBtn [mat-dialog-close]="form.value.id" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
