<mat-toolbar>
  <mat-toolbar-row>
    Dashboard
    <span class="spacer"></span>
    <div class="actions">
      @if ('SPACE_MANAGEMENT' | canUserPerform | async) {
        <button mat-icon-button (click)="calculateOverview()">
          <mat-icon>refresh</mat-icon>
        </button>
      }
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-full-screen">
  @if (space(); as space) {
    <div class="grid grid-rows-1 gap-4 max-w-7xl">
      @if (space.overview; as overview) {
        <section id="overview">
          <h3 class="text-base font-semibold leading-6">Overview</h3>
          <div class="mt-5 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Locales</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ space.locales.length }} / ∞</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Translations</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ overview.translationsCount }} / ∞</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Asset Files</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ overview.assetsCount }} / ∞</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Content Documents</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ overview.contentsCount }} / ∞</mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Schemas</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ overview.schemasCount }} / ∞ </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Tasks</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ overview.tasksCount }} / ∞ </mat-card-content>
            </mat-card>
          </div>
        </section>
        <section id="storage">
          <h3 class="text-base font-semibold leading-6">Storage</h3>
          <div class="mt-5 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Total</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ overview.totalSize | formatFileSize }} / ∞ </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Translations</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ overview.translationsSize | formatFileSize }} / ∞ </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Asset Files</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ overview.assetsSize | formatFileSize }} / ∞ </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Content Documents</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ overview.contentsSize | formatFileSize }} / ∞ </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Task Files</mat-card-title>
              </mat-card-header>
              <mat-card-content> {{ overview.tasksSize | formatFileSize }} / ∞ </mat-card-content>
            </mat-card>
          </div>
        </section>
        @if (space.progress; as progress) {
          <section id="translations">
            <h3 class="text-base font-semibold leading-6">Translations</h3>
            @if (progress.translations) {
              <dl class="mt-5 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
                @for (locale of space.locales; track locale.id) {
                  @let translationsCount = overview.translationsCount;
                  @let localeCount = progress.translations[locale.id] || 0;
                  @let localeProgress = translationsCount === 0 || localeCount === 0 ? 0 : localeCount / translationsCount;
                  <mat-card appearance="outlined">
                    <mat-card-header>
                      <mat-card-title>
                        {{ locale.name }}
                      </mat-card-title>
                      <mat-card-subtitle>
                        {{ localeProgress | percent: '1.0-2' }} - {{ localeCount }} from {{ overview.translationsCount }}
                      </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="my-5">
                      <mat-progress-bar mode="determinate" [value]="localeProgress === 0 ? 0 : localeProgress * 100" />
                    </mat-card-content>
                  </mat-card>
                }
              </dl>
            }
          </section>
        }
      }
    </div>
  }
</div>
