<hlm-dialog-header>
  <h2 hlmDialogTitle>Contents Import</h2>
</hlm-dialog-header>
<form [formGroup]="form" class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <button hlmBtn variant="outline" type="button" (click)="fileInput.click()">
      <ng-icon hlm size="sm" name="lucideUpload" />
      Upload File
    </button>
    @if (fileName) {
      <p class="text-muted-foreground text-sm">{{ fileName }}</p>
    }
  </div>
  @if (fileWrong) {
    <p class="text-destructive text-sm">The selected file does not comply with import extension (<b>*.llc.zip</b>).</p>
  }
</form>
<hlm-dialog-footer>
  <button hlmBtn variant="outline" hlmDialogClose>Cancel</button>
  <button hlmBtn [disabled]="!form.valid" (click)="save()">
    <ng-icon hlm size="sm" name="lucideUploadCloud" />
    Import
  </button>
</hlm-dialog-footer>
<input hidden type="file" accept=".llc.zip" #fileInput (change)="onFileChange($event)" />
