<h2 mat-dialog-title>
  <span>Assets</span>
  <div class="float-right mt-1 flex items-center gap-4">
    @if (fileUploadQueue().length > 0) {
      <span hlmBadge class="h-6">
        <hlm-spinner />
        Uploading ... ({{ fileUploadQueue().length }})
      </span>
    }
    <hlm-toggle-group type="single" variant="outline" [value]="settingsStore.assetDialogLayout()">
      <button hlmToggleGroupItem value="list" hlmTooltip="List Layout" (click)="settingsStore.setAssetDialogLayout('list')">
        <ng-icon hlm size="sm" name="lucideLayoutList" />
      </button>
      <button hlmToggleGroupItem value="grid" hlmTooltip="Grid Layout" (click)="settingsStore.setAssetDialogLayout('grid')">
        <ng-icon hlm size="sm" name="lucideLayoutGrid" />
      </button>
    </hlm-toggle-group>
    @if ('ASSET_CREATE' | canUserPerform | async) {
      <button hlmBtn variant="outline" (click)="fileInput.click()">
        <ng-icon hlm size="sm" name="lucideUpload" />
        Upload Assets
      </button>
      <input hidden type="file" multiple #fileInput (change)="onFileUpload($event)" />
    }
  </div>
</h2>
@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}
<nav hlmBreadcrumb class="px-6 py-2">
  <ol hlmBreadcrumbList>
    @for (pathItem of assetPath; track pathItem.fullSlug; let isLast = $last; let isFirst = $first) {
      @if (!isFirst) {
        <li hlmBreadcrumbSeparator></li>
      }
      <li hlmBreadcrumbItem>
        @if (isFirst) {
          <button hlmBreadcrumbButton (click)="navigateToSlug(pathItem)">
            <ng-icon name="lucideFolderRoot" />
          </button>
        } @else if (isLast) {
          <span hlmBreadcrumbPage>{{ pathItem.name }}</span>
        } @else {
          <button hlmBreadcrumbButton (click)="navigateToSlug(pathItem)"> {{ pathItem.name }} </button>
        }
      </li>
    }
  </ol>
</nav>
<mat-dialog-content>
  @if (settingsStore.assetDialogLayout() === 'list') {
    <div llTableContainer>
      <table ll-table [dataSource]="dataSource" llTableSort>
        <!-- Checkbox Column -->
        <ng-container llColumnDef="select">
          <th llHeaderCell *llHeaderCellDef>#</th>
          <td llCell *llCellDef="let row">
            @if (row.kind === 'FILE') {
              <hlm-checkbox
                (click)="$event.stopPropagation()"
                [checked]="selection.isSelected(row)"
                (checkedChange)="selection.toggle(row)" />
            }
          </td>
        </ng-container>
        <ng-container llColumnDef="icon">
          <th llHeaderCell *llHeaderCellDef>Icon</th>
          <td llCell *llCellDef="let element">
            @switch (element.kind) {
              @case ('FILE') {
                <ng-icon hlm [name]="fileIcon(element.type)" />
              }
              @case ('FOLDER') {
                <ng-icon hlm name="lucideFolder" />
              }
            }
          </td>
        </ng-container>
        <ng-container llColumnDef="preview">
          <th llHeaderCell *llHeaderCellDef>Preview</th>
          <td llCell *llCellDef="let element">
            @if (element.kind === 'FILE' && filePreview(element.type)) {
              @if (element.inProgress) {
                <div class="flex aspect-square w-full flex-col place-items-center justify-center">
                  <hlm-spinner />
                  <span>Processing ...</span>
                </div>
              } @else {
                <img
                  class="image-bg rounded-sm border object-contain"
                  width="200"
                  height="200"
                  alt="thumbnail"
                  loading="lazy"
                  [loaderParams]="{ thumbnail: true }"
                  ngSrc="/api/v1/spaces/{{ data.spaceId }}/assets/{{ element.id }}" />
              }
            }
          </td>
        </ng-container>
        <ng-container llColumnDef="name">
          <th llHeaderCell *llHeaderCellDef>Name</th>
          <td llCell *llCellDef="let element">
            <div>
              <div class="break-all">{{ element.name }}{{ element.extension }}</div>
              @if (element.metadata; as metadata) {
                @if (metadata.width && metadata.height) {
                  <div> W{{ metadata.width }} x H{{ metadata.height }} </div>
                }
                @if (metadata.duration; as duration) {
                  <div> Duration: {{ duration | timeDuration }} </div>
                }
              }
            </div>
          </td>
        </ng-container>
        <ng-container llColumnDef="size">
          <th llHeaderCell *llHeaderCellDef>File Size</th>
          <td llCell *llCellDef="let element">
            @if (element.size) {
              {{ element.size | formatFileSize }}
            } @else {
              -
            }
          </td>
        </ng-container>
        <ng-container llColumnDef="type">
          <th llHeaderCell *llHeaderCellDef>Type</th>
          <td llCell *llCellDef="let element">
            @if (element.kind === 'FILE') {
              @if (element.type) {
                {{ element.type }}
              } @else {
                unknown
              }
            } @else {
              Folder
            }
          </td>
        </ng-container>
        <ng-container llColumnDef="updatedAt">
          <th llHeaderCell *llHeaderCellDef>Updated At</th>
          <td llCell *llCellDef="let element" [hlmTooltip]="element.updatedAt?.toDate() | date: 'medium'">
            {{ element.updatedAt?.toDate() | date: 'mediumDate' }}
          </td>
        </ng-container>

        <tr ll-header-row *llHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr ll-row *llRowDef="let row; columns: displayedColumns" (click)="onAssetSelect(row)" class="cursor-pointer"></tr>
      </table>
    </div>
  } @else {
    <div class="grid grid-cols-[repeat(auto-fill,minmax(192px,1fr))] gap-4 py-2">
      @for (item of dataSource.renderedData(); track item.id) {
        <hlm-card class="overflow-hidden pt-0!">
          <div class="cursor-pointer border-b" aria-hidden="true" (click)="onAssetSelect(item)" (keydown)="onAssetSelect(item)">
            @if (item.kind === 'FILE' && item.inProgress) {
              <div class="flex aspect-square w-full flex-col place-items-center justify-center">
                <hlm-spinner />
                <span>Processing ...</span>
              </div>
            } @else if (item.kind === 'FILE' && filePreview(item.type)) {
              <div class="relative aspect-square w-full">
                @if (item.extension; as extension) {
                  <span hlmBadge class="absolute top-5 right-5">{{ extension }}</span>
                }
                <img
                  class="bg-primary-foreground aspect-square w-full object-contain"
                  ngSrc="/api/v1/spaces/{{ data.spaceId }}/assets/{{ item.id }}"
                  alt="thumbnail"
                  width="600"
                  height="600"
                  loading="lazy"
                  [loaderParams]="{ thumbnail: true }" />
              </div>
            } @else if (item.kind === 'FILE') {
              <div class="bg-primary-foreground relative aspect-square w-full">
                @if (item.extension; as extension) {
                  <span hlmBadge class="absolute top-5 right-5">{{ extension }}</span>
                }
                <div class="flex h-full w-full items-center justify-center">
                  <ng-icon hlm size="xl" [name]="fileIcon(item.type)" />
                </div>
              </div>
            } @else {
              <div class="bg-primary-foreground relative aspect-square w-full">
                <div class="flex h-full w-full items-center justify-center">
                  <ng-icon hlm size="xl" name="lucideFolder" />
                </div>
              </div>
            }
          </div>
          <hlm-card-header>
            <h3 hlmCardTitle class="line-clamp-2" hlmTooltip="{{ item.name }}{{ item.extension }}">
              {{ item.name }}{{ item.extension }}
            </h3>
            <div hlmCardDescription>
              @if (item.kind === 'FILE') {
                @if (item.size; as size) {
                  <p>{{ size | formatFileSize }}</p>
                }
                @if (item.metadata; as metadata) {
                  @if (metadata.width && metadata.height) {
                    W{{ metadata.width }} x H{{ metadata.height }}
                  }
                  @if (metadata.duration; as duration) {
                    <div> Duration: {{ duration | timeDuration }}</div>
                  }
                }
              }
              <p [hlmTooltip]="item.updatedAt?.toDate() | date: 'medium'"> {{ item.updatedAt?.toDate() | date: 'mediumDate' }} </p>
            </div>
          </hlm-card-header>
          <hlm-card-footer class="bg-background! mt-auto justify-end gap-2 p-2!">
            @if (item.kind === 'FILE') {
              <hlm-checkbox [checked]="selection.isSelected(item)" (checkedChange)="selection.toggle(item)" />
            }
          </hlm-card-footer>
        </hlm-card>
      }
    </div>
  }
  <ll-paginator [sticky]="true" [length]="dataSource.filteredData().length" />
</mat-dialog-content>
<mat-dialog-actions align="end" class="flex gap-2">
  <button hlmBtn variant="ghost" [disabled]="selection.isEmpty()" (click)="selection.clear()">
    Deselect All ({{ selection.selected.length }})
  </button>
  <button hlmBtn variant="ghost" [mat-dialog-close]="undefined">Close</button>
  <button hlmBtn [mat-dialog-close]="selection.selected" [disabled]="selection.isEmpty()">
    @if (selection.selected.length > 1) {
      Add Selected Assets ({{ selection.selected.length }})
    } @else {
      Add Selected Asset
    }
  </button>
</mat-dialog-actions>
