mat-dialog-content {
  padding-top: 0 !important;
  padding-bottom: 0.25rem !important; /* 4px */
}

td {
  &.ll-column-preview {
    img {
      min-width: 115px;
      min-height: 115px;
      max-width: 115px;
      max-height: 115px;
    }
  }
}

th,
td {
  &.ll-column-select {
    width: 50px;
    max-width: 50px;
  }
  &.ll-column-icon {
    width: 60px;
    max-width: 60px;
  }

  &.ll-column-preview {
    width: 150px;
    max-width: 150px;
  }
  &.ll-column-size {
    width: 110px;
    max-width: 110px;
  }
  &.ll-column-type {
    width: 120px;
    max-width: 120px;
  }
  &.ll-column-updatedAt {
    width: 120px;
    max-width: 120px;
  }
}
