@use '@angular/material' as mat;

@mixin theme($theme) {
  mat-toolbar {
    &.main {
      color: mat.get-theme-color($theme, primary);
      background-color: mat.get-theme-color($theme, primary-container);
    }
  }

  mat-sidenav-container {
  }

  mat-list-item {
    &.active {
      background: rgba(mat.get-theme-color($theme, primary), 0.15);
    }
  }
}
