.wrapper {
  height: calc(100% - 64px);
}

mat-sidenav-container {
  height: 100%;
  // when side-nav is collapsed
  mat-sidenav {
    width: 200px;
    border-right: 1px solid var(--mat-sys-outline-variant);
    border-radius: 0;
    &.collapsed {
      width: 56px;
      mat-list-item {
        padding-right: 0;
        mat-icon {
          margin-right: 16px;
        }
      }
    }
  }
  mat-sidenav-content {
  }
}

.vertical-divider {
  border-right: 1px solid var(--mat-sys-outline);
  @apply mx-1;
}

mat-form-field {
  width: 100%;
}

mat-icon.flash {
  color: var(--mat-sys-primary)
}
