  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="side" opened="true">
      <div class="branding">
        <img [src]="logo" [alt]="logo"/>
        <span>Localess</span>
        <span class="spacer"></span>
        <span>
          <button mat-icon-button [matMenuTriggerFor]="accountMenu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #accountMenu="matMenu">
            <button mat-menu-item routerLink="/features/me">
              <mat-icon>person</mat-icon>
              <span>Me</span>
            </button>
            <mat-divider/>
            <button mat-menu-item (click)="onLogoutClick()">
              <mat-icon>logout</mat-icon>
              <span>Log Out</span>
            </button>
          </mat-menu>
        </span>
      </div>
      <mat-divider/>
      <mat-nav-list>

        <mat-list-item *ngIf="!selectedSpace" matRipple routerLink="/features/spaces">
          <mat-icon matListItemIcon>space_dashboard</mat-icon>
          <div matListItemTitle>No Spaces. Click here to create one.</div>
        </mat-list-item>

        <ng-container *ngIf="selectedSpace">
          <mat-list-item matRipple [matMenuTriggerFor]="menuSpaces">
            <mat-icon matListItemIcon>space_dashboard</mat-icon>
            <div matListItemTitle>{{selectedSpace.name}}</div>
            <span matListItemMeta>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
            <mat-menu #menuSpaces="matMenu" yPosition="below" xPosition="after">
              <button mat-menu-item *ngFor="let space of spaces" (click)="onSpaceSelection(space)">
                {{space.name}}
              </button>
            </mat-menu>
          </mat-list-item>
          <mat-divider/>
          <div mat-subheader>Spaces</div>

          <ng-container *ngFor="let item of userSideMenu">
            <mat-list-item *ngIf="item.permission | canUserPerform | async" [routerLink]="[item.link]" routerLinkActive="active">
              <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
              <div matListItemTitle>{{item.label}}</div>
            </mat-list-item>
          </ng-container>
        </ng-container>

        <mat-divider/>
        <div mat-subheader>Admin</div>
        <ng-container *ngFor="let item of adminSideMenu">
          <mat-list-item *ngIf="item.permission | canUserPerform | async" [routerLink]="[item.link]" routerLinkActive="active">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            <div matListItemTitle>{{item.label}}</div>
          </mat-list-item>
        </ng-container>

        <mat-divider/>
        <div mat-subheader>Community and Support</div>
        <mat-list-item *ngFor="let item of communitySideMenu" (click)="openNewTab(item.link)">
          <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
          <div matListItemTitle>{{item.label}}</div>
        </mat-list-item>

        <mat-divider/>
        <div mat-subheader>Version : {{version}}</div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container *ngIf="isRoleNone">
        Please contact your administrator to grant you access to resources.
      </ng-container>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
