<div class="wrapper">
  <mat-toolbar class="main">
    <button mat-icon-button (click)="onMainMenuExpendedChangeState()" matTooltip="Menu">
      <mat-icon>{{ settingsStore.mainMenuExpended() ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    <img src="assets/logo-adaptive.svg" class="h-8 ml-2" alt="Logo" />
    @if (appSettingsStore.ui(); as ui) {
      @if (ui.text) {
        <span class="vertical-divider">&nbsp; </span>
        <span class="ml-2 post-logo-text-{{ ui.color }}">
          {{ ui.text }}
        </span>
      }
    }
    <span class="spacer"></span>

    @if (spaceStore.spaces(); as spaces) {
      @if (spaceStore.selectedSpace(); as selectedSpace) {
        <button mat-flat-button [matMenuTriggerFor]="spacesMenu" matTooltip="Select a Space">
          @if (selectedSpace.icon) {
            <mat-icon>{{ selectedSpace.icon }}</mat-icon>
          }
          {{ selectedSpace.name }}
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #spacesMenu="matMenu" yPosition="below" xPosition="after">
          @for (space of spaces; track space.id) {
            <button mat-menu-item (click)="onSpaceSelection(space)">
              @if (space.icon) {
                <mat-icon>{{ space.icon }}</mat-icon>
              }
              <span [class.font-semibold]="space.id === selectedSpace.id"> {{ space.name }} </span>
            </button>
          }
        </mat-menu>
      }
    } @else {
      <button mat-stroked-button color="warn" routerLink="/features/spaces">No Spaces. Click here to create one.</button>
    }

    <span class="spacer"></span>
    <span class="vertical-divider">&nbsp; </span>
    <button mat-icon-button routerLink="/features/welcome" matTooltip="Welcome">
      <mat-icon>waving_hand</mat-icon>
    </button>
    <button mat-icon-button (click)="openNewTab('https://github.com/sponsors/Lessify')" matTooltip="Sponsor Us">
      <mat-icon class="motion-safe:animate-bounce">volunteer_activism</mat-icon>
    </button>
    <button mat-icon-button (click)="openNewTab('https://localess.org/home')" matTooltip="Visit Localess.ORG">
      <mat-icon>public</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="supportMenu" matTooltip="Documentation and Support">
      <mat-icon>help_center</mat-icon>
    </button>
    <mat-menu #supportMenu="matMenu">
      @for (item of communitySideMenu; track item.label) {
        <button mat-menu-item (click)="openNewTab(item.link)">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </button>
      }
    </mat-menu>
    <span class="vertical-divider">&nbsp; </span>
    <button mat-icon-button (click)="switchTheme()" aria-label="Switch theme" matTooltip="Switch theme">
      <mat-icon class="dark:!hidden">dark_mode</mat-icon>
      <mat-icon class="!hidden dark:!block">light_mode</mat-icon>
    </button>
    <button mat-icon-button (click)="onSettingsMenuExpendedChangeState()" matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button routerLink="/features/me" matTooltip="My Profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="onLogoutClick()" matTooltip="LogOut">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container autosize="true">
    <mat-sidenav mode="side" opened="true" position="start" [class.collapsed]="!settingsStore.mainMenuExpended()">
      <mat-nav-list>
        @if (spaceStore.selectedSpace(); as selectedSpace) {
          @for (item of userSideMenu(); track item.label) {
            @if (item.permission | canUserPerform | async) {
              <mat-list-item [routerLink]="[item.link]" routerLinkActive="active">
                <mat-icon matListItemIcon [matTooltip]="item.label">{{ item.icon }}</mat-icon>
                @if (settingsStore.mainMenuExpended()) {
                  <div matListItemTitle>{{ item.label }}</div>
                }
              </mat-list-item>
            }
          }
        }

        @if (['USER_MANAGEMENT', 'SPACE_MANAGEMENT'] | canUserPerform | async) {
          <mat-divider />
          @if (settingsStore.mainMenuExpended()) {
            <div mat-subheader>Admin</div>
          }
          @for (item of adminSideMenu; track item.label) {
            @if (item.permission | canUserPerform | async) {
              <mat-list-item [routerLink]="[item.link]" routerLinkActive="active">
                <mat-icon matListItemIcon [matTooltip]="item.label">{{ item.icon }}</mat-icon>
                @if (settingsStore.mainMenuExpended()) {
                  <div matListItemTitle>{{ item.label }}</div>
                }
              </mat-list-item>
            }
          }
        }

        <mat-divider />
        @if (latestRelease?.tag_name > 'v' + version) {
          <mat-list-item
            (click)="openNewTab('https://localess.org/changelog/v2#' + latestRelease.tag_name)"
            [matTooltip]="'A new version is available : ' + latestRelease.name">
            <mat-icon matListItemIcon class="motion-safe:animate-pulse flash"> release_alert </mat-icon>
            @if (settingsStore.mainMenuExpended()) {
              Version : {{ version }}
            }
          </mat-list-item>
        } @else {
          <mat-list-item matTooltip="You are on the latest version." (click)="openNewTab('https://localess.org/changelog/v2')">
            <mat-icon matListItemIcon> new_releases </mat-icon>
            @if (settingsStore.mainMenuExpended()) {
              Version : {{ version }}
            }
          </mat-list-item>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav mode="over" [opened]="isSettingsMenuExpended()" position="end" (openedChange)="isSettingsMenuExpended.set($event)">
      <mat-list>
        <div mat-subheader>Settings</div>
        @if (isDebug) {
          <mat-list-item>
            <mat-slide-toggle [checked]="settingsStore.debugEnabled()" (change)="onDebugEnabledChangeState()">
              Enable Debug
            </mat-slide-toggle>
          </mat-list-item>
        }
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      @if (userStore.role() === undefined) {
        Please contact your administrator to grant you access to resources.
      }
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
