<div hlmSidebarWrapper>
  <hlm-sidebar collapsible="icon" variant="sidebar">
    <div hlmSidebarHeader>
      <a routerLink="/">
        <ll-logo [open]="sidebarService.open() || sidebarService.openMobile()" />
      </a>
      @if (sidebarService.open() || sidebarService.openMobile()) {
        @if (appSettingsStore.ui(); as ui) {
          @if (ui.text) {
            <div class="flex justify-center">
              <span [class]="appTextClass()"> {{ ui.text }} </span>
            </div>
          }
        }
      }
      <ul hlmSidebarMenu>
        @if (spaceStore.spaces().length > 0) {
          <li hlmSidebarMenuItem>
            <button hlmSidebarMenuButton [hlmDropdownMenuTrigger]="spaceMenu" side="bottom">
              <ng-icon hlm name="tablerSpaces" />
              <span>{{ spaceStore.selectedSpace()?.name }}</span>
              <ng-icon hlm name="lucideChevronDown" class="ml-auto" />
            </button>
            <ng-template #spaceMenu>
              <hlm-dropdown-menu class="w-60">
                @for (space of spaceStore.spaces(); track space.id) {
                  <button hlmDropdownMenuRadio [checked]="space.id === spaceStore.selectedSpaceId()" (click)="onSpaceSelection(space)">
                    <hlm-dropdown-menu-radio-indicator />
                    <span> {{ space.name }} </span>
                  </button>
                }
              </hlm-dropdown-menu>
            </ng-template>
          </li>
        }
      </ul>
    </div>
    <div hlmSidebarContent>
      @if (spaceStore.selectedSpace()) {
        <div hlmSidebarGroup>
          <div hlmSidebarGroupLabel>Space</div>
          <div hlmSidebarGroupContent>
            <ul hlmSidebarMenu>
              @for (item of userSideMenu(); track item.label) {
                @if (item.permission | canUserPerform | async) {
                  <li hlmSidebarMenuItem>
                    <a hlmSidebarMenuButton [routerLink]="[item.link]" routerLinkActive #rla="routerLinkActive" [isActive]="rla.isActive">
                      <ng-icon hlm [name]="item.icon" [hlmTooltip]="item.label" />
                      <span>{{ item.label }}</span>
                    </a>
                  </li>
                }
              }
            </ul>
          </div>
        </div>
      }
      @if (['USER_MANAGEMENT', 'SPACE_MANAGEMENT'] | canUserPerform | async) {
        <div hlmSidebarGroup>
          <div hlmSidebarGroupLabel>Admin</div>
          <div hlmSidebarGroupContent>
            <ul hlmSidebarMenu>
              @for (item of adminSideMenu; track item.label) {
                @if (item.permission | canUserPerform | async) {
                  <li hlmSidebarMenuItem>
                    <a hlmSidebarMenuButton [routerLink]="[item.link]" routerLinkActive #rla="routerLinkActive" [isActive]="rla.isActive">
                      <ng-icon hlm [name]="item.icon" [hlmTooltip]="item.label" />
                      <span>{{ item.label }}</span>
                    </a>
                  </li>
                }
              }
            </ul>
          </div>
        </div>
      }
    </div>
    <div hlmSidebarFooter>
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem hlmTooltip="Welcome">
          <button hlmSidebarMenuButton routerLink="/features/welcome" routerLinkActive #rla="routerLinkActive" [isActive]="rla.isActive">
            <ng-icon hlm name="lucideCircleQuestionMark" />
            Welcome
          </button>
        </li>
        <li hlmSidebarMenuItem hlmTooltip="Support">
          <button hlmSidebarMenuButton [hlmDropdownMenuTrigger]="menu" side="right">
            <ng-icon hlm name="lucideLifeBuoy" />
            Support
            <hlm-dropdown-menu-item-sub-indicator />
          </button>
        </li>
        <ng-template #menu>
          <hlm-dropdown-menu>
            @for (menuItem of communitySideMenu; track menuItem.label) {
              <button hlmDropdownMenuItem (click)="openNewTab(menuItem.link)">
                <ng-icon [name]="menuItem.icon" />
                {{ menuItem.label }}
                <ng-icon name="lucideExternalLink" class="ml-auto" />
              </button>
            }
          </hlm-dropdown-menu>
        </ng-template>

        <li hlmSidebarMenuItem hlmTooltip="Sponsor Us">
          <button hlmSidebarMenuButton (click)="openNewTab('https://localess.org/sponsoring')">
            <ng-icon hlm name="lucideHeartHandshake" />
            Sponsor Us
          </button>
        </li>
        @if (latestRelease && latestRelease.tag_name > 'v' + version) {
          <li hlmSidebarMenuItem [hlmTooltip]="'A new version is available : ' + latestRelease.name">
            <button hlmSidebarMenuButton (click)="openNewTab('https://localess.org/changelog/v2#' + latestRelease.tag_name)">
              <ng-icon hlm name="lucideShieldAlert" class="flash motion-safe:animate-pulse" />
              Version: {{ version }}
            </button>
          </li>
        } @else {
          <li hlmSidebarMenuItem hlmTooltip="You are on the latest version.">
            <button hlmSidebarMenuButton (click)="openNewTab('https://localess.org/changelog/v2')">
              <ng-icon hlm name="lucideShieldCheck" />
              Version: {{ version }}
            </button>
          </li>
        }
        <li hlmSidebarMenuItem>
          <button hlmSidebarMenuButton size="lg" [hlmDropdownMenuTrigger]="userMenu" side="right" class="flex gap-2">
            <hlm-avatar>
              <img [src]="userStore.photoURL()" hlmAvatarImage alt="User Avatar" />
              <span class="text-primary-foreground bg-primary" hlmAvatarFallback>{{ userStore.initials() }}</span>
            </hlm-avatar>
            <div class="grid flex-1 text-left text-sm leading-tight">
              <span class="truncate font-medium">{{ userStore.displayName() }}</span>
              <span class="text-muted-foreground truncate text-xs">{{ userStore.email() }}</span>
            </div>
            <ng-icon hlm name="lucideChevronsUpDown" class="ml-auto" />
          </button>
          <ng-template #userMenu>
            <hlm-dropdown-menu class="w-60">
              <div class="flex gap-2 p-2">
                <hlm-avatar>
                  <img [src]="userStore.photoURL()" hlmAvatarImage alt="User Avatar" />
                  <span class="text-primary-foreground bg-primary" hlmAvatarFallback>{{ userStore.initials() }}</span>
                </hlm-avatar>
                <div class="grid flex-1 text-left text-sm leading-tight">
                  <span class="truncate font-medium">{{ userStore.displayName() }}</span>
                  <span class="text-muted-foreground truncate text-xs">{{ userStore.email() }}</span>
                </div>
              </div>
              <hlm-dropdown-menu-separator />
              <button hlmDropdownMenuItem routerLink="/features/me" hlmTooltip="Profile">
                <ng-icon name="lucideUserCircle" />
                Profile
              </button>
              <hlm-dropdown-menu-separator />
              <button hlmDropdownMenuItem (click)="onLogoutClick()" hlmTooltip="Log Out">
                <ng-icon name="lucideLogOut" />
                Log out
              </button>
            </hlm-dropdown-menu>
          </ng-template>
        </li>
      </ul>
    </div>
  </hlm-sidebar>
  <main hlmSidebarInset>
    <header class="flex h-12 items-center justify-between border-b">
      <div id="header-breadcrumbs" class="flex h-5 w-full items-center gap-2 px-4">
        <button hlmSidebarTrigger><span class="sr-only"></span></button>
        <hlm-separator orientation="vertical" />
        <nav hlmBreadcrumb>
          <ol hlmBreadcrumbList>
            @for (breadcrumb of breadcrumbs(); track breadcrumb.route; let isLast = $last; let isFirst = $first) {
              @if (!isFirst) {
                <li hlmBreadcrumbSeparator></li>
              }
              <li hlmBreadcrumbItem>
                @if (isLast) {
                  <span hlmBreadcrumbPage>{{ breadcrumb.label }}</span>
                  @if (breadcrumb.helpUrl) {
                    <a hlmBtn variant="link" size="icon-sm" [href]="breadcrumb.helpUrl" target="_blank" hlmTooltip="Help Article">
                      <ng-icon name="lucideBadgeInfo" />
                    </a>
                  }
                } @else {
                  <a hlmBreadcrumbLink [link]="breadcrumb.route">{{ breadcrumb.label }}</a>
                }
              </li>
            }
          </ol>
        </nav>
      </div>
      <div id="header-actions" class="flex items-center gap-2 px-4">
        @if (isDebug) {
          <button hlmBtn size="icon-sm" variant="ghost" (click)="showDebugSettings.set(true)" hlmTooltip="App Settings" position="bottom">
            <ng-icon hlm name="lucideSettings" size="sm" />
          </button>
        }
        <button
          hlmBtn
          size="icon-sm"
          variant="ghost"
          (click)="switchTheme()"
          aria-label="Switch theme"
          hlmTooltip="Switch theme"
          position="bottom">
          <ng-icon hlm [name]="settingsStore.theme() === 'light' ? 'lucideMoon' : 'lucideSun'" size="sm" />
        </button>
      </div>
    </header>
    @if (userStore.role() === undefined) {
      Please contact your administrator to grant you access to resources.
    }
    <router-outlet></router-outlet>
  </main>
  <hlm-sheet side="right" [state]="showDebugSettings() ? 'open' : 'closed'" (closed)="showDebugSettings.set(false)">
    <hlm-sheet-content *hlmSheetPortal="let ctx">
      <hlm-sheet-header>
        <h3 hlmSheetTitle>Debug Settings</h3>
      </hlm-sheet-header>
      <div>
        <div class="px-4">
          <fieldset hlmFieldSet>
            <div hlmFieldGroup class="gap-4">
              <div hlmField orientation="horizontal">
                <hlm-switch id="enableDebug" [checked]="settingsStore.debugEnabled()" (checkedChange)="settingsStore.setDebug($event)" />
                <label hlmFieldLabel for="enableDebug">Enable Debug</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </hlm-sheet-content>
  </hlm-sheet>
  <hlm-toaster />
</div>
