th,
td {
  &.ll-column-id {
    width: 150px;
    max-width: 150px;
  }
  &.ll-column-version {
    width: 80px;
    max-width: 80px;
  }
  &.ll-column-permissions {
    width: 110px;
    max-width: 110px;
  }
  &.ll-column-cacheTtl {
    width: 110px;
    max-width: 110px;
  }
  &.ll-column-updatedAt {
    width: 120px;
    max-width: 120px;
  }
  &.ll-column-actions {
    width: 120px;
    max-width: 120px;
  }
}
