<div class="flex items-center justify-end gap-2 p-2">
  <button hlmBtn (click)="openAddDialog()">
    <ng-icon hlm size="sm" name="lucidePlus" />
    Add Token
  </button>
</div>
@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}
<div class="my-3">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Token </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <code>{{ element.id.substring(0, 10) }}...</code>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef> Version </mat-header-cell>
      <mat-cell *matCellDef="let element"> v{{ element.version ? element.version : '1' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="permissions">
      <mat-header-cell *matHeaderCellDef> Permissions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.permissions && element.permissions.length > 0) {
          <span hlmBadge variant="outline" [hlmTooltip]="permissionsToText(element.permissions)">{{ element.permissions.length }}</span>
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt"> Updated At </mat-header-cell>
      <mat-cell *matCellDef="let element" [hlmTooltip]="element.updatedAt?.toDate() | date: 'medium'">
        {{ element.updatedAt?.toDate() | date: 'mediumDate' }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          hlmBtn
          size="icon"
          variant="ghost"
          [cdkCopyToClipboard]="element.id"
          (cdkCopyToClipboardCopied)="copied()"
          hlmTooltip="Copy Token">
          <ng-icon hlm size="sm" name="lucideCopy" />
        </button>
        <button hlmBtn size="icon" variant="ghost" (click)="openEditDialog(element)" hlmTooltip="Edit">
          <ng-icon hlm size="sm" name="lucidePencil" />
        </button>
        <button hlmBtn size="icon" variant="ghost" (click)="openDeleteDialog(element)" hlmTooltip="Delete">
          <ng-icon hlm size="sm" name="lucideTrash" />
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator class="mat-paginator-sticky"></mat-paginator>
</div>
