<hlm-dialog-header>
  <h2 hlmDialogTitle>Add Locale</h2>
  <p hlmDialogDescription>Choose the locale you with to work in your translations and content</p>
</hlm-dialog-header>
<form [formGroup]="form">
  <div hlmFieldGroup>
    <div hlmField>
      <label hlmFieldLabel for="locale">Locale</label>
      <hlm-combobox id="locale" formControlName="locale" [(search)]="search" [itemToString]="displayLocale">
        <hlm-combobox-input placeholder="English" showClear>
          @if (selectedLocale(); as locale) {
            <hlm-input-group-addon align="inline-start">
              <ll-locale-icon [locale]="locale.id" />
            </hlm-input-group-addon>
          }
        </hlm-combobox-input>
        <hlm-combobox-content *hlmComboboxPortal>
          <hlm-combobox-empty>No locale found.</hlm-combobox-empty>
          <div hlmComboboxList>
            @for (locale of filteredOptions(); track locale.id) {
              <hlm-combobox-item [value]="locale">
                <ll-locale-icon class="mr-2" [locale]="locale.id" />
                {{ locale.name }}
              </hlm-combobox-item>
            }
          </div>
        </hlm-combobox-content>
      </hlm-combobox>
      @if (form.controls['locale'].errors; as errors) {
        <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
      }
    </div>
  </div>
</form>
<hlm-dialog-footer>
  <button hlmBtn variant="outline" hlmDialogClose>Cancel</button>
  <button hlmBtn [disabled]="!form.valid" (click)="save()">Save</button>
</hlm-dialog-footer>
