@if (component(); as field) {
  <div hlmField class="gap-2">
    <label hlmFieldLabel [for]="'schema-field-' + field.name">
      {{ field.displayName || field.name }}
      @if (field.description) {
        <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
      }
      @if (field.translatable) {
        <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
      }
    </label>
    <div hlmInputGroup>
      <tiptap-editor [id]="'schema-field-' + field.name" class="block w-full" [editor]="editor" outputFormat="json" [formControl]="form()">
      </tiptap-editor>
      <div hlmInputGroupAddon align="block-start" class="flex flex-wrap border-b">
        <ll-editor-toolbar [editor]="editor" [disabled]="form().disabled" />
        @if (field.translatable && !isDefaultLocale()) {
          <ll-translate-menu
            [selectedLocale]="selectedLocale()"
            [availableLocales]="availableLocales()"
            [fallbackLocale]="fallbackLocale()"
            (translateFrom)="translate(field.name, $event, selectedLocaleId())" />
        }
      </div>
    </div>
    @if (field.maxLength) {
      <p hlmFieldDescription class="content-end">{{ field.maxLength - (form().value?.length || 0) }} characters left</p>
    }
    @if (form().errors; as errors) {
      <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
    }
  </div>
}
