<mat-toolbar>
  <mat-toolbar-row>
    Schemas
    <a mat-icon-button target="_blank" href="https://localess.org/docs/schemas/overview" matTooltip="Help Article">
      <mat-icon>help</mat-icon>
    </a>
    <span class="spacer"></span>
    @if ('SCHEMA_CREATE' | canUserPerform | async) {
      <button mat-stroked-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
        Add Schema
      </button>
    }
    <button mat-icon-button [matMenuTriggerFor]="extraMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #extraMenu="matMenu">
      @if ('SCHEMA_IMPORT' | canUserPerform | async) {
        <button mat-menu-item (click)="openImportDialog()">
          <mat-icon>cloud_upload</mat-icon>
          <span>Import</span>
        </button>
      }
      @if ('SCHEMA_EXPORT' | canUserPerform | async) {
        <button mat-menu-item (click)="openExportDialog()">
          <mat-icon>cloud_download</mat-icon>
          <span>Export</span>
        </button>
      }
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
@if (isLoading) {
  <mat-progress-bar mode="query" />
}
<div class="container-full-screen">
  <div class="flex flex-row gap-2">
    <div class="basis-1/4">
      <mat-form-field>
        <mat-label>Labels</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter Labels">
          @for (label of filterLabels(); track label) {
            <mat-chip-row (removed)="removeLabel(label)">
              {{ label }}
              <button matChipRemove [attr.aria-label]="'Remove ' + label">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          matInput
          placeholder="New Label..."
          [(ngModel)]="currentLabel"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedLabel($event)">
          @for (label of filteredLabels(); track label) {
            <mat-option [value]="label">{{ label }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header="id"> Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.displayName }} &nbsp;<span class="schema-id">#{{ element.id }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.description }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="labels">
      <mat-header-cell *matHeaderCellDef> Labels</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-set>
          @for (label of element.labels; track label) {
            <mat-chip [highlighted]="filterLabels().includes(label)">{{ label }}</mat-chip>
          }
        </mat-chip-set>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header="type"> Type</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon>{{ schemaTypeIcons[element.type] }}</mat-icon> &nbsp; {{ element.type }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="createdAt"> Created At</mat-header-cell>
      <mat-cell *matCellDef="let element" [matTooltip]="element.createdAt?.toDate() | date: 'medium'">
        {{ element.createdAt?.toDate() | date: 'mediumDate' }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt"> Updated At</mat-header-cell>
      <mat-cell *matCellDef="let element" [matTooltip]="element.updatedAt?.toDate() | date: 'medium'">
        {{ element.updatedAt?.toDate() | date: 'mediumDate' }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if ('SCHEMA_UPDATE' | canUserPerform | async) {
          <button mat-icon-button (click)="openEditIdDialog(element)" matTooltip="Edit ID">
            <mat-icon>rebase_edit</mat-icon>
          </button>
        }
        @if ('SCHEMA_UPDATE' | canUserPerform | async) {
          <button mat-icon-button (click)="openEditDialog(element)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
        }
        @if ('SCHEMA_DELETE' | canUserPerform | async) {
          <button mat-icon-button (click)="openDeleteDialog($event, element)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator></mat-paginator>
</div>
