table {
  width: 100%;
}

tr[ll-row] {
  cursor: pointer;
}

th,
td {
  &.ll-column-type {
    width: 100px;
    max-width: 100px;
  }

  &.ll-column-updatedAt {
    width: 120px;
    max-width: 120px;
  }

  &.ll-column-actions {
    width: 80px;
    max-width: 80px;
  }
}
