<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{entity?.displayName}}</span>&nbsp;
    <span class="text-muted">#{{entity?.name}}</span>
    <span class="spacer"></span>

    <button *ngIf="'SCHEMA_UPDATE' | canUserPerform | async"
            mat-raised-button color="primary" matTooltip="Save the schema"
            [disabled]="!form.valid || isSaveLoading"
            (click)="save()"
    >
      <ll-icon [animate]="isSaveLoading" start="save" end="sync"/>
      Save
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="isLoading" class="loader">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading" class="container-fluid mt-3">
  <form [formGroup]="form" class="step-container">
    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" required minLength="3" maxlength="50" [readonly]="nameReadonly" autocomplete="off"/>
          <button mat-icon-button matIconSuffix (click)="nameReadonly = !nameReadonly" [attr.aria-pressed]="true">
            <mat-icon>{{nameReadonly ? 'edit_off' : 'edit'}}</mat-icon>
          </button>
          <mat-hint>Will be used in JSON structure.</mat-hint>
          <mat-hint align="end">{{form.controls['name'].value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="form.controls['name'].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Display Name</mat-label>
          <input matInput type="text" formControlName="displayName" minLength="3" maxlength="50" autocomplete="off"/>
          <mat-hint align="end">{{form.controls['displayName'].value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="form.controls['displayName'].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Preview Field</mat-label>
          <input matInput type="text" formControlName="previewField" minLength="3" maxlength="50" autocomplete="off"/>
          <mat-hint align="end">{{form.controls['previewField'].value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="form.controls['previewField'].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>

        <mat-nav-list cdkDropList class="ll-mat-nav-list-gap" (cdkDropListDropped)="fieldDropDrop($event)">
          <mat-divider></mat-divider>
          <div mat-subheader>Fields</div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" [formControl]="newFieldName" autocomplete="off"/>
            <button mat-raised-button matTextSuffix
                    color="accent"
                    (click)="addField()"
                    [disabled]="!newFieldName.valid">
              Add
            </button>
            <mat-error *ngIf="newFieldName.errors as errors">{{fe.errors(errors)}}</mat-error>
          </mat-form-field>
          <mat-list-item cdkDrag *ngFor="let field of fields.controls; let index = index"
                         (click)="selectComponent(index)"
                         [class.active]="index === selectedFieldIdx"
                         [class.invalid]="field.invalid">
            <mat-icon matListItemIcon cdkDragHandle>drag_indicator</mat-icon>
            <mat-icon matListItemIcon class="type">{{schemaFieldKindDescriptions[field.value.kind].icon}}</mat-icon>
            <span matListItemTitle>{{field.value.displayName}} <span class="text-muted">#{{field.value.name}}</span></span>
            <span matListItemLine>
              <span class="badge text-bg-secondary">{{field.value.kind}}</span>
              <ng-container *ngIf="field.value.translatable">
                &nbsp;<span class="badge text-bg-secondary">Translatable</span>
              </ng-container>
              <ng-container *ngIf="field.value.required">
                &nbsp;<span class="badge text-bg-secondary">Required</span>
              </ng-container>

            </span>
            <span matListItemMeta>
              <button mat-icon-button (click)="removeComponent($event, index)">
                <mat-icon>delete</mat-icon>
              </button>
              <mat-icon>arrow_right</mat-icon>
            </span>
          </mat-list-item>
        </mat-nav-list>

      </div>
      <div class="col-8" formArrayName="fields" *ngIf="fields.at(selectedFieldIdx === undefined ? -100 : selectedFieldIdx) as selectedComponent">
        <ll-schema-field-edit [form]="selectedComponent" [reservedNames]="fieldReservedNames" [schemas]="schemas"/>
      </div>
    </div>
  </form>
</div>

<ng-container *ngIf="isDebug">
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form : {{form?.valid}} </mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{form.value | json}}</pre>
      <pre>{{form.errors | json}}</pre>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
