<h1 mat-dialog-title>User</h1>
<mat-dialog-content>
  <form [formGroup]="form" class="step-container">
    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role" required>
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role | uppercase}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['role'].errors">{{fe.controlError(form.controls['role'])}}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
