table {
  width: 100%;
}

mat-dialog-content {
  @apply pt-0 #{!important};
}

mat-row {
  cursor: pointer;
}

mat-header-cell,
mat-cell {
  &.mat-column-select {
    max-width: 80px;
  }
  &.mat-column-status {
    max-width: 80px;
  }
  &.mat-column-updatedAt {
    max-width: 130px;
  }
}
