table {
  width: 100%;
}

mat-dialog-content {
  padding-top: 0 !important;
  padding-bottom: 0.25rem !important;/* 4px */;
}

mat-row {
  cursor: pointer;
}

mat-header-cell,
mat-cell {
  &.mat-column-select {
    max-width: 80px;
  }
  &.mat-column-status {
    max-width: 80px;
  }
  &.mat-column-updatedAt {
    max-width: 130px;
  }
}
