:host {
  height: 100%;
  display: block;
}

mat-form-field {
  width: 100%;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: calc(100% - 695px);
}

.container-fluid {
  height: calc(100vh - 128px);
}

mat-card.browser {
  height: 100%;
  mat-card-content {
    height: 100%;
    padding: 0;
    &.center {
      align-self: center;
    }
    iframe {
      width: 100%;
      min-width: 100%;
      height: calc(100% - 5px);
      border: none;
      //border: #003dff 1px solid;
      &.sm {
        min-width: 640px
      }
      &.md {
        min-width: 768px
      }
      &.lg {
        min-width: 1024px
      }
      &.xl {
        min-width: 1280px
      }
      &.xxl {
        min-width: 1536px
      }
    }
  }
}

.title {
  font: var(--mat-sys-title-large);
}

.subtitle {
  font: var(--mat-sys-title-medium);
  color: var(--mat-sys-secondary);
}

iframe {

}
