<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title">{{ document()?.name }}</span>
    &nbsp;
    <span class="subtitle">#{{ document()?.slug }}</span>
    <span class="spacer"></span>
    <div class="actions">
      <button mat-stroked-button [matMenuTriggerFor]="modeMenu" matTooltip="Select Mode">
        @if (settingsStore.editorEnabled()) {
          <mat-icon>format_shapes</mat-icon>
        } @else {
          <mat-icon>edit_note</mat-icon>
        }
        @if (settingsStore.editorEnabled()) {
          Visual Editor
        } @else {
          Form Mode
        }
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #modeMenu="matMenu">
        <button mat-menu-item (click)="settingsStore.setEditorEnabled(true)">
          <mat-icon>format_shapes</mat-icon>
          <span [ngClass]="{ 'font-semibold': settingsStore.editorEnabled() === true }"> Visual Editor </span>
        </button>
        <button mat-menu-item (click)="settingsStore.setEditorEnabled(false)">
          <mat-icon>edit_note</mat-icon>
          <span [ngClass]="{ 'font-semibold': settingsStore.editorEnabled() === false }"> Form Mode </span>
        </button>
      </mat-menu>

      <button mat-stroked-button [matMenuTriggerFor]="localesMenu" matTooltip="Select a locale">
        {{ selectedLocale.name }}
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #localesMenu="matMenu">
        @for (locale of availableLocales(); track locale.id) {
          <button mat-menu-item (click)="onLocaleChanged(locale)">
            <span [ngClass]="{ 'font-semibold': locale.id === selectedLocale.id }">
              {{ locale.name }}
            </span>
          </button>
        }
      </mat-menu>

      @if (contentErrors.length > 0) {
        <button mat-icon-button [matMenuTriggerFor]="contentErrorsMenu">
          <mat-icon color="warn" [matBadge]="contentErrors.length" matBadgeColor="warn">error_outline</mat-icon>
        </button>
      }

      <mat-menu class="mat-menu-error-messages" #contentErrorsMenu="matMenu" xPosition="before">
        <div class="vstack gap-1">
          @for (error of contentErrors; track error.contentId) {
            <div class="p-2">
              <mat-icon color="accent">warning</mat-icon>
              In <b>{{ error.schema }}</b> the <b>{{ error.fieldDisplayName || error.fieldName }}</b> {{ fe.errors(error.errors) }} for
              Locale
              {{ availableLocalesMap().get(error.locale) }}
            </div>
          }
        </div>
      </mat-menu>
      @if ('CONTENT_UPDATE' | canUserPerform | async) {
        <button mat-flat-button matTooltip="Save the changes." [disabled]="isSaveLoading() || isPublishLoading()" (click)="save()">
          <mat-icon [llAnimate]="isSaveLoading()">{{ isSaveLoading() ? 'sync' : 'save' }}</mat-icon>
          Save
        </button>
      }
      @if ('CONTENT_PUBLISH' | canUserPerform | async) {
        <button
          mat-stroked-button
          matTooltip="Publish to be available via API call"
          [disabled]="isPublishLoading() || isSaveLoading()"
          (click)="publish()">
          <mat-icon [llAnimate]="isPublishLoading()">{{ isPublishLoading() ? 'sync' : 'publish' }}</mat-icon>
          Publish
        </button>
      }
      @if (document()?.publishedAt === undefined) {
        <ll-status mode="offline" matTooltip="Not published" />
      } @else if (document()?.publishedAt?.seconds > document()?.updatedAt?.seconds) {
        <ll-status mode="online" matTooltip="Published" />
      } @else if (document()?.publishedAt && document()?.publishedAt?.seconds < document()?.updatedAt?.seconds) {
        <ll-status mode="away" matTooltip="Draft" />
      }

      <button mat-icon-button (click)="showHistory = !showHistory" matTooltip="History">
        <mat-icon>history</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="importMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #importMenu="matMenu">
        @for (locale of selectedSpace?.locales; track locale.id) {
          <button mat-menu-item (click)="openDraftInNewTab(locale.id)">
            <mat-icon>mode_edit</mat-icon>
            <span>Draft {{ locale.name }} JSON</span>
          </button>
        }
        <mat-divider />
        @for (locale of selectedSpace?.locales; track locale.id) {
          <button mat-menu-item (click)="openPublishedInNewTab(locale.id)">
            <mat-icon>public</mat-icon>
            <span>Published {{ locale.name }} JSON</span>
          </button>
        }
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

@if (isLoading()) {
  <mat-progress-bar mode="query" />
}

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="full-screen container-fluid">
      <mat-drawer-container autosize="true">
        <mat-drawer mode="side" [opened]="settingsStore.editorEnabled()">
          @if (selectedEnvironment) {
            <mat-card appearance="outlined" class="browser">
              <mat-card-header>
                <mat-card-title>{{ selectedEnvironment?.name }}</mat-card-title>
                <mat-card-subtitle>{{ selectedEnvironment?.url }}</mat-card-subtitle>
                <span class="spacer"></span>
                <mat-button-toggle-group
                  hideSingleSelectionIndicator="true"
                  (change)="settingsStore.setEditorSize($event.value)"
                  [value]="settingsStore.editorSize()"
                  style="height: 42px">
                  <mat-button-toggle value="" matTooltip="Fullscreen">
                    <mat-icon>screenshot_monitor</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="sm" matTooltip="Smartphone: 640px">
                    <mat-icon>smartphone</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="md" matTooltip="Tablet: 768px">
                    <mat-icon>tablet</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="lg" matTooltip="Laptop: 1024px">
                    <mat-icon>laptop_windows</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="xl" matTooltip="Desktop: 1280px">
                    <mat-icon>desktop_windows</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
                <button mat-icon-button matTooltip="Reload" (click)="changeEnvironment(selectedEnvironment)">
                  <mat-icon>refresh</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="envMenu">
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #envMenu="matMenu">
                  @for (env of selectedSpace?.environments; track env.name) {
                    <button mat-menu-item (click)="changeEnvironment(env)" [disabled]="env === selectedEnvironment">
                      {{ env.name }} | {{ env.url }}
                    </button>
                  }
                </mat-menu>
              </mat-card-header>
              <mat-divider />
              <mat-card-content [ngClass]="{ center: settingsStore.editorSize() !== '' }">
                <iframe id="previewId" #preview [src]="iframeUrl" [class]="settingsStore.editorSize()"></iframe>
              </mat-card-content>
            </mat-card>
          } @else {
            <div class="text-center">
              No Configured Environments.<br />
              You can configure them in Settings.
            </div>
          }
        </mat-drawer>
        <mat-drawer-content>
          @if (rootSchema) {
            <div class="flex flex-col mx-auto max-w-screen-lg p-4">
              <ll-breadcrumb>
                @for (schemaPathItem of schemaPath(); track schemaPathItem.contentId; let isFirst = $first) {
                  <ll-breadcrumb-item (click)="navigateToSchemaBackwards(schemaPathItem)" [home]="isFirst">
                    @if (schemaMapById().get(schemaPathItem.schemaName); as sch) {
                      {{ sch.displayName || sch.id }}
                    }
                  </ll-breadcrumb-item>
                }
              </ll-breadcrumb>
              <ll-content-document-schema-edit
                [data]="selectedDocumentData"
                [schemas]="schemas()"
                [selectedLocale]="selectedLocale"
                [availableLocales]="availableLocales()"
                [hoverSchemaPath]="hoverSchemaPath()"
                [hoverSchemaField]="isSamePath() ? hoverSchemaField() : undefined"
                [clickSchemaField]="clickSchemaField()"
                [documents]="documents"
                [space]="selectedSpace"
                (schemaChange)="onSchemaChange($event)"
                (formChange)="onFormChange($event)"
                (structureChange)="onStructureChange($event)" />
            </div>
          }
        </mat-drawer-content>
      </mat-drawer-container>

      @if (settingsStore.debugEnabled()) {
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>EditDocumentComponent Content</mat-panel-title>
            </mat-expansion-panel-header>
            <pre>{{ documentData | json }}</pre>
          </mat-expansion-panel>
        </mat-accordion>
      }
    </div>
  </mat-sidenav-content>
  <mat-sidenav position="end" [opened]="showHistory" (openedChange)="showHistory = $event">
    @if (showHistory) {
      <div class="flow-root m-4">
        <ul role="list" class="-mb-8">
          @for (item of history$ | async; track item.id; let isLast = $last) {
            <li>
              <div class="relative pb-5">
                <div class="relative flex space-x-3">
                  @switch (item.type) {
                    @case ('PUBLISHED') {
                      <div>
                        <span class="h-8 w-8 rounded-full flex items-center justify-center">
                          <mat-icon>publish</mat-icon>
                        </span>
                      </div>
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm">
                            Published by
                            <span class="font-medium" [matTooltip]="item.email || 'Unknown'">
                              {{ item.name || 'Unknown' }}
                            </span>
                          </p>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm">
                          <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                        </div>
                      </div>
                    }
                    @case ('CREATE') {
                      <div>
                        <span class="h-8 w-8 rounded-full flex items-center justify-center">
                          <mat-icon>add</mat-icon>
                        </span>
                      </div>
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm">
                            Created with name <span class="font-medium break-all">{{ item.cName }}</span> and slug
                            <span class="font-medium break-all">{{ item.cSlug }}</span> by
                            <span class="font-medium" [matTooltip]="item.email || 'Unknown'">
                              {{ item.name || 'Unknown' }}
                            </span>
                          </p>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm">
                          <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                        </div>
                      </div>
                    }
                    @case ('UPDATE') {
                      <div>
                        <span class="h-8 w-8 rounded-full flex items-center justify-center">
                          <mat-icon>edit</mat-icon>
                        </span>
                      </div>
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm">
                            Updated with
                            @if (item.cName) {
                              name <span class="font-medium break-all">{{ item.cName }}</span>
                            }
                            @if (item.cSlug) {
                              @if (item.cName) {
                                and
                              }
                              slug <span class="font-medium break-all">{{ item.cSlug }}</span>
                            }
                            @if (item.cParentSlug) {
                              parent slug <span class="font-medium break-all">{{ item.cParentSlug }}</span>
                            } @else if (item.cData) {
                              content
                            } @else {
                              nothing
                            }
                            by
                            <span class="font-medium" [matTooltip]="item.email || 'Unknown'">
                              {{ item.name || 'Unknown' }}
                            </span>
                          </p>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm">
                          <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                        </div>
                      </div>
                    }
                    @default {
                      <div>
                        <span class="h-8 w-8 rounded-full flex items-center justify-center">
                          <mat-icon>question_mark</mat-icon>
                        </span>
                      </div>
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm">Unknown</p> by
                          <span class="font-medium" [matTooltip]="item.email || 'Unknown'">
                            {{ item.name || 'Unknown' }}
                          </span>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm">
                          <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                        </div>
                      </div>
                    }
                  }
                </div>
              </div>
            </li>
          } @empty {
            No Records found
          }
        </ul>
      </div>
    }
  </mat-sidenav>
</mat-sidenav-container>
