<div class="p-2 flex items-center justify-between gap-2">
  <div>
    <button hlmBtn size="icon" variant="ghost" (click)="back()" hlmTooltipTrigger="Back to Contents">
      <ng-icon hlm size="sm" name="lucideArrowLeft" />
    </button>
    <span class="title">{{ document().name }}</span>
    &nbsp;
    <span class="subtitle">#{{ document().slug }}</span>
  </div>
  <div class="flex items-center gap-2">
    <hlm-toggle-group type="single" variant="outline" [value]="settingsStore.editorEnabled()">
      <button
        hlmToggleGroupItem
        [value]="true"
        aria-label="Visual Editor"
        hlmTooltipTrigger="Visual Editor"
        (click)="settingsStore.setEditorEnabled(true)">
        <ng-icon hlm size="sm" name="lucideVectorSquare" />
      </button>
      <button
        hlmToggleGroupItem
        [value]="false"
        aria-label="Form Mode"
        hlmTooltipTrigger="Form Mode"
        (click)="settingsStore.setEditorEnabled(false)">
        <ng-icon hlm size="sm" name="lucideFormInput" />
      </button>
    </hlm-toggle-group>

    <button hlmBtn variant="outline" [hlmDropdownMenuTrigger]="localeMenu" side="bottom" hlmTooltipTrigger="Select Locale">
      {{ selectedLocale.name }}
      <ng-icon hlm size="sm" name="lucideChevronDown" class="ml-auto" />
    </button>
    <ng-template #localeMenu>
      <hlm-dropdown-menu>
        @for (locale of availableLocales(); track locale.id) {
          <button hlmDropdownMenuRadio [checked]="locale.id === selectedLocale.id" (click)="onLocaleChanged(locale)">
            <hlm-dropdown-menu-radio-indicator />
            <span> {{ locale.name }} </span>
          </button>
        }
      </hlm-dropdown-menu>
    </ng-template>

    @if (contentErrors.length > 0) {
      <button
        hlmBtn
        size="icon"
        variant="destructive"
        [hlmDropdownMenuTrigger]="contentErrorsMenu"
        side="bottom"
        hlmTooltipTrigger="Errors">
        <ng-icon hlm size="sm" name="lucideAlertCircle" />
      </button>

      <ng-template #contentErrorsMenu>
        <hlm-dropdown-menu>
          @for (error of contentErrors; track error.contentId) {
            <button hlmDropdownMenuItem>
              <ng-icon hlm size="sm" name="lucideTriangleAlert" />
              <span>
                In <b>{{ error.schema }}</b> the <b>{{ error.fieldDisplayName || error.fieldName }}</b> {{ fe.errors(error.errors) }} for
                Locale {{ availableLocalesMap().get(error.locale) }}
              </span>
            </button>
          }
        </hlm-dropdown-menu>
      </ng-template>
    }

    @if ('CONTENT_UPDATE' | canUserPerform | async) {
      <button
        hlmBtn
        variant="default"
        hlmTooltipTrigger="Save the changes."
        [disabled]="isSaveLoading() || isPublishLoading()"
        (click)="save()">
        @if (isSaveLoading()) {
          <hlm-spinner class="size-4" />
        } @else {
          <ng-icon hlm size="sm" name="lucideSave" />
        }
        Save
      </button>
    }

    @if ('CONTENT_PUBLISH' | canUserPerform | async) {
      <button
        hlmBtn
        variant="default"
        hlmTooltipTrigger="Publish to be available via API call"
        [disabled]="isPublishLoading() || isSaveLoading()"
        (click)="publish()">
        @if (isPublishLoading()) {
          <hlm-spinner class="size-4" />
        } @else {
          <ng-icon hlm size="sm" name="lucideUpload" />
        }
        Publish
      </button>
    }
    @let publishedAt = documentPublishedAt();
    @let updatedAt = documentUpdatedAt();
    @if (publishedAt === undefined) {
      <ll-status mode="offline" matTooltip="Not published" />
    } @else if (publishedAt > updatedAt) {
      <ll-status mode="online" matTooltip="Published" />
    } @else if (publishedAt < updatedAt) {
      <ll-status mode="away" matTooltip="Draft" />
    }

    <button hlmBtn size="icon" variant="ghost" hlmTooltipTrigger="Hisotry" (click)="showHistory.set(!showHistory())">
      <ng-icon hlm size="sm" name="lucideHistory" />
    </button>

    <button hlmBtn size="icon" variant="ghost" [hlmDropdownMenuTrigger]="extraMenu">
      <ng-icon hlm size="sm" name="lucideEllipsisVertical" />
    </button>
    <ng-template #extraMenu>
      <hlm-dropdown-menu class="w-60">
        <hlm-dropdown-menu-group>
          @for (locale of selectedSpace()?.locales; track locale.id) {
            <button hlmDropdownMenuItem (click)="openDraftV1InNewTab(locale.id)">
              <ng-icon hlm size="sm" name="lucidePencil" />
              <span>Draft {{ locale.name }} JSON</span>
              <ng-icon hlm size="sm" name="lucideExternalLink" class="ml-auto" />
            </button>
          }
        </hlm-dropdown-menu-group>
        <hlm-dropdown-menu-separator />
        <hlm-dropdown-menu-group>
          @for (locale of selectedSpace()?.locales; track locale.id) {
            <button hlmDropdownMenuItem (click)="openPublishedV1InNewTab(locale.id)">
              <ng-icon hlm size="sm" name="lucideEarth" />
              <span>Published {{ locale.name }} JSON</span>
              <ng-icon hlm size="sm" name="lucideExternalLink" class="ml-auto" />
            </button>
          }
        </hlm-dropdown-menu-group>
      </hlm-dropdown-menu>
    </ng-template>
  </div>
</div>

@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}

<div class="mx-auto container-fluid grid px-2">
  <hlm-resizable-group direction="horizontal" class="flex justify-center h-full w-full overflow-hidden">
    @if (settingsStore.editorEnabled()) {
      <hlm-resizable-panel [defaultSize]="60" class="overflow-hidden">
        <div id="browser" class="browser flex flex-col h-full overflow-hidden border rounded-t-xl">
          @if (selectedEnvironment(); as environment) {
            <div id="browser-toolbar" class="flex flex-wrap p-2 items-center gap-2 border-b">
              <button hlmBtn size="icon" variant="ghost" hlmTooltipTrigger="Reload" (click)="reloadEnvironment()">
                <ng-icon hlm size="sm" name="lucideRefreshCcw" />
              </button>
              <div class="flex-grow">
                <div class="min-w-80 w-full" hlmButtonGroup>
                  <div hlmButtonGroupText>
                    <label hlmLabel for="url">{{ environment.name }}</label>
                  </div>
                  <div hlmInputGroup>
                    <input
                      class="truncate"
                      hlmInputGroupInput
                      readonly
                      id="url"
                      placeholder="Select Environment"
                      [value]="environment.url"
                      [title]="environment.url" />
                    <div hlmInputGroupAddon align="inline-end">
                      <button hlmBtn size="icon" variant="link" [hlmDropdownMenuTrigger]="envMenu">
                        <ng-icon hlm size="sm" name="lucideChevronDown" />
                      </button>
                      <ng-template #envMenu>
                        <hlm-dropdown-menu>
                          @for (env of availableEnvironments(); track env.name) {
                            <button
                              hlmDropdownMenuRadio
                              (click)="selectedEnvironment.set(env)"
                              [checked]="env.name === selectedEnvironment()?.name">
                              <hlm-dropdown-menu-radio-indicator />
                              <span>{{ env.name }} | {{ env.url }}</span>
                            </button>
                          }
                        </hlm-dropdown-menu>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <hlm-toggle-group type="single" variant="outline" [value]="settingsStore.editorSize()">
                <button
                  hlmToggleGroupItem
                  value=""
                  aria-label="Fullscreen"
                  hlmTooltipTrigger="Fullscreen"
                  (click)="settingsStore.setEditorSize('')">
                  <ng-icon hlm size="sm" name="lucideFullscreen" />
                </button>
                <button
                  hlmToggleGroupItem
                  value="sm"
                  aria-label="Smartphone: 640px"
                  hlmTooltipTrigger="Smartphone: 640px"
                  (click)="settingsStore.setEditorSize('sm')">
                  <ng-icon hlm size="sm" name="tablerDeviceMobile" />
                </button>
                <button
                  hlmToggleGroupItem
                  value="md"
                  aria-label="Tablet: 768px"
                  hlmTooltipTrigger="Tablet: 768px"
                  (click)="settingsStore.setEditorSize('md')">
                  <ng-icon hlm size="sm" name="tablerDeviceTablet" />
                </button>
                <button
                  hlmToggleGroupItem
                  value="lg"
                  aria-label="Laptop: 1024px"
                  hlmTooltipTrigger="Laptop: 1024px"
                  (click)="settingsStore.setEditorSize('lg')">
                  <ng-icon hlm size="sm" name="tablerDeviceLaptop" />
                </button>
                <button
                  hlmToggleGroupItem
                  value="xl"
                  aria-label="Desktop: 1280px"
                  hlmTooltipTrigger="Desktop: 1280px"
                  (click)="settingsStore.setEditorSize('xl')">
                  <ng-icon hlm size="sm" name="tablerDeviceDesktop" />
                </button>
              </hlm-toggle-group>
            </div>
            <div id="browser-content" class="flex h-full overflow-auto justify-center-safe bg-secondary">
              @if (iframeUrl(); as url) {
                <iframe
                  id="previewId"
                  class="shadow"
                  #preview
                  [src]="url"
                  [class]="settingsStore.editorSize()"
                  [class.resizing]="isResizing()">
                </iframe>
              }
            </div>
          } @else {
            <div class="text-center">
              No Configured Environments.<br />
              You can configure them in Settings.
            </div>
          }
        </div>
      </hlm-resizable-panel>
      <hlm-resizable-handle withHandle (mousedown)="isResizing.set(true)" (mouseup)="isResizing.set(false)" />
    }
    <hlm-resizable-panel
      [defaultSize]="settingsStore.editorEnabled() ? 40 : 100"
      [minSize]="20"
      [maxSize]="80"
      class="overflow-hidden flex justify-around">
      <div class="flex grow overflow-auto h-full flex-col min-w-96 max-w-5xl px-4 py-2 gap-4">
        @if (rootSchema()) {
          <nav hlmBreadcrumb>
            <ol hlmBreadcrumbList>
              @for (schemaPathItem of schemaPath(); track schemaPathItem.contentId; let isLast = $last; let isFirst = $first) {
                @if (!isFirst) {
                  <li hlmBreadcrumbSeparator></li>
                }
                <li hlmBreadcrumbItem>
                  @if (isFirst) {
                    <button hlmBreadcrumbButton (click)="navigateToSchemaBackwards(schemaPathItem)">
                      <ng-icon hlm size="sm" name="lucideFolderRoot" />
                    </button>
                  } @else if (isLast) {
                    <span hlmBreadcrumbPage>
                      @if (schemaMapById().get(schemaPathItem.schemaName); as sch) {
                        {{ sch.displayName || sch.id }}
                      }
                    </span>
                  } @else {
                    <button hlmBreadcrumbButton (click)="navigateToSchemaBackwards(schemaPathItem)">
                      @if (schemaMapById().get(schemaPathItem.schemaName); as sch) {
                        {{ sch.displayName || sch.id }}
                      }
                    </button>
                  }
                </li>
              }
            </ol>
          </nav>
          <div class="flex flex-col max-w-(--breakpoint-lg) overflow-y-auto">
            <ll-content-document-schema-edit
              [data]="selectedDocumentData"
              [schemas]="schemas()"
              [selectedLocale]="selectedLocale"
              [availableLocales]="availableLocales()"
              [hoverSchemaPath]="hoverSchemaPath()"
              [hoverSchemaField]="isSamePath() ? hoverSchemaField() : undefined"
              [clickSchemaField]="clickSchemaField()"
              [documents]="documents()"
              [space]="selectedSpace()"
              (schemaChange)="onSchemaChange($event)"
              (formChange)="onFormChange($event)"
              (structureChange)="onStructureChange($event)" />
          </div>
        }
      </div>
    </hlm-resizable-panel>
  </hlm-resizable-group>

  @if (settingsStore.debugEnabled()) {
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>EditDocumentComponent Content</mat-panel-title>
        </mat-expansion-panel-header>
        <pre>{{ documentData | json }}</pre>
      </mat-expansion-panel>
    </mat-accordion>
  }
</div>
<hlm-sheet side="right" [state]="showHistory() ? 'open' : 'closed'" (closed)="showHistory.set(false)">
  <hlm-sheet-content *brnSheetContent="let ctx">
    <hlm-sheet-header>
      <h3 hlmSheetTitle>History</h3>
    </hlm-sheet-header>
    <ng-scrollbar hlm>
      @if (showHistory()) {
        <div class="flow-root m-4">
          <ul role="list">
            @for (item of history$ | async; track item.id; let isLast = $last) {
              <li>
                <div class="relative pb-5">
                  <div class="relative flex space-x-2">
                    @switch (item.type) {
                      @case ('PUBLISHED') {
                        <div class="px-2">
                          <ng-icon hlm size="sm" name="lucideUpload" />
                        </div>
                        <div class="flex min-w-0 flex-1 justify-between space-x-4">
                          <div>
                            <p class="text-sm">
                              Published by
                              <span class="font-medium" [matTooltip]="item.email || 'Unknown'">
                                {{ item.name || 'Unknown' }}
                              </span>
                            </p>
                          </div>
                          <div class="whitespace-nowrap text-right text-sm">
                            <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                          </div>
                        </div>
                      }
                      @case ('CREATE') {
                        <div class="px-2">
                          <ng-icon hlm size="sm" name="lucidePlus" />
                        </div>
                        <div class="flex min-w-0 flex-1 justify-between space-x-4">
                          <div>
                            <p class="text-sm">
                              Created with name <span class="font-medium break-all">{{ item.cName }}</span> and slug
                              <span class="font-medium break-all">{{ item.cSlug }}</span> by
                              <span class="font-medium" [matTooltip]="item.email || 'Unknown'">
                                {{ item.name || 'Unknown' }}
                              </span>
                            </p>
                          </div>
                          <div class="whitespace-nowrap text-right text-sm">
                            <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                          </div>
                        </div>
                      }
                      @case ('UPDATE') {
                        <div class="px-2">
                          <ng-icon hlm size="sm" name="lucidePencil" />
                        </div>
                        <div class="flex min-w-0 flex-1 justify-between space-x-4">
                          <div>
                            <p class="text-sm">
                              Updated with
                              @if (item.cName) {
                                name <span class="font-medium break-all">{{ item.cName }}</span>
                              }
                              @if (item.cSlug) {
                                @if (item.cName) {
                                  and
                                }
                                slug <span class="font-medium break-all">{{ item.cSlug }}</span>
                              }
                              @if (item.cParentSlug) {
                                parent slug <span class="font-medium break-all">{{ item.cParentSlug }}</span>
                              } @else if (item.cData) {
                                content
                              } @else {
                                nothing
                              }
                              by
                              <span class="font-medium" [matTooltip]="item.email || 'Unknown'">
                                {{ item.name || 'Unknown' }}
                              </span>
                            </p>
                          </div>
                          <div class="whitespace-nowrap text-right text-sm">
                            <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                          </div>
                        </div>
                      }
                      @default {
                        <div class="px-2">
                          <ng-icon hlm size="sm" name="lucidePencil" />
                        </div>
                        <div class="flex min-w-0 flex-1 justify-between space-x-4">
                          <div>
                            <p class="text-sm">Unknown</p> by
                            <span class="font-medium" [matTooltip]="item.email || 'Unknown'">
                              {{ item.name || 'Unknown' }}
                            </span>
                          </div>
                          <div class="whitespace-nowrap text-right text-sm">
                            <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                          </div>
                        </div>
                      }
                    }
                  </div>
                </div>
              </li>
            } @empty {
              No Records found
            }
          </ul>
        </div>
      }
    </ng-scrollbar>
  </hlm-sheet-content>
</hlm-sheet>
