<hlm-dialog-header>
  <h2 hlmDialogTitle>User</h2>
</hlm-dialog-header>
<form [formGroup]="form" class="flex flex-col gap-4">
  <div hlmField>
    <label hlmFieldLabel for="displayName">Display Name</label>
    <input hlmInput id="displayName" type="text" formControlName="displayName" class="w-full" />
  </div>
  <div hlmField>
    <label hlmFieldLabel for="photoURL">Avatar URL</label>
    <input hlmInput id="photoURL" type="text" formControlName="photoURL" class="w-full" />
  </div>
</form>
<hlm-dialog-footer>
  <button hlmBtn variant="outline" hlmDialogClose>Cancel</button>
  <button hlmBtn [disabled]="!form.valid" (click)="save()">Save</button>
</hlm-dialog-footer>
