<div class="p-2 flex items-center justify-between gap-2">
  <div class="flex items-center gap-2">
    <button hlmBtn size="icon" variant="ghost" (click)="back()" hlmTooltipTrigger="Back to Schemas">
      <ng-icon hlm size="sm" name="lucideArrowLeft" />
    </button>
    <div>
      <div class="text-lg line-clamp-1">{{ entity?.displayName }}</div>
      <div class="text-muted-foreground line-clamp-1">#{{ entity?.id }}</div>
    </div>
  </div>
  @if ('SCHEMA_UPDATE' | canUserPerform | async) {
    <button hlmBtn hlmTooltipTrigger="Save the changes." [disabled]="!form.valid || isSaveLoading()" (click)="save()">
      @if (isSaveLoading()) {
        <hlm-spinner class="size-4" />
      } @else {
        <ng-icon hlm size="sm" name="lucideSave" />
      }
      Save
    </button>
  }
</div>

@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
} @else {
  <div class="mx-auto">
    <form [formGroup]="form">
      <hlm-tabs tab="values" class="w-full">
        <hlm-tabs-list class="self-center" variant="line">
          <button hlmTabsTrigger="values">Values</button>
          <button hlmTabsTrigger="settings">Settings</button>
        </hlm-tabs-list>
        <div hlmTabsContent="values">
          <div class="flex flex-col mx-auto max-w-5xl gap-6 px-8" style="height: calc(100vh - 177px)">
            <div hlmField class="col-span-2">
              <div hlmInputGroup>
                <input
                  #name
                  [formControl]="newFieldName"
                  hlmInputGroupInput
                  autocomplete="off"
                  placeholder="Name of the new element..."
                  (keydown.enter)="$event.preventDefault(); newFieldName.valid && addValueForm()" />
                <div hlmInputGroupAddon align="inline-end">
                  <button hlmInputGroupButton variant="secondary" (click)="addValueForm()" [disabled]="!newFieldName.valid">Add</button>
                </div>
              </div>
            </div>
            <div hlmItemGroup class="overflow-y-auto gap-2" cdkDropList (cdkDropListDropped)="fieldDropDrop($event)">
              @for (field of values.controls; track field.value.name; let index = $index) {
                <div
                  hlmItem
                  class="cursor-pointer"
                  [variant]="index === selectedFieldIdx() ? 'muted' : 'outline'"
                  role="listitem"
                  cdkDrag
                  cdkDragPreviewContainer="parent"
                  (click)="selectComponent(index)"
                  (keyup.enter)="selectComponent(index)"
                  [class.border-destructive]="field.invalid">
                  <div hlmItemContent>
                    <div hlmItemTitle class="line-clamp-1">
                      {{ field.value.name }}
                      <span class="text-muted-foreground">#{{ field.value.value }}</span>
                    </div>
                  </div>

                  <div hlmItemActions>
                    <button hlmBtn size="icon" variant="outline" (click)="removeComponent($event, index)" hlmTooltipTrigger="Delete">
                      <ng-icon hlm size="sm" name="lucideTrash" />
                    </button>
                    <button
                      hlmBtn
                      size="icon"
                      variant="ghost"
                      cdkDragHandle
                      class="cursor-grab active:cursor-grabbing"
                      hlmTooltipTrigger="Move">
                      <ng-icon hlm size="sm" name="lucideGripVertical" />
                    </button>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
        <div hlmTabsContent="settings">
          <div class="flex flex-col mx-auto max-w-5xl gap-6 px-8">
            <fieldset hlmFieldSet>
              <div hlmFieldGroup>
                <div hlmField>
                  <label hlmFieldLabel for="displayName"> Display Name </label>
                  <input #displayName hlmInput id="displayName" formControlName="displayName" autocomplete="off" />
                  @if (form.controls['displayName']?.errors; as errors) {
                    <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
                  } @else {
                    <p hlmFieldDescription class="content-end">{{ 50 - displayName.value.length }} characters left</p>
                  }
                </div>
                <div hlmField>
                  <label hlmFieldLabel for="description"> Description </label>
                  <textarea hlmTextarea class="resize-none" #description id="description" formControlName="description" autocomplete="off">
                  </textarea>
                  @if (form.controls['description']?.errors; as errors) {
                    <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
                  } @else {
                    <p hlmFieldDescription class="content-end">{{ 250 - description.value.length }} characters left</p>
                  }
                </div>
                <div hlmField>
                  <label hlmFieldLabel for="labels"> Labels </label>
                  <input
                    #labelName
                    hlmInput
                    id="labels"
                    autocomplete="off"
                    placeholder="Enter new label name"
                    (keydown.enter)="$event.preventDefault(); addLabel(labelName.value); labelName.value = ''" />
                  <div class="flex items-center gap-1">
                    @for (label of form.controls['labels'].value; track label) {
                      <span hlmBadge variant="outline">
                        {{ label }}
                        <button hlmBtn variant="ghost" size="icon-sm" (click)="removeLabel(label)">
                          <ng-icon hlm size="sm" name="lucideCircleX" />
                        </button>
                      </span>
                    }
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </hlm-tabs>
    </form>
  </div>
}

<hlm-sheet side="right" [state]="selectedFieldIdx() !== undefined ? 'open' : 'closed'" (closed)="selectedFieldIdx.set(undefined)">
  <hlm-sheet-content *brnSheetContent="let ctx">
    <hlm-sheet-header>
      <h3 hlmSheetTitle>Edit Value</h3>
    </hlm-sheet-header>
    @if (values.at(selectedFieldIdx() ?? -100); as selectedComponent) {
      <ll-schema-value-edit [form]="selectedComponent" />
    }
  </hlm-sheet-content>
</hlm-sheet>

@if (settingsStore.debugEnabled()) {
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form : {{ form?.valid }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ form.value | json }}</pre>
      <pre>{{ form.errors | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
}
