@use '@angular/material' as mat;

@import '../../../../styles-variables';

mat-form-field {
  width: 100%;
}

:host ::ng-deep div.mat-form-field-suffix {
  margin-bottom: auto;
}

.mat-list-item {
  border: solid 1px #dfe3e8;
  border-radius: 5px;
  margin-bottom: 10px;
  &.active {
    background: rgba(0, 0, 0, 0.04);
  }
  &.invalid{
    border: solid 2px mat.get-color-from-palette($error-colors);
  }
}
