<h1 mat-dialog-title>Edit Schematic</h1>
<mat-dialog-content>
  <form [formGroup]="form" class="step-container">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" required minLength="3" maxlength="50" [readonly]="nameReadonly" autocomplete="off"/>
          <button mat-icon-button matSuffix (click)="nameReadonly = !nameReadonly" [attr.aria-pressed]="true">
            <mat-icon>{{nameReadonly ? 'edit_off' : 'edit'}}</mat-icon>
          </button>
          <mat-hint>Will be used in JSON structure.</mat-hint>
          <mat-hint align="end">{{form.controls['name'].value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="form.controls['name'].errors">{{fe.controlError(form.controls['name'])}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Display Name</mat-label>
          <input matInput type="text" formControlName="displayName" minLength="3" maxlength="50" autocomplete="off"/>
          <mat-hint align="end">{{form.controls['displayName'].value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="form.controls['displayName'].errors">{{fe.controlError(form.controls['displayName'])}}</mat-error>
        </mat-form-field>

        <mat-nav-list>
          <mat-divider></mat-divider>
          <div mat-subheader>Components</div>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" [formControl]="newComponentName" autocomplete="off"/>
            <button mat-raised-button matSuffix
                    color="accent"
                    (click)="addComponent()"
                    [disabled]="!newComponentName.valid">
              Add
            </button>
            <mat-error *ngIf="newComponentName.errors">{{fe.controlError(newComponentName)}}</mat-error>
          </mat-form-field>
          <mat-list-item *ngFor="let component of components.controls; let index = index"
                         (click)="selectComponent(index)"
                         [class.active]="index === selectedComponentIdx"
                         [class.invalid]="component.invalid">
            <mat-icon mat-list-icon>{{componentKindDescriptions[component.value.kind].icon}}</mat-icon>
            <div mat-line>{{component.value.name}}</div>
            <div mat-line>{{component.value.displayName}}</div>
            <span class="spacer"></span>
            <mat-icon>delete</mat-icon>
            <mat-icon>navigate_next</mat-icon>
          </mat-list-item>
        </mat-nav-list>

      </div>
      <div class="col-6" formArrayName="components" *ngIf="selectedComponentIdx !== undefined">
        <mat-card>
            <ng-container [formGroupName]="selectedComponentIdx">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" [readonly]="componentNameReadonly" autocomplete="off"/>
                <button mat-icon-button matSuffix (click)="componentNameReadonly = !componentNameReadonly">
                  <mat-icon>{{componentNameReadonly ? 'edit_off' : 'edit'}}</mat-icon>
                </button>
                <mat-hint>Will be used in JSON structure.</mat-hint>
                <mat-hint align="end">{{components.at(selectedComponentIdx).value.name.length || 0}}/50</mat-hint>
                <mat-error *ngIf="componentControlAt(selectedComponentIdx, 'name')?.errors">{{fe.controlError(componentControlAt(selectedComponentIdx,'name'))}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Kind</mat-label>
                <mat-select formControlName="kind" (selectionChange)="selectComponentKind($event)">
                  <mat-select-trigger>
                    <mat-icon>{{selectedComponentKind.icon}}</mat-icon>{{selectedComponentKind.name}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let kind of componentKinds" [value]="kind">
                    <mat-icon>{{componentKindDescriptions[kind].icon}}</mat-icon>
                    {{componentKindDescriptions[kind].name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="componentControlAt(selectedComponentIdx, 'kind')?.errors">{{fe.controlError(componentControlAt(selectedComponentIdx,'kind'))}}</mat-error>
              </mat-form-field>

              <!--SCHEMATIC-->
<!--              <ng-container *ngIf="components.at(selectedComponentIdx).value.kind === 'SCHEMATIC'">-->
<!--                <mat-form-field appearance="outline">-->
<!--                  <mat-label>Schematic</mat-label>-->
<!--                  <mat-select formControlName="schematic" required>-->
<!--                    <mat-option *ngFor="let schematic of data.schematics" [value]="schematic.id">-->
<!--                      {{schematic.displayName || schematic.name}}-->
<!--                    </mat-option>-->
<!--                  </mat-select>-->
<!--                  <mat-error *ngIf="componentControlAt(selectedComponentIdx, 'schematic')?.errors">{{fe.controlError(componentControlAt(selectedComponentIdx,'schematic'))}}</mat-error>-->
<!--                </mat-form-field>-->
<!--              </ng-container>-->

              <mat-form-field appearance="outline">
                <mat-label>Display Name</mat-label>
                <input matInput type="text" formControlName="displayName" autocomplete="off"/>
                <mat-hint align="end">{{components.at(selectedComponentIdx).value.displayName?.length || 0}}/50</mat-hint>
                <mat-error *ngIf="componentControlAt(selectedComponentIdx, 'displayName')?.errors">{{fe.controlError(componentControlAt(selectedComponentIdx,'displayName'))}}</mat-error>
              </mat-form-field>
              <mat-checkbox formControlName="required">Required</mat-checkbox><br/>

              <ng-container *ngIf="['TEXT','TEXTAREA', 'NUMBER', 'COLOR', 'DATE', 'DATETIME', 'BOOLEAN'].includes(components.at(selectedComponentIdx).value.kind)">
                <mat-checkbox formControlName="translatable">Translatable</mat-checkbox><br/>
              </ng-container>

              <br/>
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" class="cdk-textarea-autosize"></textarea>
                <mat-hint align="end">{{components.at(selectedComponentIdx).value.description?.length || 0}}/250</mat-hint>
                <mat-error *ngIf="componentControlAt(selectedComponentIdx, 'description')?.errors">{{fe.controlError(componentControlAt(selectedComponentIdx,'description'))}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Default Value</mat-label>
                <textarea matInput formControlName="defaultValue" class="cdk-textarea-autosize"></textarea>
                <mat-hint align="end">{{components.at(selectedComponentIdx).value.defaultValue?.length || 0}}/250</mat-hint>
                <mat-error *ngIf="componentControlAt(selectedComponentIdx, 'defaultValue')?.errors">{{fe.controlError(componentControlAt(selectedComponentIdx,'defaultValue'))}}</mat-error>
              </mat-form-field>

              <!--Number-->
              <ng-container *ngIf="components.at(selectedComponentIdx).value.kind === 'NUMBER'">
                <mat-form-field appearance="outline">
                  <mat-label>Min Value</mat-label>
                  <input matInput type="number" formControlName="minValue" autocomplete="off"/>
                  <mat-error *ngIf="componentControlAt(selectedComponentIdx, 'minValue')?.errors">{{fe.controlError(componentControlAt(selectedComponentIdx,'minValue'))}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Max Value</mat-label>
                  <input matInput type="number" formControlName="maxValue" autocomplete="off"/>
                  <mat-error *ngIf="componentControlAt(selectedComponentIdx, 'maxValue')?.errors">{{fe.controlError(componentControlAt(selectedComponentIdx,'maxValue'))}}</mat-error>
                </mat-form-field>
              </ng-container>

              <!--Text and Textarea-->
              <ng-container *ngIf="['TEXT','TEXTAREA'].includes(components.at(selectedComponentIdx).value.kind)">
                <mat-form-field appearance="outline">
                  <mat-label>Min Length</mat-label>
                  <input matInput type="number" formControlName="minLength" autocomplete="off"/>
                  <mat-error *ngIf="componentControlAt(selectedComponentIdx, 'minLength')?.errors">{{fe.controlError(componentControlAt(selectedComponentIdx,'minLength'))}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Max Length</mat-label>
                  <input matInput type="number" formControlName="maxLength" autocomplete="off"/>
                  <mat-error *ngIf="componentControlAt(selectedComponentIdx, 'maxLength')?.errors">{{fe.controlError(componentControlAt(selectedComponentIdx,'maxLength'))}}</mat-error>
                </mat-form-field>
              </ng-container>
            </ng-container>

        </mat-card>
        {{components.at(selectedComponentIdx).value | json}} <br/>
        {{components.at(selectedComponentIdx).status | json}} <br/>
        {{components.at(selectedComponentIdx).errors | json}}
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">
    Save
  </button>
</mat-dialog-actions>
