<mat-toolbar>
  <mat-toolbar-row>
    Assets
    <span class="spacer"></span>

    <ng-container *ngIf="'ASSET_CREATE' | canUserPerform | async">
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        <mat-icon>upload_file</mat-icon>
        Upload Assets
      </button>
      <input hidden type="file" multiple #fileInput (change)="onFileUpload($event)"/>

      <button mat-raised-button color="primary" (click)="openAddFolderDialog()">
        <mat-icon>add</mat-icon>
        Create Folder
      </button>

    </ng-container>

    <button mat-icon-button [matMenuTriggerFor]="extraMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #extraMenu="matMenu">
      <button *ngIf="'ASSET_IMPORT' | canUserPerform | async" mat-menu-item (click)="openImportDialog()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Import</span>
      </button>
      <button *ngIf="'ASSET_EXPORT' | canUserPerform | async" mat-menu-item (click)="openExportDialog()">
        <mat-icon>cloud_download</mat-icon>
        <span>Export</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="isLoading" class="loader">
  <mat-spinner/>
</div>
<div *ngIf="!isLoading" class="container-fluid mt-3">
  <ll-breadcrumb>
    <ll-breadcrumb-item *ngFor="let pathItem of assetPath" (click)="navigateToSlug(pathItem)">
      <ng-container *ngIf="pathItem.fullSlug === ''">
        <mat-icon>home</mat-icon>
      </ng-container>
      {{pathItem.name}}
    </ll-breadcrumb-item>
  </ll-breadcrumb>

  <mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef> Icon </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="element.kind">
          <ng-container *ngSwitchCase="'FILE'">
            <mat-icon>{{fileIcon(element.type)}}</mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="'FOLDER'">
            <mat-icon>folder</mat-icon>
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="preview">
      <mat-header-cell *matHeaderCellDef> Preview </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.kind === 'FILE' && filePreview(element.type)">
          <ng-container *ngIf="element.uploaded; else elseUploaded">
            <img class="img-thumbnail" width="115" height="115" loading="lazy" alt="thumbnail"
                 ngSrc="/api/v1/spaces/{{selectedSpace.id}}/assets/{{element.id}}"/>
          </ng-container>
          <ng-template #elseUploaded>
            <mat-progress-spinner mode="indeterminate"/>
          </ng-template>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <div>{{element.name}}{{element.extension}}</div>
          <div *ngIf="element.metadata as metadata" class="fw-light">
            <ng-container *ngIf="metadata.width && metadata.height">
              W{{metadata.width}} x H{{metadata.height}}
            </ng-container>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="size">
      <mat-header-cell *matHeaderCellDef mat-sort-header="size"> Size </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.size | digitalStore}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header="type"> Type </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.type}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="createdAt"> Created At </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt?.toDate() | date:'medium'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt"> Updated At </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.updatedAt?.toDate() | date:'medium'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
        <button mat-stroked-button
                *ngIf="'ASSET_UPDATE' | canUserPerform | async"
                [disabled]="selection.selected.length !== 1 || selection.selected[0].kind !== 'FOLDER'"
                (click)="openEditFolderDialog(selection.selected[0])">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button mat-stroked-button
                *ngIf="'ASSET_DELETE' | canUserPerform | async"
                [disabled]="selection.selected.length !== 1"
                (click)="openDeleteDialog(selection.selected[0])">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-header-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['actions']"></mat-header-row>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowSelect(row)"></mat-row>
  </mat-table>
  <mat-paginator></mat-paginator>
</div>
