<mat-toolbar>
  <mat-toolbar-row>
    Assets
    <a mat-icon-button target="_blank" href="https://localess.org/docs/assets/overview" matTooltip="Help Article">
      <mat-icon>help</mat-icon>
    </a>
    <span class="spacer"></span>
    @if ('ASSET_CREATE' | canUserPerform | async) {
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        <mat-icon>upload_file</mat-icon>
        Upload Assets
      </button>
      <input hidden type="file" multiple #fileInput (change)="onFileUpload($event)" />

      <button mat-raised-button color="primary" (click)="openAddFolderDialog()">
        <mat-icon>add</mat-icon>
        Create Folder
      </button>
    }

    <button mat-icon-button [matMenuTriggerFor]="extraMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #extraMenu="matMenu">
      @if ('ASSET_IMPORT' | canUserPerform | async) {
        <button mat-menu-item (click)="openImportDialog()">
          <mat-icon>cloud_upload</mat-icon>
          <span>Import</span>
        </button>
      }
      @if ('ASSET_EXPORT' | canUserPerform | async) {
        <button mat-menu-item (click)="openExportDialog()">
          <mat-icon>cloud_download</mat-icon>
          <span>Export</span>
        </button>
      }
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
@if (isLoading()) {
  <mat-progress-bar mode="query" />
}
<div class="container-full-screen">
  <ll-breadcrumb>
    @for (pathItem of spaceStore.assetPath(); track pathItem.fullSlug; let isFirst = $first) {
      <ll-breadcrumb-item (click)="navigateToSlug(pathItem)" [home]="isFirst">
        {{ pathItem.name }}
      </ll-breadcrumb-item>
    }
  </ll-breadcrumb>

  <mat-table [dataSource]="dataSource" matSort llFileDragDrop (filesChanges)="filesDragAndDrop($event)">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef> Icon</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @switch (element.kind) {
          @case ('FILE') {
            <mat-icon>{{ fileIcon(element.type) }}</mat-icon>
          }
          @case ('FOLDER') {
            <mat-icon>folder</mat-icon>
          }
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="preview">
      <mat-header-cell *matHeaderCellDef> Preview</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.kind === 'FILE' && filePreview(element.type)) {
          @if (element.inProgress) {
            <mat-progress-spinner mode="indeterminate" />
          } @else {
            <img
              class="border object-contain rounded bg-stripes-gray"
              width="115"
              height="115"
              loading="lazy"
              alt="thumbnail"
              ngSrc="/api/v1/spaces/{{ spaceId() }}/assets/{{ element.id }}" />
          }
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <div>{{ element.name }}{{ element.extension }}</div>
          @if (element.metadata; as metadata) {
            <div class="fw-light">
              @if (metadata.width && metadata.height) {
                W{{ metadata.width }} x H{{ metadata.height }}
              }
            </div>
          }
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="size">
      <mat-header-cell *matHeaderCellDef mat-sort-header="size"> Size</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.size | digitalStore }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header="type"> Type</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.type }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="createdAt"> Created At</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.createdAt?.toDate() | date: 'medium' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt"> Updated At</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.updatedAt?.toDate() | date: 'medium' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          (click)="onDownload($event, element)"
          [disabled]="element.kind === 'FOLDER' || element.inProgress === true"
          matTooltip="Download">
          <mat-icon>download</mat-icon>
        </button>
        @if ('ASSET_UPDATE' | canUserPerform | async) {
          <button mat-icon-button (click)="openEditDialog($event, element)" [disabled]="element.inProgress === true" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
        }
        @if ('ASSET_DELETE' | canUserPerform | async) {
          <button
            mat-icon-button
            (click)="openDeleteDialog($event, element)"
            [disabled]="element.inProgress === true && now - (element.createdAt?.toMillis() || 0) < 600000"
            matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </mat-cell>
    </ng-container>

    <!--    <ng-container matColumnDef="actions">-->
    <!--      <mat-header-cell mat-header-cell *matHeaderCellDef>-->
    <!--        <button mat-stroked-button-->
    <!--                *ngIf="'ASSET_UPDATE' | canUserPerform | async"-->
    <!--                [disabled]="selection.selected.length !== 1 || selection.selected[0].kind !== 'FOLDER'"-->
    <!--                (click)="openEditFolderDialog(selection.selected[0])">-->
    <!--          <mat-icon>edit</mat-icon>-->
    <!--          Edit-->
    <!--        </button>-->
    <!--        <button mat-stroked-button-->
    <!--                *ngIf="'ASSET_DELETE' | canUserPerform | async"-->
    <!--                [disabled]="selection.selected.length !== 1"-->
    <!--                (click)="openDeleteDialog(selection.selected[0])">-->
    <!--          <mat-icon>delete</mat-icon>-->
    <!--          Delete-->
    <!--        </button>-->
    <!--      </mat-header-cell>-->
    <!--    </ng-container>-->

    <!--    <mat-header-row *matHeaderRowDef="['actions']"></mat-header-row>-->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowSelect(row)"
      [class.row-folder]="row.kind === 'FOLDER'"></mat-row>
    @if (!isLoading()) {
      <ng-container *matNoDataRow>
        <div class="text-center align-middle">
          <br />
          <br />
          Drag and Drop a file here or use the "Upload Asset" button
          <br />
          <br />
        </div>
      </ng-container>
    }
  </mat-table>
  <mat-paginator></mat-paginator>
  @if (fileUploadQueue.length > 0) {
    <div class="file-progress-upload">
      <mat-card>
        <mat-card-header>
          <mat-card-title>File Upload Progress</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <mat-list role="list">
            @for (file of fileUploadQueue; track file.name; let idx = $index) {
              <mat-list-item role="listitem">
                {{ file.name.length < 30 ? file.name : file.name.slice(0, 27).concat('...') }}
                @if (idx === 0) {
                  <mat-progress-bar mode="indeterminate" />
                } @else {
                  <mat-progress-bar mode="buffer" />
                }
                <mat-action-list matListItemMeta>
                  {{ file.size | digitalStore }}
                </mat-action-list>
              </mat-list-item>
            }
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  }
</div>
