<mat-card class="ll-not-shadow">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{ component().displayName || component().name }}
      </mat-card-title>
      @if (component().description; as description) {
        <mat-card-subtitle>{{ description }}</mat-card-subtitle>
      }
      <button mat-icon-button matTooltip="Add Assets" (click)="openReferenceSelectDialog()">
        <mat-icon>add_link</mat-icon>
      </button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list cdkDropList (cdkDropListDropped)="referenceDropDrop($event)">
      @for (content of contents; track content.id; let index = $index) {
        <mat-list-item cdkDrag cdkDragPreviewContainer="parent">
          <div matListItemIcon class="!self-center">
            @if (content?.publishedAt === undefined) {
              <ll-status mode="offline" matTooltip="Not published" />
            } @else if (content?.publishedAt?.seconds > content?.updatedAt?.seconds) {
              <ll-status mode="online" matTooltip="Published" />
            } @else if (content?.publishedAt && content?.publishedAt?.seconds < content?.updatedAt?.seconds) {
              <ll-status mode="away" matTooltip="Draft" />
            }
          </div>
          <div matListItemTitle>{{ content.name }} #{{ content.slug }}</div>
          <div matListItemLine>{{ content.fullSlug }}</div>
          <mat-action-list matListItemMeta>
            <button mat-icon-button (click)="deleteReference(index)">
              <mat-icon>delete</mat-icon>
            </button>
            &nbsp;&nbsp;
            <mat-icon cdkDragHandle>drag_indicator</mat-icon>
          </mat-action-list>
        </mat-list-item>
      }
    </mat-list>
    @if (form().errors; as errors) {
      <mat-error>{{ fe.errors(errors) }}</mat-error>
    }
  </mat-card-content>
</mat-card>

@if (settingsStore.debugEnabled()) {
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form : {{ form().valid }} : {{ form().length }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ form().value | json }}</pre>
      <pre>{{ form().errors | json }}</pre>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Assets => {{ contents.length }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ contents | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
}
