<div hlmFieldGroup>
  <fieldset hlmFieldSet class="gap-2">
    <legend hlmFieldLegend class="flex w-full justify-between">
      <span> {{ component().displayName || component().name }} </span>
      <button hlmBtn variant="ghost" size="sm" hlmTooltip="Add References" (click)="openReferenceSelectDialog()">
        <ng-icon hlm size="sm" name="lucideFileSymlink" />
      </button>
    </legend>
    @if (component().description; as description) {
      <p hlmFieldDescription class="line-clamp-2">{{ description }}</p>
    }
    <hlm-field-separator />
    <div hlmItemGroup class="gap-2" cdkDropList (cdkDropListDropped)="referenceDropDrop($event)">
      @for (content of contents(); track content.id; let index = $index) {
        <div hlmItem variant="outline" role="listitem" cdkDrag cdkDragPreviewContainer="parent">
          <div hlmItemMedia>
            <ll-document-status [updatedAt]="content.updatedAt.seconds" [publishedAt]="content.publishedAt?.seconds" />
          </div>
          <div hlmItemContent class="min-w-0 overflow-hidden">
            <div hlmItemTitle class="line-clamp-1 w-full truncate">
              {{ content.name }} <span class="accent-muted-foreground">#{{ content.slug }}</span>
            </div>
            <p hlmItemDescription class="line-clamp-1 truncate"> {{ content.fullSlug }} </p>
          </div>
          <div role="none" hlmItemActions>
            <button hlmBtn size="icon" variant="outline" (click)="deleteReference(index)" hlmTooltip="Delete">
              <ng-icon hlm size="sm" name="lucideTrash" />
            </button>
            <button hlmBtn size="icon" variant="ghost" cdkDragHandle class="cursor-grab active:cursor-grabbing" hlmTooltip="Move">
              <ng-icon hlm size="sm" name="lucideGripVertical" />
            </button>
          </div>
        </div>
      }
    </div>
    @if (form().errors; as errors) {
      <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
    }
  </fieldset>
</div>

@if (settingsStore.debugEnabled()) {
  <br />
  <hlm-separator />
  <br />
  <hlm-accordion>
    <hlm-accordion-item>
      <h3 class="contents">
        <button hlmAccordionTrigger>
          Form => valid={{ form().valid }}
          <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
        </button>
      </h3>
      <hlm-accordion-content>
        Value :
        <pre>{{ form().value | json }}</pre>
        Error :
        <pre>{{ form().errors | json }}</pre>
      </hlm-accordion-content>
    </hlm-accordion-item>
    <hlm-accordion-item>
      <h3 class="contents">
        <button hlmAccordionTrigger>
          References => {{ contents().length }}
          <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
        </button>
      </h3>
      <hlm-accordion-content>
        <pre>{{ contents() | json }}</pre>
      </hlm-accordion-content>
    </hlm-accordion-item>
  </hlm-accordion>
}
