<h2 mat-dialog-title>Edit Content</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col gap-4 py-2">
    <div hlmField>
      <label hlmFieldLabel for="name">Name</label>
      <div hlmInputGroup>
        <input hlmInputGroupInput id="name" type="text" formControlName="name" maxlength="50" autocomplete="off" />
        <hlm-input-group-addon align="inline-end" class="text-muted-foreground text-xs">
          {{ form.controls['name'].value?.length || 0 }}/50
        </hlm-input-group-addon>
      </div>
      @if (form.controls['name'].errors; as errors) {
        <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
      }
    </div>
    <div hlmField>
      <label hlmFieldLabel for="slug">Slug</label>
      <div hlmInputGroup>
        <input hlmInputGroupInput id="slug" type="text" formControlName="slug" maxlength="50" autocomplete="off" />
        <hlm-input-group-addon align="inline-end" class="text-muted-foreground text-xs">
          {{ form.controls['slug'].value?.length || 0 }}/50
        </hlm-input-group-addon>
      </div>
      @if (form.controls['slug'].errors; as errors) {
        <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="flex gap-2">
  <button hlmBtn variant="outline" [mat-dialog-close]="undefined">Cancel</button>
  <button hlmBtn [mat-dialog-close]="form.value" [disabled]="!form.valid">
    <ng-icon hlm size="sm" name="lucideSave" />
    Save
  </button>
</mat-dialog-actions>
