@if (rootSchema) {
  <form [formGroup]="form" *ngIf="!isFormLoading">
    @for (field of rootSchema.fields; track field.name) {
      @switch (field.kind) {
        <!--TEXT-->
        @case ('TEXT') {
          <mat-form-field [floatLabel]="isDefaultLocale ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <input
              matInput
              type="text"
              [formControlName]="field.name"
              [attr.minlength]="field.minLength"
              [attr.maxlength]="field.maxLength"
              [placeholder]="!isDefaultLocale && data[field.name]"
              autocomplete="off" />
            <!--<span matTextPrefix *ngIf="field.translatable && !isDefaultLocale">
              <mat-slide-toggle [checked]="form.controls[field.name].enabled" (change)="markFiledAvailable($event, field)" />
            </span>-->
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (field.maxLength) {
              <mat-hint align="end"> {{ form.controls[field.name]?.value?.length || 0 }} /{{ field.maxLength }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--TEXTAREA-->
        @case ('TEXTAREA') {
          <mat-form-field [floatLabel]="isDefaultLocale ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="6"
              cdkAutosizeMaxRows="12"
              [formControlName]="field.name"
              [attr.minLength]="field.minLength"
              [attr.maxlength]="field.maxLength"
              [placeholder]="!isDefaultLocale && data[field.name]"
              autocomplete="off"></textarea>
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (field.maxLength) {
              <mat-hint align="end"> {{ form.controls[field.name]?.value?.length || 0 }} /{{ field.maxLength }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--MARKDOWN-->
        @case ('MARKDOWN') {
          <mat-form-field floatLabel="always">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0" fitInkBarToContent="true">
              <mat-tab label="Write" bodyClass="border rounded border-gray-400">
                <textarea
                  #mdText
                  matInput
                  rows="6"
                  style="height: {{ mdText.scrollHeight > 144 ? mdText.scrollHeight : 144 }}px"
                  [formControlName]="field.name"
                  [attr.minLength]="field.minLength"
                  [attr.maxlength]="field.maxLength"
                  [placeholder]="!isDefaultLocale && data[field.name]"
                  autocomplete="off"></textarea>
              </mat-tab>
              <mat-tab label="Preview">
                <markdown [data]="mdText.value || 'Preview content will render here.'"></markdown>
              </mat-tab>
            </mat-tab-group>
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (field.maxLength) {
              <mat-hint align="end"> {{ form.controls[field.name]?.value?.length || 0 }} /{{ field.maxLength }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--NUMBER-->
        @case ('NUMBER') {
          <mat-form-field [floatLabel]="isDefaultLocale ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <input
              matInput
              type="number"
              [formControlName]="field.name"
              [attr.min]="field.minValue"
              [attr.max]="field.maxValue"
              [placeholder]="!isDefaultLocale && data[field.name]"
              autocomplete="off" />
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--COLOR-->
        @case ('COLOR') {
          <mat-form-field [floatLabel]="isDefaultLocale ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <input
              matInput
              type="color"
              [formControlName]="field.name"
              [attr.min]="field.minValue"
              [attr.max]="field.maxValue"
              [placeholder]="!isDefaultLocale && data[field.name]"
              autocomplete="off" />
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--DATE-->
        @case ('DATE') {
          <mat-form-field [floatLabel]="isDefaultLocale ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <input
              matInput
              type="date"
              [formControlName]="field.name"
              [placeholder]="!isDefaultLocale && data[field.name]"
              autocomplete="off" />
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--DATE TIME-->
        @case ('DATETIME') {
          <mat-form-field [floatLabel]="isDefaultLocale ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <input
              matInput
              type="datetime-local"
              [formControlName]="field.name"
              [placeholder]="!isDefaultLocale && data[field.name]"
              autocomplete="off" />
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--BOOLEAN-->
        @case ('BOOLEAN') {
          <br />
          &nbsp;&nbsp;
          <mat-slide-toggle [formControlName]="field.name">{{ field.displayName || field.name }}</mat-slide-toggle>
          &nbsp;
          @if (field.translatable) {
            <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
          }
          <br />
          @if (field.description) {
            <mat-hint style="font-size: 12px; padding: 0 16px">{{ field.description }}</mat-hint>
          }
          @if (form.controls[field.name].errors; as errors) {
            <mat-error>{{ fe.errors(errors) }}</mat-error>
          }
          <br />
        }
        <!--OPTION-->
        @case ('OPTION') {
          <mat-form-field [floatLabel]="isDefaultLocale ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <mat-select [formControlName]="field.name" [placeholder]="defaultOptionPlaceholder(field)">
              @if (!field.required) {
                <mat-option>-- None --</mat-option>
              }
              <!--Handle source not defined in previous versions-->
              @if (field.source === undefined || field.source === 'self') {
                @for (option of field.options; track option.value) {
                  <mat-option [value]="option.value"> {{ option.name }}</mat-option>
                }
              } @else {
                @if (schemaEnumMapById().get(field.source); as source) {
                  @for (option of source.values; track option.value) {
                    <mat-option [value]="option.value"> {{ option.name }}</mat-option>
                  }
                }
              }
            </mat-select>
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--OPTIONS-->
        @case ('OPTIONS') {
          <mat-form-field [floatLabel]="isDefaultLocale ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <mat-select [formControlName]="field.name" [placeholder]="defaultOptionsPlaceholder(field)" multiple>
              <!--Handle source not defined in previous versions-->
              @if (field.source === undefined || field.source === 'self') {
                @for (option of field.options; track option.value) {
                  <mat-option [value]="option.value"> {{ option.name }}</mat-option>
                }
              } @else {
                @if (schemaEnumMapById().get(field.source); as source) {
                  @for (option of source.values; track option.value) {
                    <mat-option [value]="option.value"> {{ option.name }}</mat-option>
                  }
                }
              }
            </mat-select>
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--LINK-->
        @case ('LINK') {
          @if (form.controls[field.name]; as control) {
            <ll-link-select [form]="control" [component]="field" [documents]="documents" [default]="!isDefaultLocale && data[field.name]" />
          }
        }
        <!--REFERENCE-->
        @case ('REFERENCE') {
          @if (form.controls[field.name]; as control) {
            <ll-reference-select [form]="control" [component]="field" [documents]="documents" />
          }
        }
        <!--REFERENCE-->
        @case ('REFERENCES') {
          @if (form.controls[field.name]; as control) {
            <ll-references-select [form]="control" [component]="field" [documents]="documents" />
          }
        }
        <!--ASSET-->
        @case ('ASSET') {
          <ll-asset-select [component]="field" [form]="form.controls[field.name]" [space]="space" />
        }
        <!--ASSETS-->
        @case ('ASSETS') {
          <ll-assets-select [component]="field" [form]="form.controls[field.name]" [space]="space" (onAssetsChange)="onAssetsChange()" />
        }
        <!--SCHEMA-->
        @case ('SCHEMA') {
          <mat-card class="ll-not-shadow">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> {{ field.displayName || field.name }}</mat-card-title>
                @if (field.description) {
                  <mat-card-subtitle>{{ field.description }}</mat-card-subtitle>
                }
                <button mat-icon-button [matMenuTriggerFor]="schemasMenu" matTooltip="Add Schema" [disabled]="data[field.name]">
                  <mat-icon>add_circle</mat-icon>
                </button>
                <mat-menu #schemasMenu="matMenu">
                  @for (sch of filterSchema(field.schemas); track sch.id) {
                    <button
                      mat-menu-item
                      (click)="addSchemaOne(field, sch)"
                      [llTooltip]="imagePreview"
                      contentType="template"
                      [display]="sch.previewImage !== undefined"
                      placement="left"
                      [showDelay]="600"
                      theme="light">
                      {{ sch.displayName || sch.id }}
                      <ng-template #imagePreview>
                        @if (sch.previewImage; as previewImage) {
                          <img
                            class="rounded"
                            width="180"
                            height="180"
                            loading="lazy"
                            alt="thumbnail"
                            ngSrc="/api/v1/spaces/{{ space.id }}/assets/{{ previewImage }}" />
                        }
                      </ng-template>
                    </button>
                  }
                </mat-menu>
              </mat-card-title-group>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-nav-list class="ll-mat-nav-list-gap">
                @if (data[field.name]; as item) {
                  <mat-list-item (click)="navigationTo(item._id, field.name, item.schema)">
                    @if (schemaCompNodeById().get(item.schema); as sch) {
                      <div matListItemTitle>
                        {{ sch.displayName }} <span class="text-gray-500">#{{ sch.id }}</span>
                        @if (sch.previewField) {
                          <div matListItemLine>
                            {{ previewText(item, sch, locale) }}
                          </div>
                        }
                      </div>
                    } @else {
                      <div matListItemTitle>
                        <span class="text-amber-500">
                          Schema with ID <b>#{{ item.schema }}</b> can't be found.
                        </span>
                      </div>
                    }
                    <mat-action-list matListItemMeta>
                      <button mat-icon-button (click)="removeSchemaOne(field)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <mat-icon>navigate_next</mat-icon>
                    </mat-action-list>
                  </mat-list-item>
                }
              </mat-nav-list>
            </mat-card-content>
          </mat-card>
        }
        <!--SCHEMAS-->
        @case ('SCHEMAS') {
          <mat-card class="ll-not-shadow">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> {{ field.displayName || field.name }}</mat-card-title>
                @if (field.description) {
                  <mat-card-subtitle>{{ field.description }}</mat-card-subtitle>
                }
                <button mat-icon-button [matMenuTriggerFor]="schemasMenu" matTooltip="Add Schema">
                  <mat-icon>add_circle</mat-icon>
                </button>
                <mat-menu #schemasMenu="matMenu">
                  @for (sch of filterSchema(field.schemas); track sch.id) {
                    <button
                      mat-menu-item
                      (click)="addSchemaMany(field, sch)"
                      [llTooltip]="imagePreview"
                      contentType="template"
                      [display]="sch.previewImage !== undefined"
                      placement="left"
                      [showDelay]="600"
                      theme="light">
                      {{ sch.displayName || sch.id }}
                      <ng-template #imagePreview>
                        @if (sch.previewImage; as previewImage) {
                          <img
                            class="rounded"
                            width="180"
                            height="180"
                            loading="lazy"
                            alt="thumbnail"
                            ngSrc="/api/v1/spaces/{{ space.id }}/assets/{{ previewImage }}" />
                        }
                      </ng-template>
                    </button>
                  }
                </mat-menu>
              </mat-card-title-group>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-nav-list cdkDropList class="ll-mat-nav-list-gap" (cdkDropListDropped)="schemaDropDrop($event, data[field.name])">
                @for (item of data[field.name]; track item; let idx = $index) {
                  <mat-list-item cdkDrag (click)="navigationTo(item._id, field.name, item.schema)">
                    <mat-icon matListItemIcon cdkDragHandle>drag_indicator</mat-icon>
                    @if (schemaCompNodeById().get(item.schema); as sch) {
                      <div matListItemTitle>
                        {{ sch.displayName }} <span class="text-gray-500">#{{ sch.id }}</span>
                        @if (sch.previewField) {
                          <div matListItemLine>
                            {{ previewText(item, sch, locale) }}
                          </div>
                        }
                      </div>
                    } @else {
                      <div matListItemTitle>
                        <span class="text-amber-500">
                          Schema with ID <b>#{{ item.schema }}</b> can't be found.
                        </span>
                      </div>
                    }
                    <mat-action-list matListItemMeta>
                      <button mat-icon-button (click)="duplicateSchemaMany($event, data[field.name], item, idx)">
                        <mat-icon>content_copy</mat-icon>
                      </button>
                      <button mat-icon-button (click)="removeSchemaMany(field, item._id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <mat-icon>navigate_next</mat-icon>
                    </mat-action-list>
                  </mat-list-item>
                }
              </mat-nav-list>
            </mat-card-content>
          </mat-card>
        }
        @default {
          {{ field.kind }} is not implemented
        }
      }
    }
  </form>
}
@if (settingsStore.debugEnabled()) {
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>EditDocumentSchema Form => {{ form?.valid }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>isDefaultLocale = {{ isDefaultLocale }}</pre>
      <pre>{{ form.value | json }}</pre>
      <pre>{{ form.errors | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
}
