<ng-container *ngIf="rootSchema">

  <form [formGroup]="form" class="step-container" *ngIf="!isFormLoading">
    <ng-container *ngFor="let field of rootSchema.fields" [ngSwitch]="field.kind">
      <!--TEXT-->
      <ng-container *ngSwitchCase="'TEXT'">
        <mat-form-field>
          <mat-label>{{field.displayName || field.name}}</mat-label>
          <input matInput type="text"
                 [formControlName]="field.name"
                 [required]="field.required"
                 [attr.minlength]="field.minLength"
                 [attr.maxlength]="field.maxLength"
                 autocomplete="off"/>
          <mat-icon matIconSuffix *ngIf="field.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
          <mat-hint align="end" *ngIf="field.maxLength">{{form.controls[field.name]?.value?.length || 0}}
            /{{field.maxLength}}</mat-hint>
          <mat-error *ngIf="form.controls[field.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--TEXTAREA-->
      <ng-container *ngSwitchCase="'TEXTAREA'">
        <mat-form-field>
          <mat-label>{{field.displayName || field.name}}</mat-label>
          <textarea matInput rows="6"
                    [formControlName]="field.name"
                    [required]="field.required"
                    [attr.minLength]="field.minLength"
                    [attr.maxlength]="field.maxLength"
                    autocomplete="off"></textarea>
          <mat-icon matIconSuffix *ngIf="field.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
          <mat-hint align="end" *ngIf="field.maxLength">{{form.controls[field.name]?.value?.length || 0}}
            /{{field.maxLength}}</mat-hint>
          <mat-error *ngIf="form.controls[field.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--NUMBER-->
      <ng-container *ngSwitchCase="'NUMBER'">
        <mat-form-field>
          <mat-label>{{field.displayName || field.name}}</mat-label>
          <input matInput type="number"
                 [formControlName]="field.name"
                 [required]="field.required"
                 [attr.min]="field.minValue"
                 [attr.max]="field.maxValue"
                 autocomplete="off"/>
          <mat-icon matIconSuffix *ngIf="field.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
          <mat-error *ngIf="form.controls[field.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--COLOR-->
      <ng-container *ngSwitchCase="'COLOR'">
        <mat-form-field>
          <mat-label>{{field.displayName || field.name}}</mat-label>
          <input matInput type="color"
                 [formControlName]="field.name"
                 [required]="field.required"
                 [attr.min]="field.minValue"
                 [attr.max]="field.maxValue"
                 autocomplete="off"/>
          <mat-icon matIconSuffix *ngIf="field.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
          <mat-error *ngIf="form.controls[field.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--DATE-->
      <ng-container *ngSwitchCase="'DATE'">
        <mat-form-field>
          <mat-label>{{field.displayName || field.name}}</mat-label>
          <input matInput type="date"
                 [formControlName]="field.name"
                 [required]="field.required"
                 autocomplete="off"/>
          <mat-icon matIconSuffix *ngIf="field.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
          <mat-error *ngIf="form.controls[field.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--DATE TIME-->
      <ng-container *ngSwitchCase="'DATETIME'">
        <mat-form-field>
          <mat-label>{{field.displayName || field.name}}</mat-label>
          <input matInput type="datetime-local"
                 [formControlName]="field.name"
                 [required]="field.required"
                 autocomplete="off"/>
          <mat-icon matIconSuffix *ngIf="field.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
          <mat-error *ngIf="form.controls[field.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--BOOLEAN-->
      <ng-container *ngSwitchCase="'BOOLEAN'">
        &nbsp;&nbsp;<mat-slide-toggle [formControlName]="field.name">{{field.displayName || field.name}}</mat-slide-toggle>
        &nbsp;
        <mat-icon matIconSuffix *ngIf="field.translatable" matTooltip="The field is translatable">language</mat-icon>
        <br/>
        <mat-hint *ngIf="field.description" style="font-size: 12px;padding: 0 16px;">{{field.description}}</mat-hint>
        <mat-error *ngIf="form.controls[field.name].errors as errors">{{fe.errors(errors)}}</mat-error>
      </ng-container>
      <!--OPTION-->
      <ng-container *ngSwitchCase="'OPTION'">
        <mat-form-field>
          <mat-label>{{field.displayName || field.name}}</mat-label>
          <mat-select [formControlName]="field.name"
                      [required]="field.required">
            <mat-option *ngIf="!field.required">-- None --</mat-option>
            <mat-option *ngFor="let option of field.options" [value]="option.value">
              {{option.name}}
            </mat-option>
          </mat-select>
          <mat-icon matIconSuffix *ngIf="field.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
          <mat-error *ngIf="form.controls[field.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--OPTIONS-->
      <ng-container *ngSwitchCase="'OPTIONS'">
        <mat-form-field>
          <mat-label>{{field.displayName || field.name}}</mat-label>
          <mat-select [formControlName]="field.name"
                      [required]="field.required"
                      multiple>
            <mat-option *ngFor="let option of field.options" [value]="option.value">
              {{option.name}}
            </mat-option>
          </mat-select>
          <mat-icon matIconSuffix *ngIf="field.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="field.description">{{field.description}}</mat-hint>
          <mat-error *ngIf="form.controls[field.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--LINK-->
      <ng-container *ngSwitchCase="'LINK'">
        <ll-link-select *ngIf="form.controls[field.name]"
                        [form]="form.controls[field.name]"
                        [component]="field"
                        [pages]="documents"/>
      </ng-container>
      <!--ASSET-->
      <ng-container *ngSwitchCase="'ASSET'">
        <ll-asset-select [component]="field"
                         [form]="form.controls[field.name]"
                         [space]="space"/>
      </ng-container>
      <!--ASSETS-->
      <ng-container *ngSwitchCase="'ASSETS'">
        <ll-assets-select [component]="field"
                          [form]="form.controls[field.name]"
                          [space]="space"
                          (assetsChange)="onAssetsChange()"/>
      </ng-container>
      <!--SCHEMA-->
      <ng-container *ngSwitchCase="'SCHEMA'">
        <mat-card class="ll-not-shadow">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                {{field.displayName || field.name}}
              </mat-card-title>
              <button mat-icon-button [matMenuTriggerFor]="schemasMenu" matTooltip="Add Schema">
                <mat-icon>add_circle</mat-icon>
              </button>
              <mat-menu #schemasMenu="matMenu">
                <button mat-menu-item *ngFor="let sch of filterSchema(field.schemas)"
                        (click)="addSchema(field, sch)">
                  {{sch.displayName || sch.name}}
                </button>
              </mat-menu>

            </mat-card-title-group>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <mat-nav-list class="ll-mat-nav-list-gap">
              <mat-list-item *ngFor="let item of data[field.name]"
                             (click)="navigationTo(item._id, field.name, item.schema)">
                <mat-icon matListItemIcon matTooltip="Drag and drop feature will come later">drag_handle</mat-icon>
                <span matListItemTitle *ngIf="schemaMapByName.get(item.schema) as sch">
                  {{sch.displayName}} <span class="text-muted">#{{sch.name}}</span>
                </span>
                <span matListItemLine *ngIf="schemaMapByName.get(item.schema) as sch">
                  <ng-container *ngIf="sch.previewField">
                    {{item[sch.previewField]}}
                  </ng-container>
                 </span>
                <span matListItemMeta>
                  <button mat-icon-button (click)="removeSchema(field, item._id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <mat-icon>navigate_next</mat-icon>
                </span>
              </mat-list-item>

            </mat-nav-list>
          </mat-card-content>
        </mat-card>

        <mat-hint *ngIf="field.description"
                  style="font-size: 75%;padding: 0 1em;">{{field.description}}</mat-hint>
      </ng-container>
      <!--DEFAULT-->
      <ng-container *ngSwitchDefault>
        {{field.kind}} is not implemented
      </ng-container>

    </ng-container>
  </form>
</ng-container>


<ng-container *ngIf="isDebug">
  <mat-divider/>
  <br/>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>EditDocumentSchema Form => {{form?.valid}}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{form.value | json}}</pre>
      <pre>{{form.errors | json}}</pre>
    </mat-expansion-panel>
  </mat-accordion>
  <br/>
</ng-container>
