mat-toolbar-row .mat-button-base {
  margin: 8px 0 8px 8px;
}

table {
  width: 100%;
}

mat-cell.mat-column-actions {
  max-width: 100px;
  padding-right: 8px;
}

mat-header-cell.mat-column-actions {
  max-width: 100px;
  padding-right: 8px;
}

mat-cell.mat-column-avatar {
  max-width: 100px;
  padding-right: 8px;
}

mat-header-cell.mat-column-avatar {
  max-width: 100px;
  padding-right: 8px;
}
