@if (component(); as field) {
  <div hlmField class="gap-2">
    <label hlmFieldLabel [for]="'schema-field-' + field.name">
      {{ field.displayName || field.name }}
      @if (field.description) {
        <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltipTrigger]="field.description" />
      }
      @if (field.translatable) {
        <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltipTrigger="The field is translatable" />
      }
    </label>
    <div hlmInputGroup>
      <tiptap-editor [id]="'schema-field-' + field.name" class="block w-full" [editor]="editor" outputFormat="json" [formControl]="form()">
      </tiptap-editor>
      <div hlmInputGroupAddon align="block-start" class="border-b flex flex-wrap">
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('paragraph') ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Normal text &#10; {{ fnKey }} + Alt + 0"
          (click)="editor.chain().focus().setParagraph().run()">
          <ng-icon name="lucidePilcrow" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('heading', { level: 1 }) ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Heading 1 &#10; {{ fnKey }} + Alt + 1"
          (click)="editor.chain().focus().toggleHeading({ level: 1 }).run()">
          <ng-icon name="lucideHeading1" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('heading', { level: 2 }) ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Heading 2 &#10; {{ fnKey }} + Alt + 2"
          (click)="editor.chain().focus().toggleHeading({ level: 2 }).run()">
          <ng-icon name="lucideHeading2" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('heading', { level: 3 }) ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Heading 3 &#10; {{ fnKey }} + Alt + 3"
          (click)="editor.chain().focus().toggleHeading({ level: 3 }).run()">
          <ng-icon name="lucideHeading3" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('heading', { level: 4 }) ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Heading 4 &#10; {{ fnKey }} + Alt + 4"
          (click)="editor.chain().focus().toggleHeading({ level: 4 }).run()">
          <ng-icon name="lucideHeading4" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('heading', { level: 5 }) ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Heading 5 &#10; {{ fnKey }} + Alt + 5"
          (click)="editor.chain().focus().toggleHeading({ level: 5 }).run()">
          <ng-icon name="lucideHeading5" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('heading', { level: 6 }) ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Heading 6 &#10; {{ fnKey }} + Alt + 6"
          (click)="editor.chain().focus().toggleHeading({ level: 6 }).run()">
          <ng-icon name="lucideHeading6" />
        </button>
        <hlm-separator orientation="vertical" class="h-4!" />
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('bold') ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Bold &#10; {{ fnKey }} + B"
          (click)="editor.chain().focus().toggleBold().run()">
          <ng-icon name="lucideBold" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('italic') ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Italic &#10; {{ fnKey }} + I"
          (click)="editor.chain().focus().toggleItalic().run()">
          <ng-icon name="lucideItalic" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('strike') ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Strike &#10; {{ fnKey }} + Shift + S"
          (click)="editor.chain().focus().toggleStrike().run()">
          <ng-icon name="lucideStrikethrough" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('underline') ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Underline &#10; {{ fnKey }} + U"
          (click)="editor.chain().focus().toggleUnderline().run()">
          <ng-icon name="lucideUnderline" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('code') ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Code &#10; {{ fnKey }} + E"
          (click)="editor.chain().focus().toggleCode().run()">
          <ng-icon name="lucideCode" />
        </button>
        <hlm-separator orientation="vertical" class="h-4!" />
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('link') ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Link"
          (click)="setLink()">
          <ng-icon name="lucideLink" />
        </button>
        <hlm-separator orientation="vertical" class="h-4!" />
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('orderedList') ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Ordered List &#10; {{ fnKey }} + Shift + 7"
          (click)="editor.chain().focus().toggleOrderedList().run()">
          <ng-icon name="lucideListOrdered" />
        </button>
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('bulletList') ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Bullet List &#10; {{ fnKey }} + Shift + 8"
          (click)="editor.chain().focus().toggleBulletList().run()">
          <ng-icon name="lucideList" />
        </button>
        <hlm-separator orientation="vertical" class="h-4!" />
        <button
          hlmInputGroupButton
          size="icon-xs"
          [variant]="editor.isActive('codeBlock') ? 'secondary' : 'ghost'"
          hlmTooltipTrigger="Code Block &#10; {{ fnKey }} + Alt + C"
          (click)="editor.chain().focus().toggleCodeBlock().run()">
          <ng-icon name="lucideCodeSquare" />
        </button>
        <hlm-separator orientation="vertical" class="h-4!" />
      </div>
    </div>
    @if (field.maxLength) {
      <p hlmFieldDescription class="content-end">{{ field.maxLength - (form().value?.length || 0) }} characters left</p>
    }
    @if (form().errors; as errors) {
      <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
    }
  </div>
}
