mat-form-field {
  width: 100%;
}

.vertical-divider {
  border-right: 1px solid var(--sys-outline);
  @apply mx-1;
}

button.selected {
  color: var(--mat-standard-button-toggle-selected-state-text-color, var(--mat-sys-on-secondary-container));
  background-color: var(--mat-standard-button-toggle-selected-state-background-color, var(--mat-sys-secondary-container));
}
