<h2 mat-dialog-title>Token Form</h2>
<mat-dialog-content>
  <br />
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" required minlength="3" maxlength="30" autocomplete="off" />
      <mat-hint align="end">{{ form.controls['name'].value?.length || 0 }}/30</mat-hint>
      @if (form.controls['name'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
    <br />
    <b>Permissions</b>
    <mat-selection-list formControlName="permissions">
      <mat-list-option value="PUBLIC">
        <span matListItemTitle>Public</span>
        <span matListItemLine>Access to published only version.</span>
      </mat-list-option>
      <mat-list-option value="DRAFT">
        <span matListItemTitle>Draft</span>
        <span matListItemLine>Access to draft only version.</span>
      </mat-list-option>
      <mat-list-option value="DEV_TOOLS">
        <span matListItemTitle>Development Tools</span>
        <span matListItemLine>Access development tools, like Open API Specifications.</span>
      </mat-list-option>
    </mat-selection-list>
    @if (form.controls['permissions'].errors; as errors) {
      <mat-error>{{ fe.errors(errors) }}</mat-error>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-flat-button [mat-dialog-close]="form.value" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
