<form [formGroup]="filterForm">
  <fieldset hlmFieldSet>
    <div hlmFieldGroup class="mb-3 grid grid-cols-4 gap-2">
      <div hlmField>
        <hlm-select formControlName="locale" [itemToString]="localeIdToString">
          <hlm-select-trigger class="w-full">
            <hlm-select-value placeholder="Search Locale" />
          </hlm-select-trigger>
          <hlm-select-content *hlmSelectPortal>
            @for (locale of availableLocales(); track locale.id) {
              <hlm-select-item [value]="locale.id">{{ locale.name }}</hlm-select-item>
            }
          </hlm-select-content>
        </hlm-select>
      </div>
      <div hlmInputGroup>
        <input hlmInputGroupInput placeholder="Search..." formControlName="search" type="search" />
        <div hlmInputGroupAddon>
          <ng-icon hlm size="sm" name="lucideSearch" />
        </div>
      </div>
      <div hlmField class="col-span-2 flex w-fit flex-row">
        <hlm-popover sideOffset="5">
          <div hlmButtonGroup>
            <button class="justify-between" hlmPopoverTrigger hlmBtn variant="outline">
              <ng-icon hlm size="sm" name="lucideCirclePlus" class="opacity-50" />
              Status
            </button>
            @let states = filterForm.controls.states.value;
            @if (states && states.length > 0) {
              <div hlmButtonGroupText>
                <span hlmBadge variant="secondary">{{ states.length }}</span>
              </div>
            }
          </div>
          <hlm-command *hlmPopoverPortal="let ctx" hlmPopoverContent class="w-[200px] p-0">
            <hlm-command-list>
              <hlm-command-group>
                <hlm-command-group-label>Translation</hlm-command-group-label>
                @for (state of allTranslationStates; track state) {
                  <button hlm-command-item [value]="state" (selected)="selectState(state)">
                    <span>{{ translationStatesDictionary[state] }}</span>
                    <ng-icon
                      hlm
                      size="sm"
                      class="ml-auto"
                      [class.opacity-0]="!filterForm.value.states?.includes(state)"
                      name="lucideCheck"
                      hlmCommandIcon />
                  </button>
                }
              </hlm-command-group>
              <hlm-command-group>
                <hlm-command-group-label>Locale</hlm-command-group-label>
                @for (state of allLocaleStates; track state) {
                  <button hlm-command-item [value]="state" (selected)="selectState(state)">
                    <span>{{ localeStatesDictionary[state] }}</span>
                    <ng-icon
                      hlm
                      size="sm"
                      class="ml-auto"
                      [class.opacity-0]="!filterForm.value.states?.includes(state)"
                      name="lucideCheck"
                      hlmCommandIcon />
                  </button>
                }
              </hlm-command-group>
            </hlm-command-list>
          </hlm-command>
        </hlm-popover>
        <hlm-popover sideOffset="5">
          <div hlmButtonGroup>
            <button class="justify-between" hlmPopoverTrigger hlmBtn variant="outline">
              <ng-icon hlm size="sm" name="lucideCirclePlus" class="opacity-50" />
              Labels
            </button>
            @let labels = filterForm.controls.labels.value;
            @if (labels && labels.length > 0) {
              <div hlmButtonGroupText>
                <span hlmBadge variant="secondary">{{ labels.length }}</span>
              </div>
            }
          </div>
          <hlm-command *hlmPopoverPortal="let ctx" hlmPopoverContent class="w-[200px] p-0">
            <hlm-command-input placeholder="Search label..." />
            <div *hlmCommandEmptyState hlmCommandEmpty>No results found.</div>
            <hlm-command-list>
              <hlm-command-group>
                @for (label of allLabels(); track label) {
                  <button hlm-command-item [value]="label" (selected)="selectLabel(label)">
                    <span>{{ label }}</span>
                    <ng-icon
                      hlm
                      size="sm"
                      class="ml-auto"
                      [class.opacity-0]="!filterForm.value.labels?.includes(label)"
                      name="lucideCheck"
                      hlmCommandIcon />
                  </button>
                }
              </hlm-command-group>
            </hlm-command-list>
          </hlm-command>
        </hlm-popover>
        @if (isFormChanged()) {
          <button hlmBtn variant="outline" class="!w-fit" (click)="filterReset()">
            Reset
            <ng-icon hlm name="lucideX" size="sm" class="ml-2" />
          </button>
        }
      </div>
    </div>
  </fieldset>
</form>
