<form *ngIf="form" [formGroup]="form">
  <mat-card class="ll-not-shadow">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          {{component?.displayName || component?.name}}
          <mat-icon *ngIf="component?.translatable" matTooltip="The field is translatable">language</mat-icon>
        </mat-card-title>
        <button mat-icon-button matTooltip="Add Asset" (click)="openAssetSelectDialog()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list class="assets" *ngIf="asset">
        <mat-list-item>
          <img *ngIf="asset.type.startsWith('image/'); else noImage"
               matListItemAvatar class="img-fluid"
               width="290" height="200" alt="thumbnail" loading="lazy"
               ngSrc="/api/v1/spaces/{{space.id}}/assets/{{asset.id}}"/>
          <ng-template #noImage>
            <mat-icon matListItemIcon>file_present</mat-icon>
          </ng-template>
          <div matListItemTitle>{{asset.name}}{{asset.extension}}</div>
          <div matListItemLine>{{asset.alt}}</div>
          <mat-action-list matListItemMeta>
            <button mat-icon-button (click)="deleteAsset()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-action-list>
        </mat-list-item>
      </mat-list>
      <mat-hint *ngIf="component?.description">{{component.description}}</mat-hint>
      <mat-error *ngIf="form.controls['uri'].errors as errors">{{fe.errors(errors)}}</mat-error>
    </mat-card-content>
  </mat-card>

  <!--<mat-form-field floatLabel="always">
    <mat-label>{{component?.displayName || component?.name}}</mat-label>
    <input matInput [required]="component.required" hidden>
    <button mat-raised-button matTextSuffix color="accent" (click)="openAssetSelectDialog()">
      Add Asset
    </button>
    <br>
    <mat-grid-list cols="4" rowHeight="200px" gutterSize="4">
      <mat-grid-tile *ngIf="asset" >
        <mat-grid-tile-header>
          <span class="spacer"></span>
          <button mat-icon-button (click)="deleteAsset()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-grid-tile-header>
        <ng-container *ngIf="asset.type.startsWith('image/'); else noImage">
          <img class="img-fluid" width="290" height="200" alt="thumbnail" loading="lazy"
               ngSrc="/api/v1/spaces/{{space.id}}/assets/{{asset.id}}"/>
        </ng-container>
        <ng-template #noImage>
          <mat-icon>file_present</mat-icon>
        </ng-template>

        <mat-grid-tile-footer>{{asset.name}}{{asset.extension}}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-icon matIconSuffix *ngIf="component?.translatable" matTooltip="The field is translatable">language</mat-icon>
    <mat-hint *ngIf="component?.description">{{component.description}}</mat-hint>
    <mat-error *ngIf="form.controls['uri'].errors as errors">{{fe.errors(errors)}}</mat-error>

  </mat-form-field>-->

</form>
<ng-container *ngIf="settings$ | async as settings">
  <mat-accordion *ngIf="settings.debugEnabled">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form => {{form?.valid}}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{form.value | json}}</pre>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Asset</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{asset | json}}</pre>
    </mat-expansion-panel>
  </mat-accordion>
  <br/>
</ng-container>
