<form *ngIf="form" [formGroup]="form">
  <mat-form-field floatLabel="always">
    <mat-label>{{component?.displayName || component?.name}}</mat-label>
    <input matInput [required]="component.required" hidden>
    <button mat-raised-button matTextSuffix color="accent" (click)="openAssetSelectDialog()">
      Add Asset
    </button>
    <br>
    <mat-grid-list cols="4" rowHeight="200px" gutterSize="4">
      <mat-grid-tile *ngIf="asset" >
        <mat-grid-tile-header>
          <span class="spacer"></span>
          <button mat-icon-button (click)="deleteAsset()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-grid-tile-header>
          <ng-container *ngIf="asset.type.startsWith('image/'); else noImage">
            <img *ngIf="space" src="/api/v1/spaces/{{space.id}}/assets/{{asset.id}}" class="img-fluid"/>
          </ng-container>
        <ng-template #noImage>
          <mat-icon>file_present</mat-icon>
        </ng-template>

        <mat-grid-tile-footer>{{asset.name}}{{asset.extension}}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-icon matIconSuffix *ngIf="component?.translatable" matTooltip="The field is translatable">language</mat-icon>
    <mat-hint *ngIf="component?.description">{{component.description}}</mat-hint>
    <mat-error *ngIf="form.controls['uri'].errors as errors">{{fe.errors(errors)}}</mat-error>

  </mat-form-field>

  <mat-error *ngIf="form.controls['uri'].errors as errors">{{fe.errors(errors)}}</mat-error>
</form>
<ng-container *ngIf="isDebug">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form => {{form?.valid}}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{form.value | json}}</pre>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Asset</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{asset | json}}</pre>
    </mat-expansion-panel>
  </mat-accordion>
  <br/>
</ng-container>
