<mat-card class="ll-not-shadow">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{ component().displayName || component().name }}
        @if (component().translatable) {
          <mat-icon matTooltip="The field is translatable">language</mat-icon>
        }
      </mat-card-title>
      @if (component().description; as description) {
        <mat-card-subtitle>{{ description }}</mat-card-subtitle>
      }
      <button mat-icon-button matTooltip="Add Assets" (click)="openAssetSelectDialog()">
        <mat-icon>attach_file_add</mat-icon>
      </button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list cdkDropList (cdkDropListDropped)="assetDropDrop($event)">
      @for (asset of assets; track asset.id; let idx = $index) {
        <mat-list-item cdkDrag cdkDragPreviewContainer="parent">
          @if (asset.type.startsWith('image/')) {
            <img
              matListItemAvatar
              (mouseup)="openImagePreview(asset)"
              [llImagePreview]="3"
              class="border object-contain image-bg rounded-sm!"
              width="200"
              height="200"
              alt="thumbnail"
              loading="lazy"
              [loaderParams]="{ thumbnail: true }"
              ngSrc="/api/v1/spaces/{{ space().id }}/assets/{{ asset.id }}" />
          } @else {
            <mat-icon matListItemIcon>file_present</mat-icon>
          }
          <div matListItemTitle>{{ asset.name }}{{ asset.extension }}</div>
          <code matListItemLine>
            {{ asset.size | formatFileSize }}
            @if (asset.metadata; as metadata) {
              | W{{ metadata.width }} x H{{ metadata.height }}
            }
          </code>
          <div matListItemMeta>
            <button mat-icon-button (click)="deleteAsset(idx)">
              <mat-icon>delete</mat-icon>
            </button>
            &nbsp;&nbsp;
            <mat-icon cdkDragHandle>drag_indicator</mat-icon>
          </div>
        </mat-list-item>
      }
    </mat-list>
    @if (form().errors; as errors) {
      <mat-error>{{ fe.errors(errors) }}</mat-error>
    }
  </mat-card-content>
</mat-card>

@if (settingsStore.debugEnabled()) {
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form : valid={{ form().valid }}, length={{ form().length }}</mat-panel-title>
      </mat-expansion-panel-header>
      Value :
      <pre>{{ form().value | json }}</pre>
      Error :
      <pre>{{ form().errors | json }}</pre>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Assets => {{ assets.length }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ assets | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
}
