<div hlmFieldGroup>
  <fieldset hlmFieldSet class="gap-2">
    <legend hlmFieldLegend class="flex w-full justify-between">
      <span>
        {{ component().displayName || component().name }}
        @if (component().translatable) {
          <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
        }
      </span>
      <button hlmBtn variant="ghost" size="sm" hlmTooltip="Add Assets" (click)="openAssetSelectDialog()">
        <ng-icon hlm size="sm" name="lucideFilePlusCorner" />
      </button>
    </legend>
    @if (component().description; as description) {
      <p hlmFieldDescription class="line-clamp-2">{{ description }}</p>
    }
    <hlm-field-separator />
    <div hlmItemGroup class="gap-2" cdkDropList (cdkDropListDropped)="assetDropDrop($event)">
      @for (asset of assets(); track asset.id; let idx = $index) {
        <div
          hlmItem
          variant="outline"
          role="listitem"
          class="cursor-pointer"
          cdkDrag
          cdkDragPreviewContainer="parent"
          (click)="openImagePreview(asset)"
          (keydown)="openImagePreview(asset)">
          @if (asset.type.startsWith('image/')) {
            <div hlmItemMedia variant="image">
              <img
                [llImagePreview]="2.5"
                class="image-bg rounded-sm! border object-contain!"
                width="200"
                height="200"
                alt="thumbnail"
                loading="lazy"
                [loaderParams]="{ thumbnail: true }"
                ngSrc="/api/v1/spaces/{{ space().id }}/assets/{{ asset.id }}" />
            </div>
          } @else {
            <div hlmItemMedia variant="icon">
              <ng-icon name="lucideFile" />
            </div>
          }
          <div hlmItemContent class="min-w-0 overflow-hidden">
            <div hlmItemTitle class="line-clamp-1 w-full truncate"> {{ asset.name }}{{ asset.extension }} </div>
            <p hlmItemDescription class="line-clamp-1 truncate">
              {{ asset.size | formatFileSize }}
              @if (asset.metadata; as metadata) {
                | W{{ metadata.width }} x H{{ metadata.height }}
              }
            </p>
          </div>
          <div role="none" hlmItemActions (click)="$event.preventDefault(); $event.stopImmediatePropagation()">
            <button hlmBtn size="icon" variant="outline" (click)="deleteAsset(idx)" hlmTooltip="Delete">
              <ng-icon hlm size="sm" name="lucideTrash" />
            </button>
            <button hlmBtn size="icon" variant="ghost" cdkDragHandle class="cursor-grab active:cursor-grabbing" hlmTooltip="Move">
              <ng-icon hlm size="sm" name="lucideGripVertical" />
            </button>
          </div>
        </div>
      }
    </div>
    @if (form().errors; as errors) {
      <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
    }
  </fieldset>
</div>

@if (settingsStore.debugEnabled()) {
  <br />
  <hlm-separator />
  <br />
  <hlm-accordion>
    <hlm-accordion-item>
      <h3 class="contents">
        <button hlmAccordionTrigger>
          Form => valid={{ form().valid }}
          <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
        </button>
      </h3>
      <hlm-accordion-content>
        Value :
        <pre>{{ form().value | json }}</pre>
        Error :
        <pre>{{ form().errors | json }}</pre>
      </hlm-accordion-content>
    </hlm-accordion-item>
    <hlm-accordion-item>
      <h3 class="contents">
        <button hlmAccordionTrigger>
          Assets => {{ assets().length }}
          <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
        </button>
      </h3>
      <hlm-accordion-content>
        <pre>{{ assets() | json }}</pre>
      </hlm-accordion-content>
    </hlm-accordion-item>
  </hlm-accordion>
}
