<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-10 w-auto my-2" src="assets/logo-adaptive.svg" alt="Localess" />
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight"> Sign in to your account </h2>
    @if (message) {
      <div class="mt-2 text-center text-sm leading-5 text-red-600"> {{ message }} </div>
    }
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <form class="space-y-6" [formGroup]="form">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
        </mat-form-field>

        <div>
          <button
            mat-stroked-button
            color="primary"
            class="w-full"
            (click)="loginWithEmailAndPassword(form.value.email, form.value.password)">
            Sign in
          </button>
        </div>
        <div>
          <button mat-stroked-button class="w-full" routerLink="/reset">Forgot Password ?</button>
        </div>
      </form>

      @if (isGoogleAuthEnabled || isMicrosoftAuthEnabled) {
        <div>
          <div class="relative mt-10">
            <div class="relative flex justify-center text-sm font-medium leading-6">
              <span class="px-6">Or continue with</span>
            </div>
          </div>

          <div class="mt-6 grid grid-cols-2 gap-4">
            @if (isGoogleAuthEnabled) {
              <button mat-stroked-button color="warn" (click)="loginWithGoogle()">Google</button>
            }
            @if (isMicrosoftAuthEnabled) {
              <button mat-stroked-button color="warn" (click)="loginWithMicrosoft()"> Microsoft</button>
            }
          </div>
        </div>
      }

      @if (settingsStore.debugEnabled()) {
        <div class="mt-6">
          <p>
            <b>isGoogleAuthEnabled</b> = {{ isGoogleAuthEnabled }} <br />
            <b>isMicrosoftAuthEnabled</b> = {{ isMicrosoftAuthEnabled }} <br />
            <!--user = {{ user | async | json}} <br/>-->
            <b>userId</b> = {{ (user | async)?.uid }} <br />
            <b>userDisplayName</b> = {{ (user | async)?.displayName }} <br />
            <b>userEmail</b> = {{ (user | async)?.email }} <br />
            <b>parsedToken</b> = {{ parsedToken | async | json }} <br />
            <b>auth</b> = {{ auth | json }} <br />
          </p>
        </div>
      }
    </div>
  </div>
</div>
