@if (rootSchema && !isFormLoading()) {
  <form [formGroup]="form" #schemaForm class="flex flex-col gap-2">
    @for (field of rootSchema.fields; track field.name) {
      @switch (field.kind) {
        <!--TEXT-->
        @case ('TEXT') {
          <mat-form-field [floatLabel]="isDefaultLocale() ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <input
              [id]="'schema-field-' + field.name"
              matInput
              type="text"
              [formControlName]="field.name"
              [attr.minlength]="field.minLength"
              [attr.maxlength]="field.maxLength"
              [placeholder]="!isDefaultLocale() && data[field.name]"
              autocomplete="off" />
            @if (field.translatable) {
              <button
                [matMenuTriggerFor]="tMenu"
                [disabled]="isDefaultLocale() || ('CONTENT_UPDATE' | canUserPerform | async) === false"
                mat-icon-button
                matSuffix
                matTooltip="Translate the field with AI">
                <mat-icon>translate</mat-icon>
                <mat-menu #tMenu="matMenu">
                  @for (locale of availableLocales(); track locale.id) {
                    @if (locale.id !== selectedLocaleId()) {
                      <button mat-menu-item (click)="translate(field.name, locale.id, selectedLocaleId())">
                        Translate from <b>{{ locale.name }}</b> to <b>{{ selectedLocale().name }}</b>
                      </button>
                    }
                  }
                </mat-menu>
              </button>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (field.maxLength) {
              <mat-hint align="end"> {{ form.controls[field.name]?.value?.length || 0 }} /{{ field.maxLength }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--TEXTAREA-->
        @case ('TEXTAREA') {
          <mat-form-field [floatLabel]="isDefaultLocale() ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <textarea
              [id]="'schema-field-' + field.name"
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="6"
              cdkAutosizeMaxRows="12"
              [formControlName]="field.name"
              [attr.minLength]="field.minLength"
              [attr.maxlength]="field.maxLength"
              [placeholder]="!isDefaultLocale() && data[field.name]"
              autocomplete="off"></textarea>
            @if (field.translatable) {
              <button
                [matMenuTriggerFor]="tMenu"
                [disabled]="isDefaultLocale() || ('CONTENT_UPDATE' | canUserPerform | async) === false"
                mat-icon-button
                matSuffix
                matTooltip="Translate the field with AI">
                <mat-icon>translate</mat-icon>
                <mat-menu #tMenu="matMenu">
                  @for (locale of availableLocales(); track locale.id) {
                    @if (locale.id !== selectedLocaleId()) {
                      <button mat-menu-item (click)="translate(field.name, locale.id, selectedLocaleId())">
                        Translate from <b>{{ locale.name }}</b> to <b>{{ selectedLocale().name }}</b>
                      </button>
                    }
                  }
                </mat-menu>
              </button>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (field.maxLength) {
              <mat-hint align="end"> {{ form.controls[field.name]?.value?.length || 0 }} /{{ field.maxLength }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--RICH_TEXT-->
        @case ('RICH_TEXT') {
          @if (form.controls[field.name]; as control) {
            <ll-rich-text-editor [form]="control" [component]="field" />
          }
        }
        <!--MARKDOWN-->
        @case ('MARKDOWN') {
          <mat-form-field floatLabel="always">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0" fitInkBarToContent="true">
              <mat-tab label="Write" bodyClass="border rounded-sm border-gray-400">
                <textarea
                  #mdText
                  matInput
                  rows="6"
                  style="height: {{ mdText.scrollHeight > 144 ? mdText.scrollHeight : 144 }}px"
                  [formControlName]="field.name"
                  [attr.minLength]="field.minLength"
                  [attr.maxlength]="field.maxLength"
                  [placeholder]="!isDefaultLocale && data[field.name]"
                  autocomplete="off"></textarea>
              </mat-tab>
              <mat-tab label="Preview">
                <markdown [data]="mdText.value || 'Preview content will render here.'"></markdown>
              </mat-tab>
            </mat-tab-group>
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (field.maxLength) {
              <mat-hint align="end"> {{ form.controls[field.name]?.value?.length || 0 }} /{{ field.maxLength }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--NUMBER-->
        @case ('NUMBER') {
          <mat-form-field [floatLabel]="isDefaultLocale() ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <input
              [id]="'schema-field-' + field.name"
              matInput
              type="number"
              [formControlName]="field.name"
              [attr.min]="field.minValue"
              [attr.max]="field.maxValue"
              [placeholder]="!isDefaultLocale() && data[field.name]"
              autocomplete="off" />
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--COLOR-->
        @case ('COLOR') {
          <mat-form-field [floatLabel]="isDefaultLocale() ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <input
              [id]="'schema-field-' + field.name"
              matInput
              type="color"
              [formControlName]="field.name"
              [attr.min]="field.minValue"
              [attr.max]="field.maxValue"
              [placeholder]="!isDefaultLocale() && data[field.name]"
              autocomplete="off" />
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--DATE-->
        @case ('DATE') {
          <mat-form-field [floatLabel]="isDefaultLocale() ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <input
              [id]="'schema-field-' + field.name"
              matInput
              type="date"
              [formControlName]="field.name"
              [placeholder]="!isDefaultLocale() && data[field.name]"
              autocomplete="off" />
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--DATE TIME-->
        @case ('DATETIME') {
          <mat-form-field [floatLabel]="isDefaultLocale() ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <input
              [id]="'schema-field-' + field.name"
              matInput
              type="datetime-local"
              [formControlName]="field.name"
              [placeholder]="!isDefaultLocale() && data[field.name]"
              autocomplete="off" />
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--BOOLEAN-->
        @case ('BOOLEAN') {
          <br />
          &nbsp;&nbsp;
          <mat-slide-toggle [formControlName]="field.name">{{ field.displayName || field.name }}</mat-slide-toggle>
          &nbsp;
          @if (field.translatable) {
            <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
          }
          <br />
          @if (field.description) {
            <mat-hint style="font-size: 12px; padding: 0 16px">{{ field.description }}</mat-hint>
          }
          @if (form.controls[field.name].errors; as errors) {
            <mat-error>{{ fe.errors(errors) }}</mat-error>
          }
          <br />
        }
        <!--OPTION-->
        @case ('OPTION') {
          <mat-form-field [floatLabel]="isDefaultLocale() ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <mat-select [formControlName]="field.name">
              @if (!field.required) {
                <mat-option>-- None --</mat-option>
              }
              @if (schemaEnumMapById().get(field.source); as source) {
                @for (option of source.values; track option.value) {
                  <mat-option [value]="option.value"> {{ option.name }}</mat-option>
                }
              }
            </mat-select>
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--OPTIONS-->
        @case ('OPTIONS') {
          <mat-form-field [floatLabel]="isDefaultLocale() ? 'auto' : 'always'">
            <mat-label>{{ field.displayName || field.name }}</mat-label>
            <mat-select [formControlName]="field.name" multiple>
              @if (schemaEnumMapById().get(field.source); as source) {
                @for (option of source.values; track option.value) {
                  <mat-option [value]="option.value"> {{ option.name }}</mat-option>
                }
              }
            </mat-select>
            @if (field.translatable) {
              <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
            }
            @if (field.description) {
              <mat-hint>{{ field.description }}</mat-hint>
            }
            @if (form.controls[field.name].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        }
        <!--LINK-->
        @case ('LINK') {
          @if (form.controls[field.name]; as control) {
            <ll-link-select
              [form]="control"
              [component]="field"
              [documents]="documents"
              [default]="isDefaultLocale() ? undefined : data[field.name]" />
          }
        }
        <!--REFERENCE-->
        @case ('REFERENCE') {
          @if (form.controls[field.name]; as control) {
            <ll-reference-select [form]="control" [component]="field" [space]="space" />
          }
        }
        <!--REFERENCE-->
        @case ('REFERENCES') {
          @if (form.controls[field.name]; as control) {
            <ll-references-select [form]="control" [component]="field" [space]="space" />
          }
        }
        <!--ASSET-->
        @case ('ASSET') {
          <ll-asset-select
            [component]="field"
            [form]="form.controls[field.name]"
            [space]="space"
            [hover]="hoverSchemaField() === field.name" />
        }
        <!--ASSETS-->
        @case ('ASSETS') {
          <ll-assets-select [component]="field" [form]="form.controls[field.name]" [space]="space" (assetsChange)="onAssetsChange()" />
        }
        <!--SCHEMA-->
        @case ('SCHEMA') {
          <div hlmFieldGroup>
            <fieldset hlmFieldSet class="gap-2">
              <legend hlmFieldLegend class="w-full flex justify-between">
                {{ field.displayName || field.name }}
                <button
                  hlmBtn
                  variant="ghost"
                  size="sm"
                  [hlmDropdownMenuTrigger]="menu"
                  hlmTooltipTrigger="Add Schema"
                  [disabled]="data[field.name]">
                  <ng-icon hlm size="sm" name="lucideCirclePlus" />
                </button>
                <ng-template #menu>
                  <hlm-dropdown-menu class="w-60">
                    @for (sch of filterSchema(field.schemas || []); track sch.id) {
                      <button hlmDropdownMenuItem (click)="addSchemaMany(field, sch)" [hlmTooltipTrigger]="sch.description || ''">
                        {{ sch.displayName || sch.id }}
                      </button>
                    }
                  </hlm-dropdown-menu>
                </ng-template>
              </legend>
              @if (field.description) {
                <p hlmFieldDescription class="line-clamp-2">{{ field.description }}</p>
              }
              <hlm-field-separator />
              <div hlmFieldGroup>
                <div hlmItemGroup class="gap-2">
                  @if (data[field.name]; as item) {
                    <div
                      [id]="item._id"
                      hlmItem
                      variant="outline"
                      role="listitem"
                      class="cursor-pointer"
                      [ngClass]="{ 'border-primary border': hoverSchemaPath()?.includes(item._id) }"
                      (click)="navigationTo(item._id, field.name, item.schema)"
                      (keydown)="navigationTo(item._id, field.name, item.schema)">
                      <div hlmItemContent>
                        @if (schemaCompNodeById().get(item.schema); as sch) {
                          <div hlmItemTitle class="line-clamp-1">
                            {{ sch.displayName }} <span class="text-muted-foreground">#{{ sch.id }}</span>
                          </div>
                          @if (sch.previewField) {
                            <p hlmItemDescription> {{ previewText(item, sch, selectedLocaleId()) }}</p>
                          }
                        } @else {
                          <div hlmItemTitle class="line-clamp-1 text-destructive">
                            Schema with ID <b>#{{ item.schema }}</b> can't be found.
                          </div>
                        }
                      </div>
                      <div hlmItemActions>
                        <button hlmBtn size="icon" variant="outline" (click)="removeSchemaOne($event, field)" hlmTooltipTrigger="Delete">
                          <ng-icon hlm size="sm" name="lucideTrash" />
                        </button>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </fieldset>
          </div>
        }
        <!--SCHEMAS-->
        @case ('SCHEMAS') {
          <div hlmFieldGroup>
            <fieldset hlmFieldSet class="gap-2">
              <legend hlmFieldLegend class="w-full flex justify-between">
                {{ field.displayName || field.name }}
                <button hlmBtn variant="ghost" size="sm" [hlmDropdownMenuTrigger]="menu" hlmTooltipTrigger="Add Schema at the end">
                  <ng-icon hlm size="sm" name="lucideCirclePlus" />
                </button>
                <ng-template #menu>
                  <hlm-dropdown-menu class="w-60">
                    @for (sch of filterSchema(field.schemas || []); track sch.id) {
                      <button hlmDropdownMenuItem (click)="addSchemaOne(field, sch)" [hlmTooltipTrigger]="sch.description || ''">
                        {{ sch.displayName || sch.id }}
                      </button>
                    }
                  </hlm-dropdown-menu>
                </ng-template>
              </legend>
              @if (field.description) {
                <p hlmFieldDescription class="line-clamp-2">{{ field.description }}</p>
              }
              <hlm-field-separator />
              <div hlmFieldGroup>
                <div hlmItemGroup class="gap-2" cdkDropList (cdkDropListDropped)="schemaDropDrop($event, data[field.name])">
                  @for (item of data[field.name] || []; track item; let index = $index) {
                    <div
                      [id]="item._id"
                      hlmItem
                      variant="outline"
                      role="listitem"
                      class="cursor-pointer"
                      [ngClass]="{ 'border-primary border': hoverSchemaPath()?.includes(item._id) }"
                      cdkDrag
                      cdkDragPreviewContainer="parent"
                      (click)="navigationTo(item._id, field.name, item.schema)"
                      (keydown)="navigationTo(item._id, field.name, item.schema)">
                      <div hlmItemContent>
                        @if (schemaCompNodeById().get(item.schema); as sch) {
                          <div hlmItemTitle class="line-clamp-1">
                            {{ sch.displayName }} <span class="text-muted-foreground">#{{ sch.id }}</span>
                          </div>
                          @if (sch.previewField) {
                            <p hlmItemDescription> {{ previewText(item, sch, selectedLocaleId()) }}</p>
                          }
                        } @else {
                          <div hlmItemTitle class="line-clamp-1 text-destructive">
                            Schema with ID <b>#{{ item.schema }}</b> can't be found.
                          </div>
                        }
                      </div>
                      <div role="none" hlmItemActions (click)="$event.preventDefault(); $event.stopImmediatePropagation()">
                        <button
                          hlmBtn
                          variant="outline"
                          size="sm"
                          [hlmDropdownMenuTrigger]="schemasMenuAbove"
                          hlmTooltipTrigger="Add Schema above">
                          <ng-icon hlm size="sm" name="tablerRowInsertTop" />
                        </button>
                        <ng-template #schemasMenuAbove>
                          <hlm-dropdown-menu class="w-60">
                            @for (sch of filterSchema(field.schemas || []); track sch.id) {
                              <button
                                hlmDropdownMenuItem
                                (click)="addSchemaMany(field, sch, index)"
                                [hlmTooltipTrigger]="sch.description || ''">
                                {{ sch.displayName || sch.id }}
                              </button>
                            }
                          </hlm-dropdown-menu>
                        </ng-template>
                        <button
                          hlmBtn
                          variant="outline"
                          size="sm"
                          [hlmDropdownMenuTrigger]="schemasMenuBelow"
                          hlmTooltipTrigger="Add Schema below">
                          <ng-icon hlm size="sm" name="tablerRowInsertBottom" />
                        </button>
                        <ng-template #schemasMenuBelow>
                          <hlm-dropdown-menu class="w-60">
                            @for (sch of filterSchema(field.schemas || []); track sch.id) {
                              <button
                                hlmDropdownMenuItem
                                (click)="addSchemaMany(field, sch, index + 1)"
                                [hlmTooltipTrigger]="sch.description || ''">
                                {{ sch.displayName || sch.id }}
                              </button>
                            }
                          </hlm-dropdown-menu>
                        </ng-template>
                        <button
                          hlmBtn
                          size="icon"
                          variant="outline"
                          (click)="duplicateSchemaMany(data[field.name], item, index)"
                          hlmTooltipTrigger="Clone the schema">
                          <ng-icon hlm size="sm" name="lucideCopy" />
                        </button>
                        <button hlmBtn size="icon" variant="outline" (click)="removeSchemaMany(field, item._id)" hlmTooltipTrigger="Delete">
                          <ng-icon hlm size="sm" name="lucideTrash" />
                        </button>
                        <button
                          hlmBtn
                          size="icon"
                          variant="ghost"
                          cdkDragHandle
                          class="cursor-grab active:cursor-grabbing"
                          hlmTooltipTrigger="Move">
                          <ng-icon hlm size="sm" name="lucideGripVertical" />
                        </button>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </fieldset>
          </div>
        }
        @default {
          {{ field.kind }} is not implemented
        }
      }
    }
  </form>
}
@if (settingsStore.debugEnabled()) {
  <br />
  <mat-divider />
  <br />
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>EditDocumentSchema Form => {{ form?.valid }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>isDefaultLocale = {{ isDefaultLocale() }}</pre>
      Value :
      <pre>{{ form.value | json }}</pre>
      Error :
      <pre>{{ form.errors | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
}
