@if (rootSchema && !isFormLoading()) {
  <form [formGroup]="form" #schemaForm class="flex flex-col gap-4 pb-2">
    @for (field of rootSchema.fields; track field.name) {
      @switch (field.kind) {
        <!--TEXT-->
        @case ('TEXT') {
          <div hlmField class="gap-2">
            <label hlmFieldLabel [for]="'schema-field-' + field.name">
              {{ field.displayName || field.name }}
              @if (field.description) {
                <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
              }
              @if (field.translatable) {
                <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
              }
            </label>
            <div hlmInputGroup>
              <input
                hlmInputGroupInput
                type="text"
                [id]="'schema-field-' + field.name"
                [formControlName]="field.name"
                [placeholder]="(!isDefaultLocale() && data[field.name]) || ''"
                [attr.minlength]="field.minLength"
                [attr.maxlength]="field.maxLength"
                autocomplete="off" />
              @if (field.translatable && !isDefaultLocale()) {
                <div hlmInputGroupAddon align="inline-end">
                  <button
                    hlmInputGroupButton
                    variant="ghost"
                    size="icon-xs"
                    align="end"
                    [disabled]="isDefaultLocale() || ('CONTENT_UPDATE' | canUserPerform | async) === false"
                    [hlmDropdownMenuTrigger]="translationMenu"
                    hlmTooltip="Translate the field with AI">
                    <ng-icon name="lucideLanguages" />
                  </button>
                  <ng-template #translationMenu>
                    <hlm-dropdown-menu>
                      @for (locale of availableLocales(); track locale.id) {
                        @if (locale.id !== selectedLocaleId()) {
                          <button hlmDropdownMenuItem (click)="translate(field.name, locale.id, selectedLocaleId())">
                            Translate from <b>{{ locale.name }}</b> to <b>{{ selectedLocale().name }}</b>
                          </button>
                        }
                      }
                    </hlm-dropdown-menu>
                  </ng-template>
                </div>
              }
            </div>
            @if (field.maxLength) {
              <p hlmFieldDescription class="content-end">
                {{ field.maxLength - form.controls[field.name]?.value?.length || 0 }} characters left
              </p>
            }
            @if (form.controls[field.name]?.errors; as errors) {
              <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
            }
          </div>
        }
        <!--TEXTAREA-->
        @case ('TEXTAREA') {
          <div hlmField class="gap-2">
            <label hlmFieldLabel [for]="'schema-field-' + field.name">
              {{ field.displayName || field.name }}
              @if (field.description) {
                <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
              }
              @if (field.translatable) {
                <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
              }
            </label>
            <div hlmInputGroup>
              <textarea
                hlmInputGroupTextarea
                type="text"
                [id]="'schema-field-' + field.name"
                [formControlName]="field.name"
                [placeholder]="(!isDefaultLocale() && data[field.name]) || ''"
                [attr.minlength]="field.minLength"
                [attr.maxlength]="field.maxLength"
                autocomplete="off">
              </textarea>
              @if (field.translatable && !isDefaultLocale()) {
                <div hlmInputGroupAddon align="inline-end">
                  <button
                    hlmInputGroupButton
                    variant="ghost"
                    size="icon-xs"
                    align="end"
                    [disabled]="('CONTENT_UPDATE' | canUserPerform | async) === false"
                    [hlmDropdownMenuTrigger]="translationMenu"
                    hlmTooltip="Translate the field with AI">
                    <ng-icon name="lucideLanguages" />
                  </button>
                  <ng-template #translationMenu>
                    <hlm-dropdown-menu>
                      @for (locale of availableLocales(); track locale.id) {
                        @if (locale.id !== selectedLocaleId()) {
                          <button hlmDropdownMenuItem (click)="translate(field.name, locale.id, selectedLocaleId())">
                            Translate from <b>{{ locale.name }}</b> to <b>{{ selectedLocale().name }}</b>
                          </button>
                        }
                      }
                    </hlm-dropdown-menu>
                  </ng-template>
                </div>
              }
            </div>
            @if (field.maxLength) {
              <p hlmFieldDescription class="content-end">
                {{ field.maxLength - form.controls[field.name]?.value?.length || 0 }} characters left
              </p>
            }
            @if (form.controls[field.name]?.errors; as errors) {
              <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
            }
          </div>
        }
        <!--RICH_TEXT-->
        @case ('RICH_TEXT') {
          @if (form.controls[field.name]; as control) {
            <ll-rich-text-editor [form]="control" [component]="field" />
          }
        }
        <!--MARKDOWN-->
        @case ('MARKDOWN') {
          @if (form.controls[field.name]; as control) {
            <ll-markdown-editor [form]="control" [component]="field" [default]="isDefaultLocale() ? undefined : data[field.name]" />
          }
        }
        <!--NUMBER-->
        @case ('NUMBER') {
          <div hlmField class="gap-2">
            <label hlmFieldLabel [for]="'schema-field-' + field.name">
              {{ field.displayName || field.name }}
              @if (field.description) {
                <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
              }
              @if (field.translatable) {
                <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
              }
            </label>
            <div hlmInputGroup>
              <input
                hlmInputGroupInput
                type="number"
                [id]="'schema-field-' + field.name"
                [formControlName]="field.name"
                [placeholder]="(!isDefaultLocale() && data[field.name]) || ''"
                [attr.min]="field.minValue"
                [attr.max]="field.maxValue"
                autocomplete="off" />
            </div>
            @if (form.controls[field.name]?.errors; as errors) {
              <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
            }
          </div>
        }
        <!--COLOR-->
        @case ('COLOR') {
          <div hlmField class="gap-2">
            <label hlmFieldLabel [for]="'schema-field-' + field.name">
              {{ field.displayName || field.name }}
              @if (field.description) {
                <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
              }
              @if (field.translatable) {
                <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
              }
            </label>
            <div hlmInputGroup>
              <input
                hlmInputGroupInput
                type="color"
                [id]="'schema-field-' + field.name"
                [formControlName]="field.name"
                [placeholder]="(!isDefaultLocale() && data[field.name]) || ''"
                autocomplete="off" />
            </div>
            @if (form.controls[field.name]?.errors; as errors) {
              <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
            }
          </div>
        }
        <!--DATE-->
        @case ('DATE') {
          <div hlmField class="gap-2">
            <label hlmFieldLabel [for]="'schema-field-' + field.name">
              {{ field.displayName || field.name }}
              @if (field.description) {
                <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
              }
              @if (field.translatable) {
                <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
              }
            </label>
            <div hlmInputGroup>
              <input
                hlmInputGroupInput
                type="date"
                [id]="'schema-field-' + field.name"
                [formControlName]="field.name"
                [placeholder]="(!isDefaultLocale() && data[field.name]) || ''"
                autocomplete="off" />
            </div>
            @if (form.controls[field.name]?.errors; as errors) {
              <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
            }
          </div>
        }
        <!--DATE TIME-->
        @case ('DATETIME') {
          <div hlmField class="gap-2">
            <label hlmFieldLabel [for]="'schema-field-' + field.name">
              {{ field.displayName || field.name }}
              @if (field.description) {
                <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
              }
              @if (field.translatable) {
                <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
              }
            </label>
            <div hlmInputGroup>
              <input
                hlmInputGroupInput
                type="datetime-local"
                [id]="'schema-field-' + field.name"
                [formControlName]="field.name"
                [placeholder]="(!isDefaultLocale() && data[field.name]) || ''"
                autocomplete="off" />
            </div>
            @if (form.controls[field.name]?.errors; as errors) {
              <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
            }
          </div>
        }
        <!--BOOLEAN-->
        @case ('BOOLEAN') {
          <div hlmField orientation="horizontal" class="gap-2">
            <hlm-switch [id]="'schema-field-' + field.name" [formControlName]="field.name" />
            <div hlmFieldContent>
              <label hlmFieldLabel [for]="'schema-field-' + field.name">
                {{ field.displayName || field.name }}
                @if (field.description) {
                  <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
                }
                @if (field.translatable) {
                  <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
                }
              </label>
              @if (form.controls[field.name]?.errors; as errors) {
                <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
              }
            </div>
          </div>
        }
        <!--OPTION-->
        @case ('OPTION') {
          <div hlmField class="gap-2">
            <label hlmFieldLabel for="kind">
              {{ field.displayName || field.name }}
              @if (field.description) {
                <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
              }
              @if (field.translatable) {
                <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
              }
            </label>
            <hlm-select
              scrollable="true"
              [id]="'schema-field-' + field.name"
              [formControlName]="field.name"
              [placeholder]="(!isDefaultLocale() && data[field.name]) || ''">
              <hlm-select-trigger class="w-full">
                <hlm-select-value />
              </hlm-select-trigger>
              <hlm-select-content class="max-h-96">
                <hlm-select-scroll-up />
                @if (!field.required) {
                  <hlm-option>-- None --</hlm-option>
                }
                @if (schemaEnumMapById().get(field.source); as source) {
                  @for (option of source.values; track option.value) {
                    <hlm-option [value]="option.value"> {{ option.name }}</hlm-option>
                  }
                }
                <hlm-select-scroll-down />
              </hlm-select-content>
            </hlm-select>
            @if (form.controls[field.name]?.errors; as errors) {
              <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
            }
          </div>
        }
        <!--OPTIONS-->
        @case ('OPTIONS') {
          <div hlmField class="gap-2">
            <label hlmFieldLabel for="kind">
              {{ field.displayName || field.name }}
              @if (field.description) {
                <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
              }
              @if (field.translatable) {
                <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
              }
            </label>
            <hlm-select
              scrollable="true"
              [multiple]="true"
              [id]="'schema-field-' + field.name"
              [formControlName]="field.name"
              [placeholder]="(!isDefaultLocale() && data[field.name]) || ''">
              <hlm-select-trigger class="w-full">
                <hlm-select-value />
              </hlm-select-trigger>
              <hlm-select-content class="max-h-96">
                <hlm-select-scroll-up />
                @if (schemaEnumMapById().get(field.source); as source) {
                  @for (option of source.values; track option.value) {
                    <hlm-option [value]="option.value"> {{ option.name }}</hlm-option>
                  }
                }
                <hlm-select-scroll-down />
              </hlm-select-content>
            </hlm-select>
            @if (form.controls[field.name]?.errors; as errors) {
              <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
            }
          </div>
        }
        <!--LINK-->
        @case ('LINK') {
          @if (form.controls[field.name]; as control) {
            <ll-link-select
              [form]="control"
              [component]="field"
              [documents]="documents"
              [default]="isDefaultLocale() ? undefined : data[field.name]" />
          }
        }
        <!--REFERENCE-->
        @case ('REFERENCE') {
          @if (form.controls[field.name]; as control) {
            <ll-reference-select [form]="control" [component]="field" [space]="space" />
          }
        }
        <!--REFERENCE-->
        @case ('REFERENCES') {
          @if (form.controls[field.name]; as control) {
            <ll-references-select [form]="control" [component]="field" [space]="space" />
          }
        }
        <!--ASSET-->
        @case ('ASSET') {
          <ll-asset-select
            [component]="field"
            [form]="form.controls[field.name]"
            [space]="space"
            [hover]="hoverSchemaField() === field.name" />
        }
        <!--ASSETS-->
        @case ('ASSETS') {
          <ll-assets-select [component]="field" [form]="form.controls[field.name]" [space]="space" (assetsChange)="onAssetsChange()" />
        }
        <!--SCHEMA-->
        @case ('SCHEMA') {
          <div hlmFieldGroup>
            <fieldset hlmFieldSet class="gap-2">
              <legend hlmFieldLegend class="flex w-full justify-between">
                {{ field.displayName || field.name }}
                <button
                  hlmBtn
                  variant="ghost"
                  size="sm"
                  [hlmDropdownMenuTrigger]="menu"
                  hlmTooltip="Add Schema"
                  [disabled]="data[field.name]">
                  <ng-icon hlm size="sm" name="lucideCirclePlus" />
                </button>
                <ng-template #menu>
                  <hlm-dropdown-menu class="w-60">
                    @for (sch of filterSchema(field.schemas || []); track sch.id) {
                      <button hlmDropdownMenuItem (click)="addSchemaOne(field, sch)" [hlmTooltip]="sch.description || ''">
                        {{ sch.displayName || sch.id }}
                      </button>
                    }
                  </hlm-dropdown-menu>
                </ng-template>
              </legend>
              @if (field.description) {
                <p hlmFieldDescription class="line-clamp-2">{{ field.description }}</p>
              }
              <hlm-field-separator />
              <div hlmFieldGroup>
                <div hlmItemGroup class="gap-2">
                  @if (data[field.name]; as item) {
                    <div
                      [id]="item._id"
                      hlmItem
                      variant="outline"
                      role="listitem"
                      class="cursor-pointer"
                      [ngClass]="{ 'border-primary border': hoverSchemaPath()?.includes(item._id) }"
                      (click)="navigationTo(item._id, field.name, item.schema)"
                      (keydown)="navigationTo(item._id, field.name, item.schema)">
                      <div hlmItemContent class="min-w-0 overflow-hidden">
                        @if (schemaCompNodeById().get(item.schema); as sch) {
                          <div hlmItemTitle class="line-clamp-1">
                            {{ sch.displayName }} <span class="text-muted-foreground">#{{ sch.id }}</span>
                          </div>
                          @if (sch.previewField) {
                            <p hlmItemDescription class="line-clamp-1"> {{ previewText(item, sch, selectedLocaleId()) }}</p>
                          }
                        } @else {
                          <div hlmItemTitle class="text-destructive line-clamp-1">
                            Schema with ID <b>#{{ item.schema }}</b> can't be found.
                          </div>
                        }
                      </div>
                      <div role="none" hlmItemActions (click)="$event.preventDefault(); $event.stopImmediatePropagation()">
                        <button hlmBtn size="icon" variant="outline" (click)="removeSchemaOne(field)" hlmTooltip="Delete">
                          <ng-icon hlm size="sm" name="lucideTrash" />
                        </button>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </fieldset>
          </div>
        }
        <!--SCHEMAS-->
        @case ('SCHEMAS') {
          <div hlmFieldGroup>
            <fieldset hlmFieldSet class="gap-2">
              <legend hlmFieldLegend class="flex w-full justify-between">
                {{ field.displayName || field.name }}
                <button hlmBtn variant="ghost" size="sm" [hlmDropdownMenuTrigger]="menu" hlmTooltip="Add Schema at the end">
                  <ng-icon hlm size="sm" name="lucideCirclePlus" />
                </button>
                <ng-template #menu>
                  <hlm-dropdown-menu class="w-60">
                    @for (sch of filterSchema(field.schemas || []); track sch.id) {
                      <button hlmDropdownMenuItem (click)="addSchemaMany(field, sch)" [hlmTooltip]="sch.description || ''">
                        {{ sch.displayName || sch.id }}
                      </button>
                    }
                  </hlm-dropdown-menu>
                </ng-template>
              </legend>
              @if (field.description) {
                <p hlmFieldDescription class="line-clamp-2">{{ field.description }}</p>
              }
              <hlm-field-separator />
              <div hlmFieldGroup>
                <div hlmItemGroup class="gap-2" cdkDropList (cdkDropListDropped)="schemaDropDrop($event, data[field.name])">
                  @for (item of data[field.name] || []; track item; let index = $index) {
                    <div
                      [id]="item._id"
                      hlmItem
                      variant="outline"
                      role="listitem"
                      class="cursor-pointer"
                      [ngClass]="{ 'border-primary border': hoverSchemaPath()?.includes(item._id) }"
                      cdkDrag
                      cdkDragPreviewContainer="parent"
                      (click)="navigationTo(item._id, field.name, item.schema)"
                      (keydown)="navigationTo(item._id, field.name, item.schema)">
                      <div hlmItemContent class="min-w-0 overflow-hidden">
                        @if (schemaCompNodeById().get(item.schema); as sch) {
                          <div hlmItemTitle class="line-clamp-1">
                            {{ sch.displayName }} <span class="text-muted-foreground">#{{ sch.id }}</span>
                          </div>
                          @if (sch.previewField) {
                            <p hlmItemDescription class="line-clamp-1"> {{ previewText(item, sch, selectedLocaleId()) }}</p>
                          }
                        } @else {
                          <div hlmItemTitle class="text-destructive line-clamp-1">
                            Schema with ID <b>#{{ item.schema }}</b> can't be found.
                          </div>
                        }
                      </div>
                      <div role="none" hlmItemActions (click)="$event.preventDefault(); $event.stopImmediatePropagation()">
                        <button
                          hlmBtn
                          variant="outline"
                          size="sm"
                          [hlmDropdownMenuTrigger]="schemasMenuAbove"
                          hlmTooltip="Add Schema above">
                          <ng-icon hlm size="sm" name="tablerRowInsertTop" />
                        </button>
                        <ng-template #schemasMenuAbove>
                          <hlm-dropdown-menu class="w-60">
                            @for (sch of filterSchema(field.schemas || []); track sch.id) {
                              <button hlmDropdownMenuItem (click)="addSchemaMany(field, sch, index)" [hlmTooltip]="sch.description || ''">
                                {{ sch.displayName || sch.id }}
                              </button>
                            }
                          </hlm-dropdown-menu>
                        </ng-template>
                        <button
                          hlmBtn
                          variant="outline"
                          size="sm"
                          [hlmDropdownMenuTrigger]="schemasMenuBelow"
                          hlmTooltip="Add Schema below">
                          <ng-icon hlm size="sm" name="tablerRowInsertBottom" />
                        </button>
                        <ng-template #schemasMenuBelow>
                          <hlm-dropdown-menu class="w-60">
                            @for (sch of filterSchema(field.schemas || []); track sch.id) {
                              <button
                                hlmDropdownMenuItem
                                (click)="addSchemaMany(field, sch, index + 1)"
                                [hlmTooltip]="sch.description || ''">
                                {{ sch.displayName || sch.id }}
                              </button>
                            }
                          </hlm-dropdown-menu>
                        </ng-template>
                        <button
                          hlmBtn
                          size="icon"
                          variant="outline"
                          (click)="duplicateSchemaMany(data[field.name], item, index)"
                          hlmTooltip="Clone the schema">
                          <ng-icon hlm size="sm" name="lucideBookCopy" />
                        </button>
                        <button hlmBtn size="icon" variant="outline" (click)="removeSchemaMany(field, item._id)" hlmTooltip="Delete">
                          <ng-icon hlm size="sm" name="lucideTrash" />
                        </button>
                        <button
                          hlmBtn
                          size="icon"
                          variant="ghost"
                          cdkDragHandle
                          class="cursor-grab active:cursor-grabbing"
                          hlmTooltip="Move">
                          <ng-icon hlm size="sm" name="lucideGripVertical" />
                        </button>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </fieldset>
          </div>
        }
        @default {
          {{ field.kind }} is not implemented
        }
      }
    } @empty {
      <div>No fields available in this schema.</div>
    }
  </form>
}
@if (settingsStore.debugEnabled()) {
  <br />
  <mat-divider />
  <br />
  <hlm-accordion>
    <hlm-accordion-item>
      <h3 class="contents">
        <button hlmAccordionTrigger>
          EditDocumentSchema Form => {{ form?.valid }}
          <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
        </button>
      </h3>
      <hlm-accordion-content>
        <pre>isDefaultLocale = {{ isDefaultLocale() }}</pre>
        Value :
        <pre>{{ form.value | json }}</pre>
        Error :
        <pre>{{ form.errors | json }}</pre>
      </hlm-accordion-content>
    </hlm-accordion-item>
  </hlm-accordion>
}
