@use '@angular/material' as mat;

@import 'styles-variables';

.file-drag-and-drop-wrapper {
  background-color: $background-blue-color !important;
  border-style: solid !important;
  border-color: $border-blue-color !important;
  border-width: 3px !important;
  border-radius: 5px;
  opacity: 0.25;
}


//.file-drag-and-drop-wrapper::after {
//  content: "Drop it here";
//  position: absolute;
//  white-space: pre;
//  background-image: url("/assets/cloud_upload.svg");
//  background-position: top;
//  background-size: 100px;
//  background-repeat: no-repeat;
//  inset: 0;
//  font-weight: bold;
//  text-align: center;
//  font-size: 30px;
//  top: 30vh;
//  //animation: bounce 2s ease infinite;
//}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
