markdown {
  h1 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
  }
  h2 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
  }
  h3 {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }
  h4 {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
  }
  blockquote {
    border-left: 3px solid rgba(0, 0, 0, 0.21);
    padding-left: 12px;
    color: rgba(0, 0, 0, 0.54);
  }

  ol, ul {
    margin: revert;
    padding: revert;
  }
  ul {
    list-style: revert;
  }
  ol {
    list-style: revert;
  }
}

