// Notifications
mat-snack-bar-container {
  &.error-notification-overlay {
    .mdc-snackbar__surface {
      color: var(--mat-sys-on-error-container);
      background-color: var(--mat-sys-error-container);
    }
  }
  &.success-notification-overlay {
    .mdc-snackbar__surface {
      color: var(--mat-sys-on-primary-container);
      background-color: var(--mat-sys-primary-container);
    }
  }
}
