@use '@angular/material' as mat;

@mixin theme($theme) {
  mat-toolbar {
    &.main {
      color: mat.get-theme-color($theme, primary);
      background-color: mat.get-theme-color($theme, primary-container);

      .post-logo-text-primary {
        color: mat.get-theme-color($theme, primary);
      }
      .post-logo-text-secondary {
        color: mat.get-theme-color($theme, secondary);
      }
      .post-logo-text-tertiary {
        color: mat.get-theme-color($theme, tertiary);
      }
      .post-logo-text-error {
        color: mat.get-theme-color($theme, error);
      }
    }

    mat-toolbar-row.second {
      border-bottom: 1px solid var(--sys-outline-variant);
      border-top: 1px solid var(--sys-outline-variant);
      font: mat.get-theme-typography($theme, title-medium, font);
      font-size: mat.get-theme-typography($theme, title-medium, font-size);
      font-weight: mat.get-theme-typography($theme, title-medium, font-weight);
      line-height: mat.get-theme-typography($theme, title-medium, line-height);
    }
  }
}
