@use '@angular/material' as mat;

@import 'styles-variables';

mat-nav-list.ll-mat-nav-list-gap {
  mat-list-item {
    border-width: 1px;
    border-color: $border-grey-color;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 8px;

    &:hover {
      border-color: $border-hover-grey-color;
    }

    &.active {
      border-color: $border-hover-grey-color;
      background: rgba(0, 0, 0, 0.04);
    }

    &.invalid{
      border: solid 2px mat.get-color-from-palette($error-colors);
    }

    .mat-mdc-list-item-icon {
      margin-top: auto !important;
      margin-bottom: auto;
      margin-left: 0px;
      margin-right: 16px;
      background-color: mat.get-color-from-palette($success-colors, 50);
      color: mat.get-color-from-palette($success-colors, 900);
      width: 48px;
      height: 48px;
      padding-top: 12px;
      padding-left: 12px;
      //margin-top: 8px !important;
      //margin-bottom: 8px;
      //margin-left: 16px;
      //margin-right: 16px;
      //width: 56px;
      //height: 56px;
      //font-size: 50px;
      &.cdk-drag-handle {
        background-color: unset;
        color: unset;
        cursor: grab;
        margin-right: 6px;
        margin-left: 6px;
        width: unset;
        padding-left: unset;
      }
    }
    .mat-mdc-list-item-meta {
      margin-top: auto !important;
      margin-bottom: auto;
    }
  }
}
