@use '@angular/material' as mat;

@import './styles-variables';

mat-card {
  &.ll-not-shadow {
    box-shadow: none;
    background-color: transparent;
  }
  &.invalid {
    border: solid 2px mat.m2-get-color-from-palette($error-colors);
  }
}
