mat-card {
  &.ll-not-shadow {
    box-shadow: none;
    background-color: transparent;
  }
  &.invalid {
    border: solid 2px var(--mat-sys-error);
  }
  &.digital-asset-card {
    max-width: 240px;
    min-width: 240px;
    img {
      min-width: 240px;
      min-height: 240px;
      max-width: 240px;
      max-height: 240px;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      border-bottom-width: var(--mat-card-outlined-outline-width);
      border-bottom-color: var(--mat-card-outlined-outline-color, var(--mat-app-outline-variant));
    }
    .progress {
      min-width: 240px;
      min-height: 240px;
      max-width: 240px;
      max-height: 240px;
      align-content: center;
      padding-left: 60px;
    }
  }
}
