mat-toolbar-row {
  .actions {
    @apply flex gap-2 items-center;
  }
}

mat-toolbar {
  &.main {
    color: var(--mat-sys-primary);
    background-color:var(--mat-sys-primary-container);

    .post-logo-text-primary {
      color: var(--mat-sys-primary);
    }
    .post-logo-text-secondary {
      color: var(--mat-sys-secondary);
    }
    .post-logo-text-tertiary {
      color: var(--mat-sys-tertiary);
    }
    .post-logo-text-error {
      color: var(--mat-sys-error);
    }
  }

  mat-toolbar-row.second {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    border-top: 1px solid var(--mat-sys-outline-variant);
    font: var(--mat-sys-title-medium-font);
    font-size: var(--mat-sys-title-medium-size);
    font-weight: var(--mat-sys-title-medium-weight);
    line-height: var(--mat-sys-title-medium-line-height);
  }
}
