@use '@angular/material' as mat;

ll-rich-text-editor {
  .border-color {
    border-color: var(--mat-sys-outline);
  }
  .tool-bar-sticky {
    background-color: var(--mat-sys-surface);
    border-color: var(--mat-sys-outline);
    @apply sticky top-0 z-10 border-b border-x p-1 flex;
  }

  mat-form-field {
    .mdc-text-field--outlined {
      padding-left: 0;
      padding-right: 0;

      .mat-mdc-form-field-infix {
        padding-bottom: 0;
        padding-top: 8px;
      }
    }

  }


  .tiptap {
    :first-child {
      margin-top: 0;
    }

    /* Code and preformatted text styles */
    code {
      background: color-mix(in srgb, var(--mat-sys-primary-container) 50%, transparent);
      border-radius: 0.5rem;
      color: var(--mat-sys-on-surface);
      font-size: 0.85rem;
      padding: 0.3em 0.3em;
    }
    /* Code Block */
    pre {
      //background: var(--mat-sys-background);
      border-radius: 0.5rem;
      border: 1px solid var(--mat-sys-outline-variant);
      color: var(--mat-sys-on-surface);
      font-family: 'JetBrainsMono', monospace;
      margin: 1.5rem 0;
      padding: 0.75rem 1rem;

      code {
        background: none;
        color: inherit;
        font-size: 0.8rem;
        padding: 0;
      }
    }
    /* Link styles */
    a {
      color: var(--mat-sys-primary);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
    /* List styles */
    ul {
      list-style: disc;
    }
    ol {
      list-style: decimal;
    }
    ul,
    ol {
      padding: 0 1rem;
      margin: 1.25rem 1rem 1.25rem 0.4rem;

      li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }
    /* Heading styles */
    h1 {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 0.5rem
    }
    h2 {
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 0.5rem;
    }
    h3 {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.75rem;
      margin-bottom: 0.5rem;
    }
    h4,
    h5,
    h6 {
      font-size: 1rem;
    }
  }
}
