@use '@angular/material' as mat;

// Use the default configuration.
$typography: mat.define-typography-config();

$toolbar-breakpoint: 600px;

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$success-colors: mat.define-palette(mat.$green-palette, 400);
$warning-colors: mat.define-palette(mat.$amber-palette, 400);
$info-colors: mat.define-palette(mat.$blue-palette, 400);
$error-colors: mat.define-palette(mat.$red-palette, 400);

$link-color: mat.get-color-from-palette(mat.$indigo-palette, A400);
$grey-color: mat.get-color-from-palette(mat.$grey-palette, 600);

// Borders
$border-grey-color: mat.get-color-from-palette(mat.$grey-palette, 500);
$border-hover-grey-color: mat.get-color-from-palette(mat.$grey-palette, 800);
