@use '@angular/material' as mat;

// Use the default configuration.
$typography: mat.m2-define-typography-config();

$toolbar-breakpoint: 600px;

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$success-colors: mat.m2-define-palette(mat.$m2-green-palette, 400);
$warning-colors: mat.m2-define-palette(mat.$m2-amber-palette, 400);
$info-colors: mat.m2-define-palette(mat.$m2-blue-palette, 400);
$error-colors: mat.m2-define-palette(mat.$m2-red-palette, 400);

$link-color: mat.m2-get-color-from-palette(mat.$m2-indigo-palette, A400);
$grey-color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 600);

// Borders
$border-grey-color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 500);
$border-hover-grey-color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 800);

// Background
$background-blue-color: mat.m2-get-color-from-palette(mat.$m2-blue-palette, 50);
$border-blue-color: mat.m2-get-color-from-palette(mat.$m2-blue-palette, 900);

$warning-color: mat.m2-get-color-from-palette(mat.$m2-amber-palette, 900);
