<mat-toolbar>
  <mat-toolbar-row>
    Me
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

@if (userStore; as user) {
  <div class="container-full-screen">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <mat-card appearance="outlined">
          <mat-card-header>
            <img [ngSrc]="user.photoURL() || '/assets/account_circle.svg'" mat-card-avatar alt="circle" width="40" height="40" />
            <mat-card-title>{{ user.displayName() }}</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <br />
            <div><b>Email : </b>{{ user.email() }}</div>
            <div><b>Email Verified: </b>{{ user.emailVerified() ? 'Yes' : 'Not' }}</div>
            <div><b>Role : </b>{{ user.role() | uppercase }}</div>
            @if (user.role() === 'custom') {
              <div><b>Permissions : </b></div>
              @for (permission of user.permissions(); track permission) {
                <li>{{ permission }}</li>
              }
            }
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            @if (user.isLocked()) {
              Your account is locked.<br />
              You can't manage your personal data and password.
            } @else if (user.isPasswordProvider() && user.numberProviders() === 1) {
              <button mat-stroked-button color="primary" (click)="openEditDialog()">Edit</button>
              <button mat-stroked-button (click)="openUpdateEmailDialog()">Update Email</button>
              <button mat-stroked-button (click)="openUpdatePasswordDialog()">Update Password</button>
            } @else {
              Your account is linked to an external authentication provider.<br />
              You can't manage your personal data and password here.
            }
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col"></div>
    </div>
  </div>
}
