<div hlmInputGroup class="relative">
  @if (enableHighlighting()) {
    <div #backdrop class="backdrop">
      <div class="highlights" [innerHTML]="highlightedText()"></div>
    </div>
  }
  <textarea
    #textarea
    [value]="value()"
    (input)="value.set(textarea.value)"
    (scroll)="handleScroll()"
    hlmInputGroupTextarea
    placeholder="Enter your content here..."
    maxlength="1000"
    class="min-h-0 max-h-80">
  </textarea>
  <div hlmInputGroupAddon align="block-end">
    <span hlmInputGroupText class="text-muted-foreground text-xs">{{ 1000 - textarea.value.length }} characters left</span>
  </div>
</div>
