<div class="p-4">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" [readonly]="nameReadonly" autocomplete="off" />
      <button mat-icon-button matIconSuffix (click)="nameReadonly = !nameReadonly">
        <mat-icon>{{ nameReadonly ? 'edit_off' : 'edit' }}</mat-icon>
      </button>
      <mat-hint>Will be used in JSON structure.</mat-hint>
      <mat-hint align="end">{{ form.value.name.length || 0 }}/50</mat-hint>
      @if (form.controls['name']?.errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kind</mat-label>
      <mat-select formControlName="kind" (selectionChange)="selectFieldKind($event)">
        <mat-select-trigger>
          <mat-icon>{{ selectedFieldKind.icon }}</mat-icon>
          {{ selectedFieldKind.name }}
        </mat-select-trigger>
        @for (kind of fieldKinds; track kind) {
          @let descriptor = schemaFieldKindDescriptions[kind];
          <mat-option [value]="kind" [matTooltip]="descriptor.description">
            <mat-icon>{{ descriptor.icon }}</mat-icon>
            {{ descriptor.name }}
          </mat-option>
        }
      </mat-select>
      @if (form.controls['kind']?.errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input matInput type="text" formControlName="displayName" autocomplete="off" />
      <mat-hint align="end">{{ form.value.displayName?.length || 0 }}/50</mat-hint>
      @if (form.controls['displayName']?.errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>

    &nbsp;&nbsp;<mat-slide-toggle formControlName="required">Required</mat-slide-toggle>
    <br />
    <br />

    @if (
      [
        'TEXT',
        'TEXTAREA',
        'RICH_TEXT',
        'MARKDOWN',
        'NUMBER',
        'COLOR',
        'DATE',
        'DATETIME',
        'BOOLEAN',
        'OPTION',
        'OPTIONS',
        'LINK',
        'ASSET',
        'ASSETS',
      ].includes(form.value.kind)
    ) {
      &nbsp;&nbsp;
      <mat-slide-toggle formControlName="translatable">Translatable</mat-slide-toggle>
      <br />
      <br />
    }

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="6"></textarea>
      <mat-hint align="end">{{ form.value.description?.length || 0 }}/250</mat-hint>
      @if (form.controls['description']?.errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Default Value</mat-label>
      <textarea matInput formControlName="defaultValue" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="6"></textarea>
      <mat-hint align="end">{{ form.value.defaultValue?.length || 0 }}/250</mat-hint>
      @if (form.controls['defaultValue']?.errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>

    <!--Number-->
    @if (form.value.kind === 'NUMBER') {
      <mat-form-field>
        <mat-label>Min Value</mat-label>
        <input matInput type="number" formControlName="minValue" autocomplete="off" />
        @if (form.controls['minValue']?.errors; as errors) {
          <mat-error>{{ fe.errors(errors) }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max Value</mat-label>
        <input matInput type="number" formControlName="maxValue" autocomplete="off" />
        @if (form.controls['maxValue']?.errors; as errors) {
          <mat-error>{{ fe.errors(errors) }}</mat-error>
        }
      </mat-form-field>
    }

    <!--Text, Textarea, RichText and Markdown-->
    @if (['TEXT', 'TEXTAREA', 'RICH_TEXT', 'MARKDOWN'].includes(form.value.kind)) {
      <mat-form-field>
        <mat-label>Min Length</mat-label>
        <input matInput type="number" formControlName="minLength" autocomplete="off" />
        @if (form.controls['minLength']?.errors; as errors) {
          <mat-error>{{ fe.errors(errors) }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max Length</mat-label>
        <input matInput type="number" formControlName="maxLength" autocomplete="off" />
        @if (form.controls['maxLength']?.errors; as errors) {
          <mat-error>{{ fe.errors(errors) }}</mat-error>
        }
      </mat-form-field>
    }

    <!--Option and Options-->
    @if (['OPTION', 'OPTIONS'].includes(form.value.kind)) {
      @if (['OPTIONS'].includes(form.value.kind)) {
        <mat-form-field>
          <mat-label>Min Values</mat-label>
          <input matInput type="number" formControlName="minValues" autocomplete="off" />
          @if (form.controls['minValues']?.errors; as errors) {
            <mat-error>{{ fe.errors(errors) }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Max Values</mat-label>
          <input matInput type="number" formControlName="maxValues" autocomplete="off" />
          @if (form.controls['maxValues']?.errors; as errors) {
            <mat-error>{{ fe.errors(errors) }}</mat-error>
          }
        </mat-form-field>
      }
      <mat-form-field>
        <mat-label>Source</mat-label>
        <mat-select formControlName="source">
          <mat-option value="self" matTooltip="Deprecated, Will be removed in future releases.">
            Self - <i>values will be defined here</i>
            <strong> (Deprecated, Will be removed in future releases.)</strong>
          </mat-option>
          @for (schema of enumSchemas(); track schema.id) {
            <mat-option [value]="schema.id" [matTooltip]="schema.description">
              {{ schema.id }}
              @if (schema.displayName) {
                <span> ({{ schema.displayName }})</span>
              }
            </mat-option>
          }
        </mat-select>
        @if (form.controls['source']?.errors; as errors) {
          <mat-error>{{ fe.errors(errors) }}</mat-error>
        }
      </mat-form-field>
      @if (form.value.source === 'self') {
        <h3>Options</h3>
        <mat-divider></mat-divider>
        <br />
        <mat-accordion cdkDropList multi="true" formArrayName="options" (cdkDropListDropped)="optionDropDrop($event)">
          @for (option of options?.controls; track option; let index = $index) {
            <mat-expansion-panel cdkDrag [formGroupName]="index" expanded="true" [class.invalid]="option.invalid">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon cdkDragHandle>drag_indicator</mat-icon>
                  Option {{ index + 1 }}
                  <button mat-icon-button (click)="removeOptionForm(index)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-form-field style="width: 50%; padding-right: 10px">
                <mat-label>Display Name</mat-label>
                <input matInput type="text" formControlName="name" autocomplete="off" />
                <mat-hint align="end">{{ option.value.name?.length || 0 }}/30</mat-hint>
                @if (form.controls['name']?.errors; as errors) {
                  <mat-error>{{ fe.errors(errors) }}</mat-error>
                }
              </mat-form-field>
              <mat-form-field style="width: 50%">
                <mat-label>Value</mat-label>
                <input matInput type="text" formControlName="value" autocomplete="off" />
                <mat-hint align="end">{{ option.value.value?.length || 0 }}/30</mat-hint>
                @if (form.controls['value']?.errors; as errors) {
                  <mat-error>{{ fe.errors(errors) }}</mat-error>
                }
              </mat-form-field>
            </mat-expansion-panel>
          }
          <mat-action-row>
            <button mat-icon-button (click)="addOptionForm()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-action-row>
        </mat-accordion>
      }
    }

    <!--SCHEMA and SCHEMAS-->
    @if (['SCHEMA', 'SCHEMAS'].includes(form.value.kind)) {
      <mat-form-field>
        <mat-label>Schema</mat-label>
        <mat-select formControlName="schemas" multiple>
          @for (schema of nodeSchemas(); track schema.id) {
            <mat-option [value]="schema.id" [matTooltip]="schema.description">
              {{ schema.id }}
              @if (schema.displayName; as displayName) {
                <span> ({{ displayName }})</span>
              }
            </mat-option>
          }
        </mat-select>
        @if (form.controls['schemas']?.errors; as errors) {
          <mat-error>{{ fe.errors(errors) }}</mat-error>
        }
      </mat-form-field>
    }

    <!--REFERENCE and REFERENCES-->
    @if (['REFERENCE', 'REFERENCES'].includes(form.value.kind)) {
      <mat-form-field>
        <mat-label>Path</mat-label>
        <input matInput type="text" formControlName="path" autocomplete="off" />
        <mat-hint>Path to be filtered by</mat-hint>
        <mat-hint align="end">{{ form.value.path?.length || 0 }}/500</mat-hint>
        @if (form.controls['path']?.errors; as errors) {
          <mat-error>{{ fe.errors(errors) }}</mat-error>
        }
      </mat-form-field>
    }

    <!--ASSET and ASSETS-->
    @if (['ASSET', 'ASSETS'].includes(form.value.kind)) {
      <mat-selection-list formControlName="fileTypes" multiple="false">
        <div mat-subheader>File Types</div>
        @for (fileType of assetTypes; track fileType) {
          @let descriptor = assetFileTypeDescriptions[fileType];
          <mat-list-option [value]="fileType">
            <mat-icon matListItemIcon>{{ descriptor.icon }}</mat-icon>
            <span matListItemTitle>{{ descriptor.name }}</span>
            <span matListItemLine>{{ descriptor.description }}</span>
          </mat-list-option>
        }
      </mat-selection-list>
    }
  </form>
</div>

@if (settingsStore.debugEnabled()) {
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form : {{ form?.valid }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ form.value | json }}</pre>
      <pre>{{ form.errors | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
}
