<h1 mat-dialog-title>Edit Article</h1>
<mat-dialog-content>
  <form [formGroup]="form" class="step-container">
    <ng-container *ngFor="let component of data.schematic.components" [ngSwitch]="component.kind">
      <ng-container *ngSwitchCase="'TEXT'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="text"
                 [formControlName]="component.name"
                 [required]="component.required"
                 [attr.minlength]="component.minLength"
                 [attr.maxlength]="component.maxLength"
                 autocomplete="off"/>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-hint align="end" *ngIf="component.maxLength">{{form.controls[component.name]?.value?.length || 0}}/{{component.maxLength}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'TEXTAREA'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <textarea matInput rows="6"
                    [formControlName]="component.name"
                    [required]="component.required"
                    [attr.minLength]="component.minLength"
                    [attr.maxlength]="component.maxLength"
                    autocomplete="off"></textarea>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-hint align="end" *ngIf="component.maxLength">{{form.controls[component.name]?.value?.length || 0}}/{{component.maxLength}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'NUMBER'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="number"
                 [formControlName]="component.name"
                 [required]="component.required"
                 [attr.min]="component.minValue"
                 [attr.max]="component.maxValue"
                 autocomplete="off"/>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'COLOR'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="color"
                 [formControlName]="component.name"
                 [required]="component.required"
                 [attr.min]="component.minValue"
                 [attr.max]="component.maxValue"
                 autocomplete="off"/>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'DATE'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="date"
                 [formControlName]="component.name"
                 [required]="component.required"
                 autocomplete="off"/>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'BOOLEAN'">
        <mat-checkbox [formControlName]="component.name">
          {{component.displayName || component.name}}
        </mat-checkbox>
        <br/>
        <mat-hint *ngIf="component.description" style="font-size: 75%;padding: 0 1em;">{{component.description}}</mat-hint>
        <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
      </ng-container>

    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value"
          [disabled]="!form.valid">
    Save
  </button>
</mat-dialog-actions>
<!--{{form.value | json}}-->
