.search-buttons {
  width: 10em;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

mat-sidenav {
  width: 30%;
}

mat-form-field {
  width: 100%;

  input {
    width: 100%;
  }
}

mat-form-field.with-button {
  width: calc(100% - 50px);

  input {
    width: 100%;
  }
}

.overlay {
  //overflow: overlay;
  //height: 87vh;
  height: calc(100vh - 225px);
  padding: inherit;
  border: 1px solid #efefef;
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}
