@if (space$ | async; as space) {
  <mat-toolbar>
    <mat-toolbar-row>
      Translations
      <a mat-icon-button target="_blank" href="https://github.com/Lessify/localess/wiki/Translation" matTooltip="Help Article">
        <mat-icon>help</mat-icon>
      </a>
      <span class="spacer"></span>
      @if ('TRANSLATION_CREATE' | canUserPerform | async) {
        <button mat-raised-button color="primary" (click)="openAddDialog()">
          <mat-icon>add</mat-icon>
          Add Translation
        </button>
      }
      @if ('TRANSLATION_PUBLISH' | canUserPerform | async) {
        <button
          mat-raised-button
          color="accent"
          matTooltip="Publish Translations to be available via API call"
          [disabled]="isPublishLoading()"
          (click)="publish()">
          <ll-icon [animate]="isPublishLoading()" start="publish" end="sync" />
          Publish
        </button>
      }
      <button mat-icon-button (click)="showHistory = !showHistory" matTooltip="History">
        <mat-icon>history</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="importMenu" matTooltip="Import and Export">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #importMenu="matMenu">
        @for (locale of space.locales; track locale.id) {
          <button mat-menu-item (click)="openPublishedInNewTab(locale.id)">
            <mat-icon>public</mat-icon>
            <span>Published {{ locale.name }} JSON</span>
          </button>
        }
        <mat-divider></mat-divider>
        @if ('TRANSLATION_IMPORT' | canUserPerform | async) {
          <button mat-menu-item (click)="openImportDialog(space.locales)">
            <mat-icon>cloud_upload</mat-icon>
            <span>Import</span>
          </button>
        }
        @if ('TRANSLATION_EXPORT' | canUserPerform | async) {
          <button mat-menu-item (click)="openExportDialog(space.locales)">
            <mat-icon>cloud_download</mat-icon>
            <span>Export</span>
          </button>
        }
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  @if (isLoading()) {
    <mat-progress-bar mode="query" />
  }
  <mat-sidenav-container>
    <mat-sidenav-content>
      <div class="container-full-screen">
        <div class="flex flex-row gap-2">
          <div class="basis-1/4">
            <mat-form-field>
              <mat-label>Search Locale</mat-label>
              <mat-select [(value)]="selectedSearchLocale">
                @for (locale of space.locales; track locale.id) {
                  <mat-option [value]="locale.id"> {{ locale.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="basis-1/4">
            <mat-form-field>
              <mat-label>Search</mat-label>
              <input matInput [formControl]="searchCtrl" autocomplete="off" />
              <mat-icon matIconSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="basis-1/2">
            <mat-form-field>
              <mat-chip-grid #chipList>
                @for (selectedLabel of selectedLabels; track selectedLabel) {
                  <mat-chip-row removable (removed)="removeLabel(selectedLabel)">
                    {{ selectedLabel }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip-row>
                }
                <input
                  matInput
                  #labelsInput
                  placeholder="Label Filter"
                  [formControl]="labelCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList" />
              </mat-chip-grid>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectLabel($event)">
                @for (label of filteredLabels | async; track label) {
                  <mat-option [value]="label"> {{ label }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        @if (translations$ | async; as translations) {
          <div class="flex">
            <cdk-virtual-scroll-viewport [itemSize]="55" class="basis-1/4 overlay container break-all">
              <ul role="list" class="divide-y divide-gray-300">
                <li
                  role="listitem"
                  class="flex justify-between py-2 cursor-pointer"
                  *cdkVirtualFor="let translation of translations | translationFilter: searchValue : selectedSearchLocale : selectedLabels"
                  (click)="selectTranslation(translation)"
                  (keyup.enter)="selectTranslation(translation)"
                  [class.bg-gray-100]="translation.id === selectedTranslation?.id">
                  <div class="flex min-w-0 gap-x-2">
                    <div class="self-center">
                      @switch (identifyStatus(translation)) {
                        @case ('TRANSLATED') {
                          <div class="h-3.5 w-3.5 flex-none rounded-full bg-emerald-500/20 p-1" matTooltip="Translated">
                            <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
                          </div>
                        }
                        @case ('PARTIALLY_TRANSLATED') {
                          <div class="h-3.5 w-3.5 flex-none rounded-full bg-amber-500/20 p-1" matTooltip="Partially Translated">
                            <div class="h-1.5 w-1.5 rounded-full bg-amber-500"></div>
                          </div>
                        }
                        @case ('UNTRANSLATED') {
                          <div class="h-3.5 w-3.5 flex-none rounded-full bg-red-500/20 p-1" matTooltip="Untranslated">
                            <div class="h-1.5 w-1.5 rounded-full bg-red-500"></div>
                          </div>
                        }
                      }
                    </div>
                    <div class="min-w-0 flex-auto">
                      <div class="text-sm font-semibold leading-6 text-gray-900">
                        {{ translation.name }}
                      </div>
                      <div class="mt-1 text-xs leading-5 text-gray-500">
                        @switch (translation.type) {
                          @case ('STRING') {
                            <ll-translation-string-view [value]="translation.locales[selectedSearchLocale]" />
                          }
                          @case ('PLURAL') {
                            <ll-translation-plural-view [value]="translation.locales[selectedSearchLocale]" />
                          }
                          @case ('ARRAY') {
                            <ll-translation-array-view [value]="translation.locales[selectedSearchLocale]" />
                          }
                        }
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </cdk-virtual-scroll-viewport>
            <div class="basis-1/2 overlay">
              @if (selectedTranslation) {
                <div class="flex flex-col h-full">
                  <div class="p-2">
                    <mat-form-field>
                      <mat-label>Source Locale</mat-label>
                      <mat-select [(value)]="selectedSourceLocale">
                        @for (locale of space.locales; track locale.id) {
                          <mat-option [value]="locale.id"> {{ locale.name }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="p-2 mb-auto">
                    @switch (selectedTranslation.type) {
                      @case ('STRING') {
                        <ll-translation-string-view [value]="selectedTranslation.locales[selectedSourceLocale]" />
                      }
                      @case ('PLURAL') {
                        <ll-translation-plural-view [value]="selectedTranslation.locales[selectedSourceLocale]" />
                      }
                      @case ('ARRAY') {
                        <ll-translation-array-view [value]="selectedTranslation.locales[selectedSourceLocale]" />
                      }
                    }
                  </div>

                  @if ('TRANSLATION_UPDATE' | canUserPerform | async) {
                    <mat-divider></mat-divider>
                    <div class="p-2">
                      <mat-form-field class="with-button">
                        <mat-label>Target Locale</mat-label>
                        <mat-select [(value)]="selectedTargetLocale" (selectionChange)="translateValue = undefined">
                          @for (locale of space.locales; track locale.id) {
                            <mat-option [value]="locale.id"> {{ locale.name }}</mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      <button
                        mat-icon-button
                        matTooltip="Translate"
                        (click)="translate()"
                        [disabled]="!isLocaleTranslatable(selectedSourceLocale, selectedTargetLocale)">
                        <ll-icon [animate]="isTranslateLoading()" start="g_translate" end="sync" />
                      </button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="p-2">
                      @switch (selectedTranslation.type) {
                        @case ('STRING') {
                          <ll-translation-string-edit
                            [value]="translateValue || selectedTranslation.locales[selectedTargetLocale]"
                            (valueChange)="selectedTranslationLocaleValue = $event" />
                        }
                        @case ('PLURAL') {
                          <ll-translation-plural-edit
                            [value]="selectedTranslation.locales[selectedTargetLocale]"
                            (valueChange)="selectedTranslationLocaleValue = $event" />
                        }
                        @case ('ARRAY') {
                          <ll-translation-array-edit
                            [value]="selectedTranslation.locales[selectedTargetLocale]"
                            (valueChange)="selectedTranslationLocaleValue = $event" />
                        }
                      }
                    </div>
                    <mat-divider></mat-divider>
                    <div class="p-2 flex flex-row-reverse">
                      <button
                        mat-raised-button
                        color="primary"
                        [disabled]="
                          isLocaleUpdateLoading() || selectedTranslation.locales[selectedTargetLocale] === selectedTranslationLocaleValue
                        "
                        (click)="updateLocale(selectedTranslation, selectedTargetLocale, selectedTranslationLocaleValue!)">
                        <ll-icon [animate]="isLocaleUpdateLoading()" start="save" end="sync" />
                        Save
                      </button>
                    </div>
                  }
                </div>
              }
            </div>
            <div class="basis-1/4 overlay break-all">
              @if (selectedTranslation) {
                <div class="d-flex flex-column">
                  <div class="p-2 align-items-start">
                    @if ('TRANSLATION_UPDATE' | canUserPerform | async) {
                      <button mat-stroked-button matTooltip="Edit" (click)="openEditDialog(selectedTranslation)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    }
                    @if ('TRANSLATION_DELETE' | canUserPerform | async) {
                      <button mat-stroked-button matTooltip="Delete" (click)="openDeleteDialog(selectedTranslation)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    }
                  </div>
                  <mat-divider></mat-divider>

                  <div class="p-2 align-items-start">
                    <p>
                      <small><strong>ID</strong></small>
                    </p>
                    <p>
                      <small>{{ selectedTranslation.id }}</small>
                      <button mat-icon-button [cdkCopyToClipboard]="selectedTranslation.id" matTooltip="Copy Id">
                        <mat-icon>content_copy</mat-icon>
                      </button>
                    </p>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="p-2 align-items-start">
                    <p>
                      <small><strong>Name</strong></small>
                    </p>
                    <p>
                      <small>{{ selectedTranslation.name }}</small>
                      <button mat-icon-button [cdkCopyToClipboard]="selectedTranslation.name" matTooltip="Copy Name">
                        <mat-icon>content_copy</mat-icon>
                      </button>
                    </p>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="p-2 align-items-start">
                    <p>
                      <small><strong>Status</strong></small>
                    </p>
                    <p>
                      <small>{{ identifyStatus(selectedTranslation) }}</small>
                    </p>
                  </div>
                  <mat-divider></mat-divider>
                  <!--        <div class="p-2 align-items-start">-->
                  <!--          <p><small><strong>Type</strong></small></p>-->
                  <!--          <p><small>{{selectedTranslation.type}}</small></p>-->
                  <!--        </div>-->
                  <!--        <mat-divider></mat-divider>-->
                  <div class="p-2 align-items-start">
                    <p>
                      <small><strong>Description</strong></small>
                    </p>
                    @if (selectedTranslation.description) {
                      <p>
                        <small>{{ selectedTranslation.description }}</small>
                      </p>
                    } @else {
                      <p>
                        <small><em>No description available.</em></small>
                      </p>
                    }
                  </div>
                  <mat-divider></mat-divider>
                  <div class="p-2 align-items-start">
                    <p>
                      <small><strong>Labels</strong></small>
                    </p>
                    @if (selectedTranslation.labels && selectedTranslation.labels.length > 0) {
                      <mat-chip-listbox>
                        @for (item of selectedTranslation.labels; track item) {
                          <mat-chip-option>{{ item }}</mat-chip-option>
                        }
                      </mat-chip-listbox>
                    } @else {
                      <p>
                        <small><em>No label available.</em></small>
                      </p>
                    }
                  </div>
                  <mat-divider></mat-divider>
                  <div class="p-2 align-items-start">
                    <p>
                      <small><strong>Created At</strong></small>
                    </p>
                    <p>
                      <small>{{ selectedTranslation.createdAt?.toMillis() | date: 'medium' }}</small>
                    </p>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="p-2 align-items-start">
                    <p>
                      <small><strong>Updated At</strong></small>
                    </p>
                    <p>
                      <small>{{ selectedTranslation.updatedAt?.toMillis() | date: 'medium' }}</small>
                    </p>
                  </div>
                  <mat-divider></mat-divider>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </mat-sidenav-content>
    <mat-sidenav position="end" [opened]="showHistory" (openedChange)="showHistory = $event">
      <div class="flow-root m-4">
        <ul role="list" class="-mb-8">
          @for (item of history$ | async; track item.id; let isLast = $last) {
            <li>
              <div class="relative pb-5">
                @if (!isLast) {
                  <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                }
                <div class="relative flex space-x-3">
                  @switch (item.type) {
                    @case ('PUBLISHED') {
                      <div>
                        <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white text-white">
                          <mat-icon>publish</mat-icon>
                        </span>
                      </div>
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm text-gray-500">
                            Published by
                            <span class="font-medium text-gray-900" [matTooltip]="item.email || 'Unknown'">
                              {{ item.name || 'Unknown' }}
                            </span>
                          </p>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm text-gray-500">
                          <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                        </div>
                      </div>
                    }
                    @case ('CREATE') {
                      <div>
                        <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white text-white">
                          <mat-icon>add</mat-icon>
                        </span>
                      </div>
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm text-gray-500">
                            Add <span class="font-medium text-gray-900 break-all">{{ item.key }}</span>
                          </p>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm text-gray-500">
                          <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                        </div>
                      </div>
                    }
                    @case ('UPDATE') {
                      <div>
                        <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white text-white">
                          <mat-icon>edit</mat-icon>
                        </span>
                      </div>
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm text-gray-500">
                            Edit <span class="font-medium text-gray-900 break-all">{{ item.key }}</span>
                          </p>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm text-gray-500">
                          <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                        </div>
                      </div>
                    }
                    @case ('DELETE') {
                      <div>
                        <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white text-white">
                          <mat-icon>delete</mat-icon>
                        </span>
                      </div>
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm text-gray-500">
                            Delete <span class="font-medium text-gray-900 break-all">{{ item.key }}</span>
                          </p>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm text-gray-500">
                          <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                        </div>
                      </div>
                    }
                    @default {
                      <div>
                        <span class="h-8 w-8 rounded-full bg-gray-500 flex items-center justify-center ring-8 ring-white text-white">
                          <mat-icon>question_mark</mat-icon>
                        </span>
                      </div>
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm text-gray-500">Unknown</p>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm text-gray-500">
                          <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                        </div>
                      </div>
                    }
                  }
                </div>
              </div>
            </li>
          } @empty {
            No Records found
          }
        </ul>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
}
