<mat-toolbar>
  <mat-toolbar-row>
    Users
    <span class="spacer"></span>
    <div class="actions">
      <button mat-stroked-button matTooltip="Synchronize Users with Database." (click)="sync()">
        <mat-icon [llAnimate]="isSyncLoading()">sync</mat-icon>
        Sync
      </button>

      <button mat-flat-button (click)="inviteDialog()">
        <mat-icon>person_add</mat-icon>
        Invite
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
@if (isLoading()) {
  <mat-progress-bar mode="query" />
}

<div class="px-2 mx-auto mt-3">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter emails and names ..." />
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email</mat-header-cell>
      <mat-cell *matCellDef="let element" class="break-all">
        {{ element.email }}
        @if (element.emailVerified) {
          &nbsp;
          <mat-icon matTooltip="Email Verified" matTooltipPosition="after">verified</mat-icon>
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</mat-header-cell>
      <mat-cell *matCellDef="let element" class="break-all"> {{ element.displayName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef> Active</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.disabled) {
          <mat-icon matTooltip="User is Disabled" matTooltipPosition="after">block</mat-icon>
        } @else {
          <mat-icon matTooltip="User is Active" matTooltipPosition="after">check</mat-icon>
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="providers">
      <mat-header-cell *matHeaderCellDef> Providers</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @for (provider of element.providers; track provider) {
          @switch (provider) {
            @case ('password') {
              <mat-icon matTooltip="Email & Password" matTooltipPosition="after">email</mat-icon>
            }
            @default {
              <mat-icon [matTooltip]="provider" matTooltipPosition="after">verified_user</mat-icon>
            }
          }
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header="role"> Role</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.role || 'none' | uppercase }}
        @if (element.role === 'custom') {
          &nbsp;<mat-icon [matTooltip]="element.permissions?.join('&#10;')" matTooltipPosition="after">info</mat-icon>
          @if (element.lock) {
            <mat-icon matTooltip="The user is not be able to change his password and other personal data."> lock </mat-icon>
          }
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="createdAt"> Created At</mat-header-cell>
      <mat-cell *matCellDef="let element" [matTooltip]="element.createdAt?.toDate() | date: 'medium'">
        {{ element.createdAt?.toDate() | date: 'mediumDate' }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt"> Updated At</mat-header-cell>
      <mat-cell *matCellDef="let element" [matTooltip]="element.updatedAt?.toDate() | date: 'medium'">
        {{ element.updatedAt?.toDate() | date: 'mediumDate' }}</mat-cell
      >
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editDialog(element)" matTooltip="Update">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteDialog(element)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator class="mat-paginator-sticky"></mat-paginator>
</div>
