table {
  width: 100%;
}

mat-header-cell,
mat-cell {

  &.mat-column-active {
    max-width: 75px;
  }

  &.mat-column-providers {
    max-width: 95px;
  }

  &.mat-column-role {
    max-width: 125px;
  }

  &.mat-column-creationTime {
    max-width: 120px;
  }

  &.mat-column-lastSignInTime {
    max-width: 120px;
  }

  &.mat-column-actions {
    max-width: 125px;
  }
}
