th,
td {
  &.ll-column-active {
    max-width: 75px;
  }

  &.ll-column-providers {
    max-width: 95px;
  }

  &.ll-column-role {
    max-width: 160px;
  }

  &.ll-column-createdAt {
    width: 120px;
    max-width: 120px;
  }

  &.ll-column-updatedAt {
    width: 120px;
    max-width: 120px;
  }

  &.ll-column-actions {
    width: 80px;
    max-width: 80px;
  }
}
