<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{page?.name}}</span>
    <span class="spacer"></span>

    <button mat-stroked-button [matMenuTriggerFor]="localesMenu" matTooltip="Select a locale">
      {{selectedLocale?.name || "Default"}}
      <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #localesMenu="matMenu">
      <button mat-menu-item (click)="onLocaleChanged(undefined)">
        <span [class.fw-semibold]="undefined === selectedLocale">
          Default
        </span>
      </button>
      <button mat-menu-item *ngFor="let locale of selectedSpace?.locales" (click)="onLocaleChanged(locale)">
        <span [class.fw-semibold]="locale.id === selectedLocale?.id">
          {{locale.name}}
          <span *ngIf="locale.id === selectedSpace?.localeFallback.id"> (Fallback)</span>
        </span>
      </button>
    </mat-menu>

    <button mat-raised-button color="primary" matTooltip="Save the page"
      [disabled]="!form.valid || isSaveLoading"
      (click)="save()">
      <ll-icon [animate]="isSaveLoading" start="save" end="sync"></ll-icon>
      Save
    </button>

    <button mat-raised-button color="accent" matTooltip="Publish to be available via API call"
      [disabled]="!form.valid || isPublishLoading"
      (click)="publish()">
      <ll-icon [animate]="isPublishLoading" start="publish" end="sync"></ll-icon>
      Publish
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="isLoading" class="loader">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading" class="container-fluid mt-3">
  <ng-container *ngIf="schematic">

  <form [formGroup]="form" class="step-container" *ngIf="!isFormLoading">
    <ng-container *ngFor="let component of schematic.components" [ngSwitch]="component.kind">
      <ng-container *ngSwitchCase="'TEXT'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="text"
                 [formControlName]="component.name"
                 [required]="component.required"
                 [attr.minlength]="component.minLength"
                 [attr.maxlength]="component.maxLength"
                 autocomplete="off"/>
          <mat-icon matSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-hint align="end" *ngIf="component.maxLength">{{form.controls[component.name]?.value?.length || 0}}/{{component.maxLength}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'TEXTAREA'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <textarea matInput rows="6"
                    [formControlName]="component.name"
                    [required]="component.required"
                    [attr.minLength]="component.minLength"
                    [attr.maxlength]="component.maxLength"
                    autocomplete="off"></textarea>
          <mat-icon matSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-hint align="end" *ngIf="component.maxLength">{{form.controls[component.name]?.value?.length || 0}}/{{component.maxLength}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'NUMBER'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="number"
                 [formControlName]="component.name"
                 [required]="component.required"
                 [attr.min]="component.minValue"
                 [attr.max]="component.maxValue"
                 autocomplete="off"/>
          <mat-icon matSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'COLOR'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="color"
                 [formControlName]="component.name"
                 [required]="component.required"
                 [attr.min]="component.minValue"
                 [attr.max]="component.maxValue"
                 autocomplete="off"/>
          <mat-icon matSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'DATE'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="date"
                 [formControlName]="component.name"
                 [required]="component.required"
                 autocomplete="off"/>
          <mat-icon matSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'DATETIME'">
        <mat-form-field appearance="outline">
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="datetime-local"
                 [formControlName]="component.name"
                 [required]="component.required"
                 autocomplete="off"/>
          <mat-icon matSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'BOOLEAN'">
        <mat-checkbox [formControlName]="component.name">
          {{component.displayName || component.name}}
        </mat-checkbox>
        &nbsp;
        <mat-icon matSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
        <br/>
        <mat-hint *ngIf="component.description" style="font-size: 75%;padding: 0 1em;">{{component.description}}</mat-hint>
        <mat-error *ngIf="form.controls[component.name].errors">{{fe.controlError(form.controls[component.name])}}</mat-error>
      </ng-container>

    </ng-container>
  </form>
  </ng-container>
  {{form.value | json}} <br/>
  {{content | json}}

</div>
