@let editor = this.editor();
@let active = this.active();

<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['paragraph'] ? 'secondary' : 'ghost'"
  hlmTooltip="Normal text &#10; {{ fnKey }} + Alt + 0"
  (click)="editor?.chain().focus().setParagraph().run()">
  <ng-icon name="lucidePilcrow" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['heading1'] ? 'secondary' : 'ghost'"
  hlmTooltip="Heading 1 &#10; {{ fnKey }} + Alt + 1"
  (click)="editor?.chain().focus().toggleHeading({ level: 1 }).run()">
  <ng-icon name="lucideHeading1" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['heading2'] ? 'secondary' : 'ghost'"
  hlmTooltip="Heading 2 &#10; {{ fnKey }} + Alt + 2"
  (click)="editor?.chain().focus().toggleHeading({ level: 2 }).run()">
  <ng-icon name="lucideHeading2" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['heading3'] ? 'secondary' : 'ghost'"
  hlmTooltip="Heading 3 &#10; {{ fnKey }} + Alt + 3"
  (click)="editor?.chain().focus().toggleHeading({ level: 3 }).run()">
  <ng-icon name="lucideHeading3" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['heading4'] ? 'secondary' : 'ghost'"
  hlmTooltip="Heading 4 &#10; {{ fnKey }} + Alt + 4"
  (click)="editor?.chain().focus().toggleHeading({ level: 4 }).run()">
  <ng-icon name="lucideHeading4" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['heading5'] ? 'secondary' : 'ghost'"
  hlmTooltip="Heading 5 &#10; {{ fnKey }} + Alt + 5"
  (click)="editor?.chain().focus().toggleHeading({ level: 5 }).run()">
  <ng-icon name="lucideHeading5" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['heading6'] ? 'secondary' : 'ghost'"
  hlmTooltip="Heading 6 &#10; {{ fnKey }} + Alt + 6"
  (click)="editor?.chain().focus().toggleHeading({ level: 6 }).run()">
  <ng-icon name="lucideHeading6" />
</button>
<hlm-separator orientation="vertical" class="h-4!" />
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['bold'] ? 'secondary' : 'ghost'"
  hlmTooltip="Bold &#10; {{ fnKey }} + B"
  (click)="editor?.chain().focus().toggleBold().run()">
  <ng-icon name="lucideBold" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['italic'] ? 'secondary' : 'ghost'"
  hlmTooltip="Italic &#10; {{ fnKey }} + I"
  (click)="editor?.chain().focus().toggleItalic().run()">
  <ng-icon name="lucideItalic" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['strike'] ? 'secondary' : 'ghost'"
  hlmTooltip="Strike &#10; {{ fnKey }} + Shift + S"
  (click)="editor?.chain().focus().toggleStrike().run()">
  <ng-icon name="lucideStrikethrough" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['underline'] ? 'secondary' : 'ghost'"
  hlmTooltip="Underline &#10; {{ fnKey }} + U"
  (click)="editor?.chain().focus().toggleUnderline().run()">
  <ng-icon name="lucideUnderline" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['code'] ? 'secondary' : 'ghost'"
  hlmTooltip="Code &#10; {{ fnKey }} + E"
  (click)="editor?.chain().focus().toggleCode().run()">
  <ng-icon name="lucideCode" />
</button>
<hlm-separator orientation="vertical" class="h-4!" />
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['link'] ? 'secondary' : 'ghost'"
  hlmTooltip="Link"
  (click)="setLink()">
  <ng-icon name="lucideLink" />
</button>
<hlm-separator orientation="vertical" class="h-4!" />
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['orderedList'] ? 'secondary' : 'ghost'"
  hlmTooltip="Ordered List &#10; {{ fnKey }} + Shift + 7"
  (click)="editor?.chain().focus().toggleOrderedList().run()">
  <ng-icon name="lucideListOrdered" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['bulletList'] ? 'secondary' : 'ghost'"
  hlmTooltip="Bullet List &#10; {{ fnKey }} + Shift + 8"
  (click)="editor?.chain().focus().toggleBulletList().run()">
  <ng-icon name="lucideList" />
</button>
<hlm-separator orientation="vertical" class="h-4!" />
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['blockquote'] ? 'secondary' : 'ghost'"
  hlmTooltip="Blockquote &#10; {{ fnKey }} + Shift + B"
  (click)="editor?.chain().focus().toggleBlockquote().run()">
  <ng-icon name="lucideQuote" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  [variant]="active['codeBlock'] ? 'secondary' : 'ghost'"
  hlmTooltip="Code Block &#10; {{ fnKey }} + Alt + C"
  (click)="editor?.chain().focus().toggleCodeBlock().run()">
  <ng-icon name="lucideCodeSquare" />
</button>
<button
  hlmInputGroupButton
  size="icon-xs"
  [disabled]="inert()"
  variant="ghost"
  hlmTooltip="Horizontal Rule"
  (click)="editor?.chain().focus().setHorizontalRule().run()">
  <ng-icon name="lucideMinus" />
</button>
<hlm-separator orientation="vertical" class="h-4!" />
