<h2 class="mt-8 text-2xl font-bold tracking-tight">Forgot Password</h2>

<div class="mt-10">
  <form class="space-y-6" [formGroup]="form">
    <div hlmField>
      <label hlmFieldLabel for="email">Email</label>
      <input hlmInput id="email" type="email" formControlName="email" class="w-full" required />
      <p hlmFieldDescription>Sends a password reset email to the given email address.</p>
      @if (form.controls['email'].errors; as errors) {
        <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
      }
    </div>

    <div>
      <button hlmBtn class="w-full" (click)="passwordReset()">Reset Password</button>
    </div>
    <div>
      <button hlmBtn variant="outline" class="w-full" routerLink="/login">Back to Login</button>
    </div>
  </form>
</div>
