th,
td {
  &.ll-column-id {
    width: 220px;
    max-width: 220px;
  }

  &.ll-column-updatedAt {
    width: 120px;
    max-width: 120px;
  }

  &.ll-column-actions {
    width: 120px;
    max-width: 120px;
  }
}
