<mat-toolbar>
  <mat-toolbar-row>
    Dashboard
    <span class="spacer"></span>
    @if ('SPACE_MANAGEMENT' | canUserPerform | async) {
      <button mat-icon-button (click)="calculateOverview()">
        <mat-icon>refresh</mat-icon>
      </button>
    }
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-full-screen">
  @if (space(); as space) {
    <div class="grid grid-rows-1 gap-4">
      <div>
        <h3 class="text-base font-semibold leading-6">Overview</h3>
        <dl class="mt-5 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
          <div class="overflow-hidden rounded-lg px-4 py-5 shadow dark:border-2 sm:p-6">
            <dt class="truncate text-sm font-medium">Locales</dt>
            <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight">
              {{ space.locales.length }}
            </dd>
          </div>
          <div class="overflow-hidden rounded-lg px-4 py-5 shadow dark:border-2 sm:p-6">
            <dt class="truncate text-sm font-medium">Translations</dt>
            <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight">
              {{ space.overview?.translationsCount || 0 }}
            </dd>
          </div>
          <div class="overflow-hidden rounded-lg px-4 py-5 shadow dark:border-2 sm:p-6">
            <dt class="truncate text-sm font-medium">Asset Files</dt>
            <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight">
              {{ space.overview?.assetsCount || 0 }}
            </dd>
          </div>
          <div class="overflow-hidden rounded-lg px-4 py-5 shadow dark:border-2 sm:p-6">
            <dt class="truncate text-sm font-medium">Content Documents</dt>
            <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight">
              {{ space.overview?.contentsCount || 0 }}
            </dd>
          </div>
          <div class="overflow-hidden rounded-lg px-4 py-5 shadow dark:border-2 sm:p-6">
            <dt class="truncate text-sm font-medium">Schemas</dt>
            <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight">
              {{ space.overview?.schemasCount || 0 }}
            </dd>
          </div>
        </dl>
      </div>
      <div>
        <h3 class="text-base font-semibold leading-6">Storage</h3>
        <dl class="mt-5 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
          <div class="overflow-hidden rounded-lg px-4 py-5 shadow dark:border-2 sm:p-6">
            <dt class="truncate text-sm font-medium">Total</dt>
            <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight">
              {{ space.overview?.translationSize + space?.overview?.assetsSize + space?.overview?.contentSize | digitalStore }}
            </dd>
          </div>
          <div class="overflow-hidden rounded-lg px-4 py-5 shadow dark:border-2 sm:p-6">
            <dt class="truncate text-sm font-medium">Translations</dt>
            <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight">
              {{ space.overview?.translationSize || 0 | digitalStore }}
            </dd>
          </div>
          <div class="overflow-hidden rounded-lg px-4 py-5 shadow dark:border-2 sm:p-6">
            <dt class="truncate text-sm font-medium">Asset Files</dt>
            <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight">
              {{ space.overview?.assetsSize || 0 | digitalStore }}
            </dd>
          </div>
          <div class="overflow-hidden rounded-lg px-4 py-5 shadow dark:border-2 sm:p-6">
            <dt class="truncate text-sm font-medium">Content Documents</dt>
            <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight">
              {{ space.overview?.contentSize || 0 | digitalStore }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  }
</div>
