<form [formGroup]="form()" class="overflow-hidden">
  <fieldset hlmFieldSet>
    <div hlmFieldGroup class="gap-2">
      <div hlmField class="gap-2">
        <label hlmFieldLabel [for]="component().name">
          {{ component().displayName || component().name }}
          @if (component().description; as description) {
            <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="description" />
          }
          @if (component().translatable) {
            <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
          }
        </label>
        <div class="flex items-center gap-2">
          <button
            hlmBtn
            variant="secondary"
            size="icon"
            hlmTooltip="Change link type"
            [hlmDropdownMenuTrigger]="linkTypeMenu"
            [disabled]="default() && !component().translatable">
            <ng-icon [name]="form().value.type === 'content' ? 'lucideFileSymlink' : 'lucideLink'" />
          </button>
          <ng-template #linkTypeMenu>
            <hlm-dropdown-menu>
              <button hlmDropdownMenuRadio [checked]="form().value.type === 'url'" (click)="onTypeChange('url')">
                <hlm-dropdown-menu-radio-indicator />
                <ng-icon name="lucideLink" class="mr-2" />
                <span>Public URL</span>
              </button>
              <button hlmDropdownMenuRadio [checked]="form().value.type === 'content'" (click)="onTypeChange('content')">
                <hlm-dropdown-menu-radio-indicator />
                <ng-icon name="lucideFileSymlink" class="mr-2" />
                <span>Internal Reference</span>
              </button>
            </hlm-dropdown-menu>
          </ng-template>
          @switch (form().value.type) {
            @case ('url') {
              <input
                hlmInput
                [id]="component().name"
                type="url"
                formControlName="uri"
                autocomplete="off"
                [readonly]="default() && !component().translatable"
                [required]="component().required || false"
                [placeholder]="displayContent(defaultDocument()) || default()?.uri || 'https://'" />
            }
            @case ('content') {
              @if (default() && !component().translatable) {
                <input hlmInput [readonly]="true" [value]="displayContent(defaultDocument())" />
              } @else {
                <hlm-combobox class="w-full" [(value)]="selectedDocument" [(search)]="search" [itemToString]="itemToString">
                  <hlm-combobox-input placeholder="Select a document" showClear />
                  <hlm-combobox-content *hlmComboboxPortal>
                    <hlm-combobox-empty>No document found.</hlm-combobox-empty>
                    <div hlmComboboxList>
                      @for (content of filteredOptions(); track content.id) {
                        <hlm-combobox-item [value]="content">{{ content.name }} | {{ content.fullSlug }}</hlm-combobox-item>
                      }
                    </div>
                  </hlm-combobox-content>
                </hlm-combobox>
              }
            }
          }
        </div>
        @if (form().controls['uri']?.errors; as errors) {
          <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
        }
      </div>
      <div hlmField orientation="horizontal">
        <hlm-switch id="target" [checked]="form().value.target === '_blank'" (checkedChange)="targetChange($event)" />
        <label hlmFieldLabel for="target">Open in a new tab</label>
      </div>
    </div>
  </fieldset>
</form>
@if (settingsStore.debugEnabled()) {
  <hlm-accordion>
    <hlm-accordion-item>
      <h3 class="contents">
        <button hlmAccordionTrigger>
          Form => valid={{ form().valid }}
          <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
        </button>
      </h3>
      <hlm-accordion-content>
        Value :
        <pre>{{ form().value | json }}</pre>
        Error :
        <pre>{{ form().errors | json }}</pre>
      </hlm-accordion-content>
    </hlm-accordion-item>
  </hlm-accordion>
  <br />
}
