@if (settingsStore.translationLayout() === 'list') {
  <cdk-virtual-scroll-viewport [itemSize]="55" class="overlay border">
    <div
      role="listitem"
      hlmItem
      class="border-b-border cursor-pointer rounded-b-none p-2"
      *cdkVirtualFor="let translation of translationsFiltered()"
      [variant]="translation.id === selectedId() ? 'muted' : 'default'"
      (click)="translationSelect.emit(translation)"
      (keyup.enter)="translationSelect.emit(translation)">
      <div hlmItemContent>
        <div hlmItemTitle class="break-all">
          @if (isLocaleUpdateLoading() && translationUpdateId() === translation.id) {
            <hlm-spinner class="size-6 items-center" />
          } @else {
            <ll-translation-status [status]="identifyTranslationStatus(translation)" />
          }
          {{ translation.id }}
        </div>
        <p hlmItemDescription class="break-all">
          <ll-translation-string-view [value]="translation.locales[currentLocale() || '']" />
        </p>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
} @else {
  <div class="overlay overflow-auto border">
    <mat-tree
      #tree
      class="bg-background!"
      [dataSource]="translationTreeFiltered()"
      [expansionKey]="expansionKey"
      [childrenAccessor]="childrenAccessor"
      [trackBy]="trackBy">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="cursor-pointer" [class.selected]="node.key === selectedId()">
        @if (translationMap().get(node.key); as translation) {
          <div aria-hidden="true" class="flex items-center gap-x-3" (click)="translationSelect.emit(translation)">
            @if (isLocaleUpdateLoading() && translationUpdateId() === node.key) {
              <hlm-spinner class="size-4" />
            } @else {
              <ll-translation-status [status]="identifyTranslationStatus(translation)" />
            }
            <div>{{ node.name }}</div>
          </div>
        }
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        class="cursor-pointer"
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        matTreeNodeToggle
        [cdkTreeNodeTypeaheadLabel]="node.name">
        <button hlmBtn size="icon" variant="ghost" matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <ng-icon hlm [name]="tree.isExpanded(node) ? 'lucideChevronDown' : 'lucideChevronRight'" />
        </button>
        {{ node.name }}
      </mat-tree-node>
    </mat-tree>
  </div>
}
