<mat-toolbar>
  <mat-toolbar-row>
    Schemas
    <span class="spacer"></span>
    <button *ngIf="'SCHEMA_CREATE' | canUserPerform | async"
            mat-raised-button color="primary" (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
      Add Schema
    </button>

    <button mat-icon-button [matMenuTriggerFor]="extraMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #extraMenu="matMenu">
      <button *ngIf="'SCHEMA_IMPORT' | canUserPerform | async" mat-menu-item (click)="openImportDialog()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Import</span>
      </button>
      <button *ngIf="'SCHEMA_EXPORT' | canUserPerform | async" mat-menu-item (click)="openExportDialog()">
        <mat-icon>cloud_download</mat-icon>
        <span>Export</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="isLoading" class="loader">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading" class="container-fluid mt-3">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header="id"> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="previewImage">
      <mat-header-cell *matHeaderCellDef> Preview Image </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img *ngIf="element.previewImage as previewImage"
             class="img-thumbnail" width="115" height="115" loading="lazy" alt="thumbnail"
             ngSrc="/api/v1/spaces/{{selectedSpace.id}}/assets/{{previewImage}}"/>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.displayName}} &nbsp;<span class="text-muted">#{{element.name}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header="type"> Type </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon>{{schemaTypeIcons[element.type]}}</mat-icon> &nbsp;
        {{element.type}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="createdAt"> Created At </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt?.toDate() | date:'medium'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt"> Updated At </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.updatedAt?.toDate() | date:'medium'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button *ngIf="'SCHEMA_UPDATE' | canUserPerform | async" (click)="openEditDialog(element)" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="'SCHEMA_DELETE' | canUserPerform | async"
                mat-icon-button (click)="openDeleteDialog($event, element)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator></mat-paginator>
</div>
