table {
  width: 100%;
}

mat-header-cell, mat-cell {

  &.mat-column-type {
    max-width: 120px;
  }

  &.mat-column-previewImage {
    max-width: 150px;
  }

  &.mat-column-createdAt {
    max-width: 220px;
  }

  &.mat-column-updatedAt {
    max-width: 220px;
  }

  &.mat-column-actions {
    max-width: 140px;
  }
}

//mat-cell {
//  cursor: pointer;
//}
