table {
  width: 100%;
}

.schema-id {
  color: var(--sys-secondary);
}

mat-header-cell,
mat-cell {
  &.mat-column-type {
    max-width: 120px;
  }

  &.mat-column-createdAt {
    max-width: 220px;
  }

  &.mat-column-updatedAt {
    max-width: 220px;
  }

  &.mat-column-actions {
    max-width: 180px;
  }
}
