table {
  width: 100%;
}

mat-row {
  cursor: pointer;
}

mat-cell {
  &.mat-column-preview {
    max-width: 150px;

    img {
      max-width: 115px;
      max-height: 115px;
    }
  }
}

mat-header-cell,
mat-cell {
  &.mat-column-select {
    max-width: 80px;
  }

  &.mat-column-status {
    max-width: 80px;
  }

  &.mat-column-publishedAt {
    max-width: 220px;
  }

  &.mat-column-createdAt {
    max-width: 220px;
  }

  &.mat-column-updatedAt {
    max-width: 220px;
  }

  &.mat-column-actions {
    max-width: 180px;
  }
}
