@use '@angular/material' as mat;

table {
  width: 100%;
}

//mat-header-cell {
//  &.mat-column-actions {
//    text-align: center;
//    justify-content: flex-end;
//
//    .mat-mdc-button-base {
//      margin: 8px 8px 8px 8px;
//    }
//  }
//}

mat-row {
  cursor: pointer;
}

mat-cell {
  &.mat-column-preview {
    max-width: 150px;

    img {
      max-width: 115px;
      max-height: 115px;
    }
  }
}

mat-header-cell,
mat-cell {
  &.mat-column-select {
    max-width: 80px;
  }

  &.mat-column-status {
    max-width: 80px;
  }

  &.mat-column-publishedAt {
    max-width: 220px;
  }

  &.mat-column-createdAt {
    max-width: 220px;
  }

  &.mat-column-updatedAt {
    max-width: 220px;
  }

  &.mat-column-actions {
    max-width: 140px;
  }
}

.mat-icon {
  &.published {
    color: mat.get-color-from-palette(mat.$green-palette, 500);
  }

  &.not-published {
    color: mat.get-color-from-palette(mat.$gray-palette, 500);
  }

  &.draft {
    color: mat.get-color-from-palette(mat.$amber-palette, 500);
  }
}
