<mat-toolbar>
  <mat-toolbar-row>
    Content
    <a mat-icon-button target="_blank" href="https://localess.org/docs/content/overview" matTooltip="Help Article">
      <mat-icon>help</mat-icon>
    </a>
    <span class="spacer"></span>

    @if ('CONTENT_CREATE' | canUserPerform | async) {
      <button mat-stroked-button color="primary" [matMenuTriggerFor]="contentCreateMenu">
        <mat-icon>add</mat-icon>
        Add Content
      </button>
      <mat-menu #contentCreateMenu="matMenu">
        <button mat-menu-item (click)="openAddDocumentDialog()">
          <mat-icon>post_add</mat-icon>
          <span>Document</span>
        </button>
        <button mat-menu-item (click)="openAddFolderDialog()">
          <mat-icon>create_new_folder</mat-icon>
          <span>Folder</span>
        </button>
      </mat-menu>
    }

    <button mat-icon-button [matMenuTriggerFor]="extraMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #extraMenu="matMenu">
      <button mat-menu-item (click)="openLinksInNewTab()">
        <mat-icon>link</mat-icon>
        <span>Links</span>
      </button>

      <mat-divider></mat-divider>
      @if ('CONTENT_IMPORT' | canUserPerform | async) {
        <button mat-menu-item (click)="openImportDialog()">
          <mat-icon>cloud_upload</mat-icon>
          <span>Import</span>
        </button>
      }
      @if ('CONTENT_EXPORT' | canUserPerform | async) {
        <button mat-menu-item (click)="openExportDialog()">
          <mat-icon>cloud_download</mat-icon>
          <span>Export</span>
        </button>
      }
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
@if (isLoading()) {
  <mat-progress-bar mode="query" />
}

<div class="container-full-screen">
  <ll-breadcrumb>
    @for (pathItem of spaceStore.contentPath(); track pathItem.fullSlug; let isFirst = $first) {
      <ll-breadcrumb-item (click)="navigateToSlug(pathItem)" [home]="isFirst">
        {{ pathItem.name }}
      </ll-breadcrumb-item>
    }
  </ll-breadcrumb>

  <mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @switch (element.kind) {
          @case ('DOCUMENT') {
            @if (element?.publishedAt === undefined) {
              <ll-status mode="offline" matTooltip="Not published" />
            } @else if (element?.publishedAt?.seconds > element?.updatedAt?.seconds) {
              <ll-status mode="online" matTooltip="Published" />
            } @else if (element?.publishedAt && element?.publishedAt?.seconds < element?.updatedAt?.seconds) {
              <ll-status mode="away" matTooltip="Draft" />
            }
          }
          @case ('FOLDER') {
            <mat-icon>folder</mat-icon>
          }
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.locked) {
          <mat-icon [matTooltip]="element.lockedBy ? 'Locked By ' + element.lockedBy + ' plugin' : 'Locked by unknown'">lock</mat-icon>
        }
        {{ element.name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="slug">
      <mat-header-cell *matHeaderCellDef mat-sort-header="slug"> Slug</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.slug }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="schema">
      <mat-header-cell *matHeaderCellDef mat-sort-header="schema"> Schema</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.kind === 'DOCUMENT') {
          @if (schemasMapById.get(element.schema); as schema) {
            {{ schema.displayName || schema.id }}
          } @else {
            unknown...
          }
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="publishedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="publishedAt"> Published At</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.publishedAt?.toDate() | date: 'medium' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="createdAt"> Created At</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.createdAt?.toDate() | date: 'medium' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt"> Updated At</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.updatedAt?.toDate() | date: 'medium' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if ('CONTENT_UPDATE' | canUserPerform | async) {
          <button mat-icon-button (click)="openEditDialog($event, element)" [disabled]="element.locked" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
        }
        @if ('CONTENT_CREATE' | canUserPerform | async) {
          <button mat-icon-button (click)="openCloneDialog($event, element)" [disabled]="element.kind === 'FOLDER'" matTooltip="Clone Here">
            <mat-icon>content_copy</mat-icon>
          </button>
        }
        @if ('CONTENT_UPDATE' | canUserPerform | async) {
          <button mat-icon-button (click)="openMoveDialog($event, element)" [disabled]="element.kind === 'FOLDER'" matTooltip="Move">
            <mat-icon>drive_file_move</mat-icon>
          </button>
        }
        @if ('CONTENT_DELETE' | canUserPerform | async) {
          <button mat-icon-button (click)="openDeleteDialog($event, element)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </mat-cell>
    </ng-container>

    <!--    <ng-container matColumnDef="actions">-->
    <!--      <mat-header-cell mat-header-cell *matHeaderCellDef>-->
    <!--        <button mat-stroked-button-->
    <!--                *ngIf="'CONTENT_UPDATE' | canUserPerform | async"-->
    <!--                [disabled]="selection.selected.length !== 1"-->
    <!--                (click)="openEditDialog(selection.selected[0])">-->
    <!--          <mat-icon>edit</mat-icon>-->
    <!--          Edit-->
    <!--        </button>-->
    <!--        <button mat-stroked-button-->
    <!--                *ngIf="'CONTENT_DELETE' | canUserPerform | async"-->
    <!--                [disabled]="selection.selected.length !== 1"-->
    <!--                (click)="openDeleteDialog(selection.selected[0])">-->
    <!--          <mat-icon>delete</mat-icon>-->
    <!--          Delete-->
    <!--        </button>-->
    <!--      </mat-header-cell>-->
    <!--    </ng-container>-->

    <!--    <mat-header-row *matHeaderRowDef="['actions']"></mat-header-row>-->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowSelect(row)"></mat-row>
  </mat-table>
  <mat-paginator></mat-paginator>
</div>
