td {
  &.ll-column-preview {
    cursor: zoom-in;
    img {
      min-width: 115px;
      min-height: 115px;
      max-width: 115px;
      max-height: 115px;
    }
  }
}

th,
td {
  &.ll-column-icon {
    width: 60px;
    max-width: 60px;
  }

  &.ll-column-preview {
    width: 150px;
    max-width: 150px;
  }

  &.ll-column-size {
    width: 110px;
    max-width: 110px;
  }

  &.ll-column-type {
    width: 120px;
    max-width: 120px;
  }

  &.ll-column-updatedAt {
    width: 120px;
    max-width: 120px;
  }

  &.ll-column-actions {
    width: 80px;
    max-width: 80px;
  }
}

.file-progress-upload {
  position: fixed;
  bottom: 0;
  right: 20px;

  mat-progress-spinner {
    height: 24px !important;
    width: 24px !important;
  }
}
