table {
  width: 100%;
}

.badge {
  @apply inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10
}


//mat-header-cell {
//  &.mat-column-actions {
//    text-align: center;
//    justify-content: flex-end;
//
//    .mat-mdc-button-base {
//      margin: 8px 8px 8px 8px;
//    }
//  }
//}

//mat-row {
//  &.row-folder {
//    cursor: pointer;
//  }
//}

mat-cell {
  &.mat-column-preview {
    cursor: zoom-in;
    img {
      min-width: 115px;
      min-height: 115px;
      max-width: 115px;
      max-height: 115px;
    }
  }
}

mat-header-cell,
mat-cell {
  &.mat-column-select {
    max-width: 80px;
  }

  &.mat-column-icon {
    max-width: 70px;
  }

  &.mat-column-preview {
    max-width: 150px;
  }

  &.mat-column-size {
    max-width: 110px;
  }

  &.mat-column-type {
    max-width: 135px;
  }

  &.mat-column-createdAt {
    max-width: 120px;
  }

  &.mat-column-updatedAt {
    max-width: 120px;
  }

  &.mat-column-actions {
    max-width: 200px;
  }
}

.file-progress-upload {
  position: fixed;
  bottom: 0;
  right: 20px;

  mat-progress-spinner {
    height: 24px!important; width: 24px!important;
  }
}
