@use '@angular/material' as mat;

table {
  width: 100%;
}

.digital-asset-card {
  max-width: 240px;
  min-width: 240px;
  img {
    min-width: 240px;
    min-height: 240px;
    max-width: 240px;
    max-height: 240px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-width: var(--mdc-outlined-card-outline-width);
    border-bottom-color: var(--mdc-outlined-card-outline-color, var(--mat-app-outline-variant));
  }
  .progress {
    min-width: 240px;
    min-height: 240px;
    max-width: 240px;
    max-height: 240px;
    align-content: center;
    padding-left: 60px;
  }

}


//mat-header-cell {
//  &.mat-column-actions {
//    text-align: center;
//    justify-content: flex-end;
//
//    .mat-mdc-button-base {
//      margin: 8px 8px 8px 8px;
//    }
//  }
//}

//mat-row {
//  &.row-folder {
//    cursor: pointer;
//  }
//}

mat-cell {
  &.mat-column-preview {
    img {
      min-width: 115px;
      min-height: 115px;
      max-width: 115px;
      max-height: 115px;
    }
  }
}

mat-header-cell,
mat-cell {
  &.mat-column-select {
    max-width: 80px;
  }

  &.mat-column-icon {
    max-width: 70px;
  }

  &.mat-column-preview {
    max-width: 150px;
  }

  &.mat-column-size {
    max-width: 110px;
  }

  &.mat-column-type {
    max-width: 135px;
  }

  &.mat-column-createdAt {
    max-width: 120px;
  }

  &.mat-column-updatedAt {
    max-width: 120px;
  }

  &.mat-column-actions {
    max-width: 200px;
  }
}

.file-progress-upload {
  position: fixed;
  bottom: 0;
  right: 20px;

  mat-progress-spinner {
    height: 24px!important; width: 24px!important;
  }
}
