table {
  width: 100%;
}

.header-actions {
  float: right;
  margin-top: 6px;
  .mat-mdc-button-base {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 2px;
  }
}

mat-dialog-content {
  @apply pt-0 #{!important};
}

mat-cell {
  &.mat-column-preview {
    img {
      min-width: 115px;
      min-height: 115px;
      max-width: 115px;
      max-height: 115px;
    }
  }
}

mat-header-cell,
mat-cell {
  &.mat-column-preview {
    max-width: 150px;
  }
  &.mat-column-select {
    max-width: 80px;
  }
  &.mat-column-icon {
    max-width: 70px;
  }
  &.mat-column-size {
    max-width: 110px;
  }
  &.mat-column-type {
    max-width: 135px;
  }
  &.mat-column-createdAt {
    max-width: 120px;
  }
  &.mat-column-updatedAt {
    max-width: 130px;
  }
}
