<h2 mat-dialog-title>
  <span>Assets</span>
  <div class="mt-1 float-right flex gap-4 items-center">
    @if (fileUploadQueue().length > 0) {
      <span hlmBadge class="h-6">
        <hlm-spinner />
        Uploading ... ({{ fileUploadQueue().length }})
      </span>
    }
    <hlm-toggle-group type="single" variant="outline" [value]="settingsStore.assetDialogLayout()">
      <button hlmToggleGroupItem value="list" hlmTooltip="List Layout" (click)="settingsStore.setAssetDialogLayout('list')">
        <ng-icon hlm size="sm" name="lucideLayoutList" />
      </button>
      <button hlmToggleGroupItem value="grid" hlmTooltip="Grid Layout" (click)="settingsStore.setAssetDialogLayout('grid')">
        <ng-icon hlm size="sm" name="lucideLayoutGrid" />
      </button>
    </hlm-toggle-group>
    @if ('ASSET_CREATE' | canUserPerform | async) {
      <button hlmBtn variant="outline" (click)="fileInput.click()">
        <ng-icon hlm size="sm" name="lucideUpload" />
        Upload Assets
      </button>
      <input hidden type="file" multiple #fileInput (change)="onFileUpload($event)" />
    }
  </div>
</h2>
@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}
<nav hlmBreadcrumb class="px-6 py-2">
  <ol hlmBreadcrumbList>
    @for (pathItem of assetPath; track pathItem.fullSlug; let isLast = $last; let isFirst = $first) {
      @if (!isFirst) {
        <li hlmBreadcrumbSeparator></li>
      }
      <li hlmBreadcrumbItem>
        @if (isFirst) {
          <button hlmBreadcrumbButton (click)="navigateToSlug(pathItem)">
            <ng-icon name="lucideFolderRoot" />
          </button>
        } @else if (isLast) {
          <span hlmBreadcrumbPage>{{ pathItem.name }}</span>
        } @else {
          <button hlmBreadcrumbButton (click)="navigateToSlug(pathItem)">
            {{ pathItem.name }}
          </button>
        }
      </li>
    }
  </ol>
</nav>
<mat-dialog-content>
  @if (settingsStore.assetDialogLayout() === 'list') {
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef> #</mat-header-cell>
        <mat-cell *matCellDef="let row">
          @if (row.kind === 'FILE') {
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          }
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef> Icon</mat-header-cell>
        <mat-cell *matCellDef="let element">
          @switch (element.kind) {
            @case ('FILE') {
              <ng-icon hlm [name]="fileIcon(element.type)" />
            }
            @case ('FOLDER') {
              <ng-icon hlm name="lucideFolder" />
            }
          }
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="preview">
        <mat-header-cell *matHeaderCellDef> Preview</mat-header-cell>
        <mat-cell *matCellDef="let element">
          @if (element.kind === 'FILE' && filePreview(element.type)) {
            @if (element.inProgress) {
              <div class="aspect-square w-full flex flex-col justify-center place-items-center">
                <hlm-spinner />
                <span>Processing ...</span>
              </div>
            } @else {
              <img
                class="border object-contain rounded-sm image-bg"
                width="200"
                height="200"
                alt="thumbnail"
                loading="lazy"
                [loaderParams]="{ thumbnail: true }"
                ngSrc="/api/v1/spaces/{{ data.spaceId }}/assets/{{ element.id }}" />
            }
          }
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div>
            <div class="break-all">{{ element.name }}{{ element.extension }}</div>
            @if (element.metadata; as metadata) {
              @if (metadata.width && metadata.height) {
                <div> W{{ metadata.width }} x H{{ metadata.height }} </div>
              }
              @if (metadata.duration; as duration) {
                <div> Duration: {{ duration | timeDuration }} </div>
              }
            }
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef> File Size</mat-header-cell>
        <mat-cell *matCellDef="let element">
          @if (element.size) {
            {{ element.size | formatFileSize }}
          } @else {
            -
          }
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
        <mat-cell *matCellDef="let element">
          @if (element.kind === 'FILE') {
            @if (element.type) {
              {{ element.type }}
            } @else {
              unknown
            }
          } @else {
            Folder
          }
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef> Updated At</mat-header-cell>
        <mat-cell *matCellDef="let element" [hlmTooltip]="element.updatedAt?.toDate() | date: 'medium'">
          {{ element.updatedAt?.toDate() | date: 'mediumDate' }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onAssetSelect(row)" class="cursor-pointer"></mat-row>
    </mat-table>
  } @else {
    <div hlmItemGroup class="flex flex-row flex-wrap gap-4">
      @for (item of dataSource.connect() | async; track item.id) {
        <div
          role="listitem"
          hlmItem
          variant="outline"
          class="cursor-pointer p-0 overflow-hidden items-baseline content-start flex-1 min-w-48 max-w-60"
          (click)="onAssetSelect(item)"
          (keyup.enter)="onAssetSelect(item)">
          <div hlmItemHeader class="border-b">
            @if (item.kind === 'FILE' && item.inProgress) {
              <div class="aspect-square w-full flex flex-col justify-center place-items-center">
                <hlm-spinner />
                <span>Processing ...</span>
              </div>
            } @else if (item.kind === 'FILE' && filePreview(item.type)) {
              <div class="relative aspect-square w-full">
                @if (item.extension; as extension) {
                  <span hlmBadge class="absolute top-5 right-5">{{ extension }}</span>
                }
                <img
                  class="aspect-square w-full object-contain bg-primary-foreground"
                  ngSrc="/api/v1/spaces/{{ data.spaceId }}/assets/{{ item.id }}"
                  alt="thumbnail"
                  width="600"
                  height="600"
                  loading="lazy"
                  [loaderParams]="{ thumbnail: true }" />
              </div>
            } @else if (item.kind === 'FILE') {
              <div class="relative aspect-square w-full bg-primary-foreground">
                @if (item.extension; as extension) {
                  <span hlmBadge class="absolute top-5 right-5">{{ extension }}</span>
                }
                <div class="w-full h-full flex items-center justify-center">
                  <ng-icon hlm size="xl" [name]="fileIcon(item.type)" />
                </div>
              </div>
            } @else {
              <div class="relative aspect-square w-full bg-primary-foreground">
                <div class="w-full h-full flex items-center justify-center">
                  <ng-icon hlm size="xl" name="lucideFolder" />
                </div>
              </div>
            }
          </div>
          <div hlmItemContent class="px-4">
            <div hlmItemTitle class="line-clamp-2" hlmTooltip="{{ item.name }}{{ item.extension }}">
              {{ item.name }}{{ item.extension }}
            </div>
            <div hlmItemDescription>
              @if (item.kind === 'FILE') {
                @if (item.size; as size) {
                  <p>{{ size | formatFileSize }}</p>
                }
                @if (item.metadata; as metadata) {
                  @if (metadata.width && metadata.height) {
                    W{{ metadata.width }} x H{{ metadata.height }}
                  }
                  @if (metadata.duration; as duration) {
                    <div> Duration: {{ duration | timeDuration }}</div>
                  }
                }
              }
              <p [hlmTooltip]="item.updatedAt?.toDate() | date: 'medium'">
                {{ item.updatedAt?.toDate() | date: 'mediumDate' }}
              </p>
            </div>
          </div>
          <div hlmItemFooter class="flex justify-end px-4 pb-4 grow">
            @if (item.kind === 'FILE') {
              <hlm-checkbox [checked]="selection.isSelected(item)" />
            }
          </div>
        </div>
      }
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <mat-paginator></mat-paginator>
  <button hlmBtn variant="ghost" [disabled]="selection.isEmpty()" (click)="selection.clear()">
    Deselect All ({{ selection.selected.length }})
  </button>
  <button hlmBtn variant="ghost" [mat-dialog-close]="undefined">Close</button>
  <button hlmBtn [mat-dialog-close]="selection.selected" [disabled]="selection.isEmpty()">
    @if (selection.selected.length > 1) {
      Add Selected Assets ({{ selection.selected.length }})
    } @else {
      Add Selected Asset
    }
  </button>
</mat-dialog-actions>
