<h2 mat-dialog-title>Assets</h2>
<ll-breadcrumb>
  <span style="padding-left: 1rem">&nbsp;</span>
  @for (pathItem of assetPath; track pathItem.fullSlug; let isFirst = $first) {
    <ll-breadcrumb-item (click)="navigateToSlug(pathItem)" [home]="isFirst">
      {{ pathItem.name }}
    </ll-breadcrumb-item>
  }
</ll-breadcrumb>
<mat-dialog-content>
  <mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef> #</mat-header-cell>
      <mat-cell *matCellDef="let row">
        @if (row.kind === 'FILE') {
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef> Icon</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @switch (element.kind) {
          @case ('FILE') {
            <mat-icon>{{ fileIcon(element.type) }}</mat-icon>
          }
          @case ('FOLDER') {
            <mat-icon>folder</mat-icon>
          }
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="preview">
      <mat-header-cell *matHeaderCellDef> Preview</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.kind === 'FILE' && filePreview(element.type)) {
          <img
            class="border object-contain rounded bg-stripes-gray"
            width="115"
            height="115"
            alt="thumbnail"
            loading="lazy"
            ngSrc="/api/v1/spaces/{{ data.spaceId }}/assets/{{ element.id }}" />
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <div>{{ element.name }}{{ element.extension }}</div>
          @if (element.metadata; as metadata) {
            <div class="fw-light">
              @if (metadata.width && metadata.height) {
                W{{ metadata.width }} x H{{ metadata.height }}
              }
            </div>
          }
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="size">
      <mat-header-cell *matHeaderCellDef mat-sort-header="size"> Size</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.size | digitalStore }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header="type"> Type</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.type }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt"> Updated At</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.updatedAt?.toDate() | date: 'medium' }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowSelect(row)"></mat-row>
  </mat-table>
  <mat-paginator></mat-paginator>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Close</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="selection.selected" [disabled]="selection.isEmpty()">
    @if (selection.selected.length > 1) {
      Add Selected Assets ({{ selection.selected.length }})
    } @else {
      Add Selected Asset
    }
  </button>
</mat-dialog-actions>
