<div class="p-2 flex items-center justify-end gap-2">
  <button hlmBtn (click)="openAddDialog()">
    <ng-icon hlm size="sm" name="lucidePlus" />
    Add Locale
  </button>
</div>
@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}
<div class="my-3">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header="id"> Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="isTranslatable">
      <mat-header-cell *matHeaderCellDef> Translatable</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (isSupport(element.id)) {
          <ng-icon name="lucideCheck" />
        } @else {
          <ng-icon name="lucideX" />
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isFallback">
      <mat-header-cell *matHeaderCellDef> Fallback</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (spaceStore.selectedSpace()?.localeFallback?.id === element.id) {
          <ng-icon name="lucideCheck" />
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          hlmBtn
          size="icon"
          variant="ghost"
          [hlmDropdownMenuTrigger]="actionsMenu"
          (click)="$event.stopPropagation()"
          hlmTooltip="Actions">
          <ng-icon hlm size="sm" name="lucideEllipsisVertical" />
        </button>
        <ng-template #actionsMenu>
          <hlm-dropdown-menu class="w-36">
            @if (spaceStore.selectedSpace()?.localeFallback?.id !== element.id) {
              <hlm-dropdown-menu-group>
                <button hlmDropdownMenuItem (click)="markAsFallback(element)">
                  <ng-icon hlm size="sm" name="lucideCheck" />
                  Set as Fallback
                </button>
              </hlm-dropdown-menu-group>
              <hlm-dropdown-menu-separator />
            }
            <hlm-dropdown-menu-group>
              <button
                hlmDropdownMenuItem
                variant="destructive"
                [disabled]="spaceStore.selectedSpace()?.localeFallback?.id === element.id"
                (click)="openDeleteDialog(element)">
                <ng-icon hlm size="sm" name="lucideTrash" />
                Delete
              </button>
            </hlm-dropdown-menu-group>
          </hlm-dropdown-menu>
        </ng-template>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator class="mat-paginator-sticky"></mat-paginator>
</div>
