th,
td {
  &.ll-column-id {
    width: 50px;
    max-width: 50px;
  }
  &.ll-column-isTranslatable {
    width: 115px;
    max-width: 115px;
  }
  &.ll-column-isFallback {
    width: 90px;
    max-width: 90px;
  }
  &.ll-column-actions {
    width: 80px;
    max-width: 80px;
  }
}
