<div class="flex min-h-full">
  <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-10 w-auto" ngSrc="assets/logo-adaptive.svg" alt="Localess" height="16" width="16" />
        <h2 class="mt-8 text-2xl font-bold tracking-tight">Forgot Password</h2>
      </div>

      <div class="mt-10">
        <form class="space-y-6" [formGroup]="form">
          <div hlmField>
            <label hlmFieldLabel for="email">Email</label>
            <input hlmInput id="email" type="email" formControlName="email" class="w-full" required />
            <p hlmFieldDescription>Sends a password reset email to the given email address.</p>
            @if (form.controls['email'].errors; as errors) {
              <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
            }
          </div>

          <div>
            <button hlmBtn class="w-full" (click)="passwordReset()">Reset Password</button>
          </div>
          <div>
            <button hlmBtn variant="outline" class="w-full" routerLink="/login">Back to Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="relative hidden w-0 flex-1 lg:block">
    <img
      class="absolute inset-0 size-full object-cover"
      src="https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?auto=format&fit=crop&w=1908&q=80"
      alt="" />
  </div>
</div>
