<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-10 w-auto my-2" ngSrc="assets/logo-adaptive.svg" alt="Localess" height="16" width="16" />
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight">Forgot Password</h2>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="px-6 py-12 shadow-sm sm:rounded-lg sm:px-12">
      <form class="space-y-6" [formGroup]="form">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-hint>Sends a password reset email to the given email address.</mat-hint>
        </mat-form-field>
        <div>
          <button mat-flat-button class="w-full" (click)="passwordReset()">Reset Password</button>
        </div>
        <div>
          <button mat-stroked-button class="w-full" routerLink="/features">Back to Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
