<div class="p-4">
  <form [formGroup]="form()">
    <fieldset hlmFieldSet>
      <div hlmFieldGroup class="gap-4">
        <div hlmField>
          <label hlmFieldLabel for="name">
            Display Name
            <ng-icon hlm size="sm" name="lucideInfo" hlmTooltip="Shown to content creators" />
          </label>
          <input #name hlmInput id="name" formControlName="name" autocomplete="off" />
          @if (form().controls['name']?.errors; as errors) {
            <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
          } @else {
            <p hlmFieldDescription class="content-end">{{ 50 - name.value.length }} characters left</p>
          }
        </div>
        <div hlmField>
          <label hlmFieldLabel for="value">
            Value
            <ng-icon hlm size="sm" name="lucideInfo" hlmTooltip="Technical representation stored in data structure" />
          </label>
          <input #value hlmInput id="value" formControlName="value" autocomplete="off" />
          @if (form().controls['value']?.errors; as errors) {
            <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
          } @else {
            <p hlmFieldDescription class="content-end">{{ 50 - value.value.length }} characters left</p>
          }
        </div>
      </div>
    </fieldset>
  </form>
</div>

@if (settingsStore.debugEnabled()) {
  <hlm-accordion type="multiple">
    <hlm-accordion-item>
      <hlm-accordion-trigger>Form : {{ form().valid }}</hlm-accordion-trigger>
      <hlm-accordion-content>
        <pre>{{ form().value | json }}</pre>
        <pre>{{ form().errors | json }}</pre>
      </hlm-accordion-content>
    </hlm-accordion-item>
  </hlm-accordion>
}
