<h1 mat-dialog-title>Token Form</h1>
<mat-dialog-content>
  <br />
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" required minlength="3" maxlength="30" autocomplete="off" />
      <mat-hint align="end">{{ form.controls['name'].value?.length || 0 }}/30</mat-hint>
      <mat-error *ngIf="form.controls['name'].errors as errors">{{ fe.errors(errors) }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
