<mat-toolbar class="border-b">
  <mat-toolbar-row>
    Visual Editor
    <span class="spacer"></span>
    <div class="actions">
      <button mat-flat-button [disabled]="!form.valid" (click)="save()">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

@if (isLoading()) {
  <mat-progress-bar mode="query" />
}

<div class="my-3">
  <mat-toolbar style="background: transparent">
    <mat-toolbar-row>
      Preview URL's
      <span class="spacer"></span>
      <div class="actions">
        <button mat-stroked-button (click)="addEnvironment()">
          <mat-icon>add</mat-icon>
          Add Environment
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <form [formGroup]="form">
    <mat-accordion cdkDropList multi formArrayName="environments" (cdkDropListDropped)="environmentDropDrop($event)">
      @for (option of environments?.controls; track option; let idx = $index) {
        <mat-expansion-panel cdkDrag [formGroupName]="idx" expanded [class.invalid]="option.invalid">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon cdkDragHandle>drag_indicator</mat-icon>
              Environment {{ idx + 1 }}
              <button mat-icon-button (click)="removeEnvironment(idx)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field style="padding-right: 10px">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" autocomplete="off" placeholder="Production/Testing/Development" />
            <mat-hint align="end">{{ option.value.name?.length || 0 }}/30</mat-hint>
            @if (option.controls['name']?.errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field style="width: calc(100% - 360px)">
            <mat-label>URL</mat-label>
            <input matInput type="text" formControlName="url" autocomplete="off" placeholder="https://localess.io/api/url" />
            <mat-hint align="end">{{ option.value.url?.length || 0 }}/250</mat-hint>
            @if (option.controls['url']?.errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </form>
</div>
@if (settingsStore.debugEnabled()) {
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form : {{ form?.valid }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ form.value | json }}</pre>
      <pre>{{ form.errors | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
}
