<h1 mat-dialog-title>Translation</h1>
<mat-dialog-content>
  <form [formGroup]="form" class="step-container">
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput #description maxlength="250"
                class="cdk-textarea-autosize"
                formControlName="description"></textarea>
      <mat-hint align="end">{{description.value?.length || 0}}/250</mat-hint>
      <mat-error *ngIf="form.controls['description'].errors as errors">{{fe.errors(errors)}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" >
      <mat-chip-grid #chipList attr.aria-label="Select Label">
        <mat-chip-row
          *ngFor="let label of form.controls['labels'].value"
          selectable
          removable
          (removed)="removeLabel(label)">
          {{label}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
        <input matInput placeholder="Add Label..."
               [matChipInputFor]="chipList"
               matChipInputAddOnBlur
               (matChipInputTokenEnd)="addLabel($event)">
      </mat-chip-grid>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">
    Save
  </button>
</mat-dialog-actions>
