<div class="flex justify-end p-2">
  <button hlmBtn (click)="openAddDialog()">
    <ng-icon hlm size="sm" name="lucidePlus" />
    Add Space
  </button>
</div>
@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}
<div class="mx-auto mt-3 px-2">
  <ll-filter-toolbar class="mb-3" (filterChange)="onFilterChange($event)" />
  <div llTableContainer>
    <table ll-table [dataSource]="dataSource" llTableSort>
      <ng-container llColumnDef="id">
        <th llHeaderCell *llHeaderCellDef llTableSortHeader="id">ID</th>
        <td llCell *llCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container llColumnDef="name">
        <th llHeaderCell *llHeaderCellDef llTableSortHeader="name">Name</th>
        <td llCell *llCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container llColumnDef="updatedAt">
        <th llHeaderCell *llHeaderCellDef llTableSortHeader="updatedAt">Updated At</th>
        <td llCell *llCellDef="let element" [hlmTooltip]="element.updatedAt?.toDate() | date: 'medium'">
          {{ element.updatedAt?.toDate() | date: 'mediumDate' }}
        </td>
      </ng-container>
      <ng-container llColumnDef="actions">
        <th llHeaderCell *llHeaderCellDef>Actions</th>
        <td llCell *llCellDef="let element">
          <button
            hlmBtn
            size="icon"
            variant="ghost"
            [cdkCopyToClipboard]="element.id"
            (cdkCopyToClipboardCopied)="copied()"
            hlmTooltip="Copy Space ID">
            <ng-icon hlm size="sm" name="lucideCopy" />
          </button>
          <button hlmBtn size="icon" variant="ghost" (click)="openEditDialog(element)" hlmTooltip="Edit">
            <ng-icon hlm size="sm" name="lucidePencil" />
          </button>
          <button hlmBtn size="icon" variant="ghost" (click)="openDeleteDialog(element)" hlmTooltip="Delete">
            <ng-icon hlm size="sm" name="lucideTrash" />
          </button>
        </td>
      </ng-container>
      <tr ll-header-row *llHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr ll-row *llRowDef="let row; columns: displayedColumns"></tr>
      <tr *llNoDataRow>
        <td [attr.colspan]="displayedColumns.length">No spaces yet.</td>
      </tr>
    </table>
  </div>

  <ll-paginator [sticky]="true" [length]="dataSource.filteredData().length" />
</div>
