@if (component(); as field) {
  <div hlmField class="gap-2">
    <label hlmFieldLabel [for]="'schema-field-' + field.name">
      {{ field.displayName || field.name }}
      @if (field.description) {
        <ng-icon hlm size="sm" name="lucideInfo" [hlmTooltip]="field.description" />
      }
      @if (field.translatable) {
        <ng-icon hlm size="sm" name="lucideLanguages" hlmTooltip="The field is translatable" />
      }
    </label>
    <div hlmInputGroup>
      <textarea
        #mdText
        hlmInputGroupTextarea
        type="text"
        [id]="'schema-field-' + field.name"
        [formControl]="form()"
        [placeholder]="default() ?? ''"
        [attr.minlength]="field.minLength"
        [attr.maxlength]="field.maxLength"
        [class.hidden]="preview()"
        autocomplete="off">
      </textarea>
      @if (preview()) {
        <markdown [data]="mdText.value" class="block w-full px-3 py-3"></markdown>
      }
      <div hlmInputGroupAddon align="block-start" class="border-b flex flex-wrap">
        <button hlmInputGroupButton size="icon-xs" hlmTooltip="View Markdown Rendered Preview" (click)="preview.set(!preview())">
          <ng-icon [name]="preview() ? 'lucideEyeOff' : 'lucideEye'" />
        </button>
        <hlm-separator orientation="vertical" class="h-4!" />
      </div>
    </div>
    @if (field.maxLength) {
      <p hlmFieldDescription class="content-end">{{ field.maxLength - (form().value?.length || 0) }} characters left</p>
    }
    @if (form().errors; as errors) {
      <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
    }
  </div>
}
