.selected {
  //--mat-button-toggle-selected-state-background-color #dae2f9
  background-color: var(--mat-sys-secondary-container);
}

.overlay {
  height: calc(100vh - 165px);
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}
