@if (selectedSpace(); as space) {
  <div class="p-2 flex items-center justify-end gap-2">
    <hlm-toggle-group type="single" variant="outline" [value]="settingsStore.translationLayout()">
      <button
        hlmToggleGroupItem
        value="list"
        aria-label="List Layout"
        hlmTooltip="List Layout"
        (click)="settingsStore.setTranslationLayout('list')">
        <ng-icon hlm size="sm" name="lucideLayoutList" />
      </button>
      <button
        hlmToggleGroupItem
        value="tree"
        aria-label="Tree Layout"
        hlmTooltip="Tree Layout"
        (click)="settingsStore.setTranslationLayout('tree')">
        <ng-icon hlm size="sm" name="lucideListTree" />
      </button>
    </hlm-toggle-group>
    @if ('TRANSLATION_CREATE' | canUserPerform | async) {
      <button hlmBtn (click)="openAddDialog()">
        <ng-icon hlm size="sm" name="lucidePlus" />
        Add Translation
      </button>
    }
    @if ('TRANSLATION_PUBLISH' | canUserPerform | async) {
      <button
        hlmBtn
        variant="outline"
        hlmTooltip="Publish Translations to be available via API call"
        [disabled]="isPublishLoading()"
        (click)="publish()">
        @if (isPublishLoading()) {
          <hlm-spinner class="size-4" />
        } @else {
          <ng-icon hlm size="sm" name="lucideUpload" />
        }
        Publish
      </button>
    }
    <button hlmBtn size="icon" variant="ghost" hlmTooltip="Hisotry" (click)="showHistory.set(!showHistory())">
      <ng-icon hlm size="sm" name="lucideHistory" />
    </button>
    <button hlmBtn size="icon" variant="ghost" [hlmDropdownMenuTrigger]="extraMenu">
      <ng-icon hlm size="sm" name="lucideEllipsisVertical" />
    </button>
    <ng-template #extraMenu>
      <hlm-dropdown-menu class="w-60">
        @if (['TRANSLATION_IMPORT', 'TRANSLATION_EXPORT'] | canUserPerform | async) {
          <hlm-dropdown-menu-group>
            @if ('TRANSLATION_IMPORT' | canUserPerform | async) {
              <button hlmDropdownMenuItem (click)="openImportDialog(space.locales)">
                <ng-icon hlm size="sm" name="lucideUploadCloud" />
                Import
              </button>
            }
            @if ('TRANSLATION_EXPORT' | canUserPerform | async) {
              <button hlmDropdownMenuItem (click)="openExportDialog(space.locales)">
                <ng-icon hlm size="sm" name="lucideCloudDownload" />
                Export
              </button>
            }
          </hlm-dropdown-menu-group>
          <hlm-dropdown-menu-separator />
        }

        <hlm-dropdown-menu-group>
          @for (locale of space.locales; track locale.id) {
            <button hlmDropdownMenuItem (click)="openDraftV1InNewTab(locale.id)">
              <ng-icon hlm size="sm" name="lucidePencil" />
              <span>Draft {{ locale.name }} JSON</span>
              <ng-icon hlm size="sm" name="lucideExternalLink" class="ml-auto" />
            </button>
          }
        </hlm-dropdown-menu-group>
        <hlm-dropdown-menu-separator />
        <hlm-dropdown-menu-group>
          @for (locale of space.locales; track locale.id) {
            <button hlmDropdownMenuItem (click)="openPublishedV1InNewTab(locale.id)">
              <ng-icon hlm size="sm" name="lucideEarth" />
              <span>Published {{ locale.name }} JSON</span>
              <ng-icon hlm size="sm" name="lucideExternalLink" class="ml-auto" />
            </button>
          }
        </hlm-dropdown-menu-group>
      </hlm-dropdown-menu>
    </ng-template>
  </div>
  @if (isLoading()) {
    <hlm-progress class="h-0.5">
      <hlm-progress-indicator />
    </hlm-progress>
  } @else {
    <div class="px-2 mx-auto mt-3">
      <form [formGroup]="filterForm">
        <fieldset hlmFieldSet>
          <div hlmFieldGroup class="grid grid-cols-4 gap-2 mb-3">
            <div hlmField>
              <hlm-select formControlName="locale" placeholder="Search Locale">
                <hlm-select-trigger class="w-full">
                  <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                  @for (locale of space.locales; track locale.id) {
                    <hlm-option [value]="locale.id">{{ locale.name }}</hlm-option>
                  }
                </hlm-select-content>
              </hlm-select>
            </div>
            <div hlmInputGroup>
              <input hlmInputGroupInput placeholder="Search..." formControlName="search" type="search" />
              <div hlmInputGroupAddon>
                <ng-icon hlm size="sm" name="lucideSearch" />
              </div>
            </div>
            <div hlmField class="col-span-2 flex flex-row w-fit">
              <hlm-popover sideOffset="5">
                <div hlmButtonGroup>
                  <button class="justify-between" hlmPopoverTrigger hlmBtn variant="outline">
                    <ng-icon hlm size="sm" name="lucideCirclePlus" class="opacity-50" />
                    Status
                  </button>
                  @let states = filterForm.controls.states.value;
                  @if (states && states.length > 0) {
                    <div class="flex items-center gap-1 px-2 border shadow-xs rounded-md">
                      <span hlmBadge variant="secondary">{{ states.length }}</span>
                    </div>
                  }
                </div>
                <hlm-command *hlmPopoverPortal="let ctx" hlmPopoverContent class="w-[200px] p-0">
                  <hlm-command-list>
                    <hlm-command-group>
                      @for (state of allStates; track state) {
                        <button hlm-command-item [value]="state" (selected)="selectState(state)">
                          <span>{{ stateTranslations[state] }}</span>
                          <ng-icon
                            hlm
                            size="sm"
                            class="ml-auto"
                            [class.opacity-0]="!filterForm.value.states?.includes(state)"
                            name="lucideCheck"
                            hlmCommandIcon />
                        </button>
                      }
                    </hlm-command-group>
                  </hlm-command-list>
                </hlm-command>
              </hlm-popover>
              <hlm-popover sideOffset="5">
                <div hlmButtonGroup>
                  <button class="justify-between" hlmPopoverTrigger hlmBtn variant="outline">
                    <ng-icon hlm size="sm" name="lucideCirclePlus" class="opacity-50" />
                    Labels
                  </button>
                  @let labels = filterForm.controls.labels.value;
                  @if (labels && labels.length > 0) {
                    <div class="flex items-center gap-1 px-2 border shadow-xs rounded-md">
                      <span hlmBadge variant="secondary">{{ labels.length }}</span>
                    </div>
                  }
                </div>
                <hlm-command *hlmPopoverPortal="let ctx" hlmPopoverContent class="w-[200px] p-0">
                  <hlm-command-input placeholder="Search label..." />
                  <div *hlmCommandEmptyState hlmCommandEmpty>No results found.</div>
                  <hlm-command-list>
                    <hlm-command-group>
                      @for (label of allLabels(); track label) {
                        <button hlm-command-item [value]="label" (selected)="selectLabel(label)">
                          <span>{{ label }}</span>
                          <ng-icon
                            hlm
                            size="sm"
                            class="ml-auto"
                            [class.opacity-0]="!filterForm.value.labels?.includes(label)"
                            name="lucideCheck"
                            hlmCommandIcon />
                        </button>
                      }
                    </hlm-command-group>
                  </hlm-command-list>
                </hlm-command>
              </hlm-popover>
              @if (isFormChanged()) {
                <button hlmBtn variant="outline" class="!w-fit" (click)="filterReset()">Reset</button>
              }
            </div>
          </div>
        </fieldset>
      </form>
      <div class="grid grid-cols-4 gap-2">
        @if (settingsStore.translationLayout() === 'list') {
          <cdk-virtual-scroll-viewport [itemSize]="55" class="overlay border">
            <div
              role="listitem"
              hlmItem
              class="p-2 rounded-b-none border-b-border cursor-pointer"
              *cdkVirtualFor="let translation of translationsFiltered()"
              [variant]="translation.id === selectedTranslation()?.id ? 'muted' : 'default'"
              (click)="selectTranslation(translation)"
              (keyup.enter)="selectTranslation(translation)">
              <div hlmItemContent>
                <div hlmItemTitle class="break-all">
                  @if (isLocaleUpdateLoading() && translationUpdateId() === translation.id) {
                    <hlm-spinner class="size-6" />
                  } @else {
                    @switch (identifyStatus(translation)) {
                      @case ('TRANSLATED') {
                        <ll-status mode="online" hlmTooltip="Translated" />
                      }
                      @case ('PARTIALLY_TRANSLATED') {
                        <ll-status mode="away" hlmTooltip="Partially Translated" />
                      }
                      @case ('UNTRANSLATED') {
                        <ll-status mode="offline" hlmTooltip="Untranslated" />
                      }
                    }
                  }
                  {{ translation.id }}
                </div>
                <p hlmItemDescription class="break-all">
                  @switch (translation.type) {
                    @case ('STRING') {
                      <ll-translation-string-view [value]="translation.locales[filterForm.controls.locale.value || '']" />
                    }
                    @case ('PLURAL') {
                      <ll-translation-plural-view [value]="translation.locales[filterForm.controls.locale.value || '']" />
                    }
                    @case ('ARRAY') {
                      <ll-translation-array-view [value]="translation.locales[filterForm.controls.locale.value || '']" />
                    }
                  }
                </p>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        } @else {
          <div class="overlay overflow-auto border">
            <mat-tree
              #tree
              class="bg-background!"
              [dataSource]="translationTreeFiltered()"
              [expansionKey]="expansionKey"
              [childrenAccessor]="childrenAccessor"
              [trackBy]="trackBy">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node
                *matTreeNodeDef="let node"
                matTreeNodePadding
                class="cursor-pointer"
                [class.selected]="node.key === selectedTranslation()?.id">
                @if (translationMap().get(node.key); as translation) {
                  <div aria-hidden="true" class="flex items-center gap-x-3" (click)="selectTranslation(translation)">
                    @if (isLocaleUpdateLoading() && translationUpdateId() === node.key) {
                      <hlm-spinner class="size-4" />
                    } @else {
                      @switch (identifyStatus(translation)) {
                        @case ('TRANSLATED') {
                          <ll-status mode="online" hlmTooltip="Translated" />
                        }
                        @case ('PARTIALLY_TRANSLATED') {
                          <ll-status mode="away" hlmTooltip="Partially Translated" />
                        }
                        @case ('UNTRANSLATED') {
                          <ll-status mode="offline" hlmTooltip="Untranslated" />
                        }
                      }
                    }
                    <div>{{ node.name }}</div>
                  </div>
                }
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-tree-node
                class="cursor-pointer"
                *matTreeNodeDef="let node; when: hasChild"
                matTreeNodePadding
                matTreeNodeToggle
                [cdkTreeNodeTypeaheadLabel]="node.name">
                <button hlmBtn size="icon" variant="ghost" matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                  <ng-icon hlm [name]="tree.isExpanded(node) ? 'lucideChevronDown' : 'lucideChevronRight'" />
                </button>
                {{ node.name }}
              </mat-tree-node>
            </mat-tree>
          </div>
        }
        <div class="col-span-2 overlay border">
          @if (selectedTranslation(); as translation) {
            <div class="flex flex-col h-full">
              <div class="p-2">
                <fieldset hlmFieldSet>
                  <div hlmFieldGroup class="flex justify-center flex-row gap-2">
                    <div hlmField>
                      <hlm-select [(value)]="selectedSourceLocale" [compareWith]="compareLocale" placeholder="Source Locale">
                        <hlm-select-trigger class="w-full">
                          <hlm-select-value />
                        </hlm-select-trigger>
                        <hlm-select-content>
                          @for (locale of space.locales; track locale.id) {
                            <hlm-option [value]="locale" se>{{ locale.name }}</hlm-option>
                          }
                        </hlm-select-content>
                      </hlm-select>
                    </div>
                    <button hlmBtn size="icon" variant="ghost">
                      <ng-icon hlm size="sm" name="lucideArrowRight" />
                    </button>
                    <div hlmField>
                      <hlm-select [(value)]="selectedTargetLocale" [compareWith]="compareLocale" placeholder="Target Locale">
                        <hlm-select-trigger class="w-full">
                          <hlm-select-value />
                        </hlm-select-trigger>
                        <hlm-select-content>
                          @for (locale of space.locales; track locale.id) {
                            <hlm-option [value]="locale">{{ locale.name }}</hlm-option>
                          }
                        </hlm-select-content>
                      </hlm-select>
                    </div>
                    <button
                      hlmBtn
                      size="icon"
                      variant="ghost"
                      (click)="translate()"
                      hlmTooltip="Translate"
                      [disabled]="!isLocaleTranslatable(selectedSourceLocale(), selectedTargetLocale())">
                      @if (isTranslateLoading()) {
                        <hlm-spinner class="size-4" />
                      } @else {
                        <ng-icon hlm size="sm" name="lucideLanguages" />
                      }
                    </button>
                  </div>
                </fieldset>
              </div>
              <div class="flex items-center">
                <div aria-hidden="true" class="w-full border-t"></div>
                <div class="relative flex justify-center">
                  <span class="bg-background px-2 text-sm">{{ selectedSourceLocale().name }}</span>
                </div>
                <div aria-hidden="true" class="w-full border-t"></div>
              </div>
              <div class="p-2 mb-auto wrap-break-word">
                @switch (translation.type) {
                  @case ('STRING') {
                    <ll-translation-string-view [enableHighlighting]="true" [value]="translation.locales[selectedSourceLocale().id]" />
                  }
                  @case ('PLURAL') {
                    <ll-translation-plural-view [value]="translation.locales[selectedSourceLocale().id]" />
                  }
                  @case ('ARRAY') {
                    <ll-translation-array-view [value]="translation.locales[selectedSourceLocale().id]" />
                  }
                }
              </div>

              @if ('TRANSLATION_UPDATE' | canUserPerform | async) {
                <div class="flex items-center">
                  <div aria-hidden="true" class="w-full border-t"></div>
                  <div class="relative flex justify-center">
                    <span class="bg-background px-2 text-sm">{{ selectedTargetLocale().name }}</span>
                  </div>
                  <div aria-hidden="true" class="w-full border-t"></div>
                </div>
                <div class="p-2">
                  @switch (translation.type) {
                    @case ('STRING') {
                      <ll-translation-string-edit [enableHighlighting]="true" [(value)]="selectedTranslationLocaleValue" />
                    }
                    @case ('PLURAL') {
                      <ll-translation-plural-edit
                        [value]="translation.locales[selectedTargetLocale().id]"
                        (valueChange)="selectedTranslationLocaleValue.set($event)" />
                    }
                    @case ('ARRAY') {
                      <ll-translation-array-edit
                        [value]="translation.locales[selectedTargetLocale().id]"
                        (valueChange)="selectedTranslationLocaleValue.set($event)" />
                    }
                  }
                </div>
                <hlm-separator />
                <div class="p-2 flex flex-row-reverse">
                  <button
                    hlmBtn
                    variant="outline"
                    [disabled]="
                      isLocaleUpdateLoading() || translation.locales[selectedTargetLocale().id] === selectedTranslationLocaleValue()
                    "
                    (click)="updateLocale(translation, selectedTargetLocale(), selectedTranslationLocaleValue()!)">
                    @if (isLocaleUpdateLoading()) {
                      <hlm-spinner class="size-4" />
                    } @else {
                      <ng-icon hlm size="sm" name="lucideSave" />
                    }
                    Save
                  </button>
                </div>
              }
            </div>
          }
        </div>
        <div class="overlay border break-all">
          @if (selectedTranslation(); as translation) {
            <div>
              <div class="p-2 align-items-start">
                @if ('TRANSLATION_UPDATE' | canUserPerform | async) {
                  <button hlmBtn size="icon" variant="ghost" hlmTooltip="Edit ID" (click)="openEditIdDialog(translation)">
                    <ng-icon hlm size="sm" name="lucideReplace" />
                  </button>
                  <button hlmBtn size="icon" variant="ghost" hlmTooltip="Edit" (click)="openEditDialog(translation)">
                    <ng-icon hlm size="sm" name="lucidePencil" />
                  </button>
                }
                @if ('TRANSLATION_DELETE' | canUserPerform | async) {
                  <button hlmBtn size="icon" variant="ghost" hlmTooltip="Delete" (click)="openDeleteDialog(translation)">
                    <ng-icon hlm size="sm" name="lucideTrash" />
                  </button>
                }
              </div>
              <hlm-separator />
              <ul role="list" class="divide-y">
                <li role="listitem" class="flex p-2 relative items-center">
                  <div class="min-w-0 flex-auto">
                    <div class="flex items-center gap-x-3">
                      <div class="text-sm font-semibold leading-6 break-all">ID</div>
                    </div>
                    <div class="flex items-center gap-x-2.5 text-xs leading-5 break-words">
                      <code>{{ translation.id }}</code>
                      <button hlmBtn size="icon" variant="ghost" hlmTooltip="Copy ID" [cdkCopyToClipboard]="translation.id">
                        <ng-icon hlm size="sm" name="lucideCopy" />
                      </button>
                    </div>
                  </div>
                </li>
                <li role="listitem" class="flex p-2 relative items-center">
                  <div class="min-w-0 flex-auto">
                    <div class="flex items-center gap-x-3">
                      <div class="text-sm font-semibold leading-6 break-all"> Status</div>
                    </div>
                    <div class="flex items-center gap-x-2.5 text-xs leading-5 break-words">
                      {{ identifyStatus(translation) }}
                    </div>
                  </div>
                </li>
                <li role="listitem" class="flex p-2 relative items-center">
                  <div class="min-w-0 flex-auto">
                    <div class="flex items-center gap-x-3">
                      <div class="text-sm font-semibold leading-6 break-all"> Description</div>
                    </div>
                    <div class="flex items-center gap-x-2.5 text-xs leading-5 break-words">
                      @if (translation.description) {
                        {{ translation.description }}
                      } @else {
                        No description available.
                      }
                    </div>
                  </div>
                </li>
                <li role="listitem" class="flex p-2 relative items-center">
                  <div class="min-w-0 flex-auto">
                    <div class="flex items-center gap-x-3">
                      <div class="text-sm font-semibold leading-6 break-all"> Labels</div>
                    </div>
                    <div class="flex items-center gap-2 text-xs leading-5 break-words">
                      @for (label of translation.labels; track label) {
                        <span hlmBadge [variant]="filterForm.controls.labels.value?.includes(label) ? 'secondary' : 'outline'">
                          {{ label }}
                        </span>
                      } @empty {
                        No label available.
                      }
                    </div>
                  </div>
                </li>
                <li role="listitem" class="flex p-2 relative items-center">
                  <div class="min-w-0 flex-auto">
                    <div class="flex items-center gap-x-3">
                      <div class="text-sm font-semibold leading-6 break-all"> Created At</div>
                    </div>
                    <div class="flex items-center gap-x-2.5 text-xs leading-5 break-words">
                      {{ translation.createdAt?.toMillis() | date: 'medium' }}
                    </div>
                  </div>
                </li>
                <li role="listitem" class="flex p-2 relative items-center">
                  <div class="min-w-0 flex-auto">
                    <div class="flex items-center gap-x-3">
                      <div class="text-sm font-semibold leading-6 break-all"> Updated At</div>
                    </div>
                    <div class="flex items-center gap-x-2.5 text-xs leading-5 break-words">
                      {{ translation.updatedAt?.toMillis() | date: 'medium' }}
                    </div>
                  </div>
                </li>
                <li role="listitem" class="flex p-2 relative items-center">
                  <div class="min-w-0 flex-auto">
                    <div class="flex items-center gap-x-3">
                      <div class="text-sm font-semibold leading-6 break-all"> Updated By</div>
                    </div>
                    <div
                      class="flex items-center gap-x-2.5 text-xs leading-5 break-words"
                      [hlmTooltip]="translation.updatedBy?.email || 'Unknown'">
                      {{ translation.updatedBy?.name || 'Unknown' }}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          }
        </div>
      </div>
    </div>
  }
  <hlm-sheet side="right" [state]="showHistory() ? 'open' : 'closed'" (closed)="showHistory.set(false)">
    <hlm-sheet-content *hlmSheetPortal="let ctx">
      <hlm-sheet-header>
        <h3 hlmSheetTitle>History</h3>
      </hlm-sheet-header>
      <ng-scrollbar hlm>
        @if (showHistory()) {
          <div class="flow-root m-4">
            <ul role="list">
              @for (item of history$ | async; track item.id; let isLast = $last) {
                <li>
                  <div class="relative pb-5">
                    <div class="relative flex space-x-2">
                      @switch (item.type) {
                        @case ('PUBLISHED') {
                          <div class="px-2">
                            <ng-icon hlm size="sm" name="lucideUpload" />
                          </div>
                          <div class="flex min-w-0 flex-1 justify-between space-x-4">
                            <div>
                              <p class="text-sm">
                                Published by
                                <span class="font-medium" [hlmTooltip]="item.email || 'Unknown'">
                                  {{ item.name || 'Unknown' }}
                                </span>
                              </p>
                            </div>
                            <div class="whitespace-nowrap text-right text-sm">
                              <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                            </div>
                          </div>
                        }
                        @case ('CREATE') {
                          <div class="px-2">
                            <ng-icon hlm size="sm" name="lucidePlus" />
                          </div>
                          <div class="flex min-w-0 flex-1 justify-between space-x-4">
                            <div>
                              <p class="text-sm">
                                Add <span class="font-medium break-all">{{ item.key }}</span> by
                                <span class="font-medium" [hlmTooltip]="item.email || 'Unknown'">
                                  {{ item.name || 'Unknown' }}
                                </span>
                              </p>
                            </div>
                            <div class="whitespace-nowrap text-right text-sm">
                              <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                            </div>
                          </div>
                        }
                        @case ('UPDATE') {
                          <div class="px-2">
                            <ng-icon hlm size="sm" name="lucidePencil" />
                          </div>
                          <div class="flex min-w-0 flex-1 justify-between space-x-4">
                            <div>
                              <p class="text-sm">
                                Edit <span class="font-medium break-all">{{ item.key }}</span> by
                                <span class="font-medium" [hlmTooltip]="item.email || 'Unknown'">
                                  {{ item.name || 'Unknown' }}
                                </span>
                              </p>
                            </div>
                            <div class="whitespace-nowrap text-right text-sm">
                              <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                            </div>
                          </div>
                        }
                        @case ('DELETE') {
                          <div class="px-2">
                            <ng-icon hlm size="sm" name="lucideTrash" />
                          </div>
                          <div class="flex min-w-0 flex-1 justify-between space-x-4">
                            <div>
                              <p class="text-sm">
                                Delete <span class="font-medium break-all">{{ item.key }}</span> by
                                <span class="font-medium" [hlmTooltip]="item.email || 'Unknown'">
                                  {{ item.name || 'Unknown' }}
                                </span>
                              </p>
                            </div>
                            <div class="whitespace-nowrap text-right text-sm">
                              <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                            </div>
                          </div>
                        }
                        @default {
                          <div class="px-2">
                            <ng-icon hlm size="sm" name="lucideCircleQuestionMark" />
                          </div>
                          <div class="flex min-w-0 flex-1 justify-between space-x-4">
                            <div>
                              <p class="text-sm">Unknown</p>
                            </div>
                            <div class="whitespace-nowrap text-right text-sm">
                              <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                            </div>
                          </div>
                        }
                      }
                    </div>
                  </div>
                </li>
              } @empty {
                No Records found
              }
            </ul>
          </div>
        }
      </ng-scrollbar>
    </hlm-sheet-content>
  </hlm-sheet>
}
