<h2 mat-dialog-title>Contents</h2>
@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}
<nav hlmBreadcrumb class="px-6 py-2">
  <ol hlmBreadcrumbList>
    @for (pathItem of contentPath; track pathItem.fullSlug; let isLast = $last; let isFirst = $first) {
      @if (!isFirst) {
        <li hlmBreadcrumbSeparator></li>
      }
      <li hlmBreadcrumbItem>
        @if (isFirst) {
          <button hlmBreadcrumbButton (click)="navigateToSlug(pathItem)">
            <ng-icon name="lucideFolderRoot" />
          </button>
        } @else if (isLast) {
          <span hlmBreadcrumbPage>{{ pathItem.name }}</span>
        } @else {
          <button hlmBreadcrumbButton (click)="navigateToSlug(pathItem)"> {{ pathItem.name }} </button>
        }
      </li>
    }
  </ol>
</nav>
<mat-dialog-content>
  <div llTableContainer>
    <table ll-table [dataSource]="dataSource" llTableSort>
      <!-- Checkbox Column -->
      <ng-container llColumnDef="select">
        <th llHeaderCell *llHeaderCellDef>#</th>
        <td llCell *llCellDef="let row">
          @if (row.kind === 'DOCUMENT') {
            <hlm-checkbox
              (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)"
              (checkedChange)="selection.toggle(row)" />
          }
        </td>
      </ng-container>
      <ng-container llColumnDef="status">
        <th llHeaderCell *llHeaderCellDef>Status</th>
        <td llCell *llCellDef="let element">
          @switch (element.kind) {
            @case ('DOCUMENT') {
              <ll-document-status [updatedAt]="element.updatedAt.seconds" [publishedAt]="element.publishedAt?.seconds" />
            }
            @case ('FOLDER') {
              <ng-icon hlm name="lucideFolder" />
            }
          }
        </td>
      </ng-container>
      <ng-container llColumnDef="name">
        <th llHeaderCell *llHeaderCellDef>Name</th>
        <td llCell *llCellDef="let element">
          <div>
            <div class="line-clamp-1">{{ element.name }}</div>
            <div class="text-muted-foreground line-clamp-1">#{{ element.slug }}</div>
          </div>
        </td>
      </ng-container>
      <ng-container llColumnDef="schema">
        <th llHeaderCell *llHeaderCellDef>Schema</th>
        <td llCell *llCellDef="let element">
          @if (element.kind === 'DOCUMENT') {
            @if (schemasMapById().get(element.schema); as schema) {
              {{ schema.displayName || schema.id }}
            } @else {
              unknown...
            }
          }
        </td>
      </ng-container>
      <ng-container llColumnDef="updatedAt">
        <th llHeaderCell *llHeaderCellDef>Updated At</th>
        <td llCell *llCellDef="let element" [hlmTooltip]="element.updatedAt?.toDate() | date: 'medium'">
          {{ element.updatedAt?.toDate() | date: 'mediumDate' }}
        </td>
      </ng-container>

      <tr ll-header-row *llHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr ll-row *llRowDef="let row; columns: displayedColumns" class="cursor-pointer" (click)="onRowSelect(row)"></tr>
      <tr *llNoDataRow>
        <td [attr.colspan]="displayedColumns.length">No content yet.</td>
      </tr>
    </table>
  </div>
  <ll-paginator [sticky]="true" [length]="dataSource.filteredData().length" />
</mat-dialog-content>
<mat-dialog-actions align="end" class="flex gap-2">
  <button hlmBtn variant="ghost" [disabled]="selection.isEmpty()" (click)="selection.clear()"
    >Deselect All ({{ selection.selected.length }})</button
  >
  <button hlmBtn variant="ghost" [mat-dialog-close]="undefined">Close</button>
  <button hlmBtn [mat-dialog-close]="selection.selected" [disabled]="selection.isEmpty()">
    @if (selection.selected.length > 1) {
      Add Selected Documents ({{ selection.selected.length }})
    } @else {
      Add Selected Document
    }
  </button>
</mat-dialog-actions>
