mat-dialog-content {
  padding-top: 0 !important;
  padding-bottom: 0.25rem !important; /* 4px */
}

th,
td {
  &.ll-column-select {
    width: 50px;
    max-width: 50px;
  }
  &.ll-column-status {
    width: 60px;
    max-width: 60px;
  }
  &.ll-column-schema {
    width: 220px;
    max-width: 220px;
  }
  &.ll-column-updatedAt {
    width: 120px;
    max-width: 120px;
  }
}
