<h1 mat-dialog-title>Add Document</h1>
<mat-dialog-content>
  <br />
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" maxlength="50" autocomplete="off" />
      <mat-hint align="end">{{ form.controls['name'].value?.length || 0 }}/50</mat-hint>
      <mat-error *ngIf="form.controls['name'].errors as errors">{{ fe.errors(errors) }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Slug</mat-label>
      <input matInput type="text" formControlName="slug" maxlength="50" autocomplete="off" />
      <button mat-icon-button matSuffix (click)="normalizeSlug()">
        <mat-icon>auto_fix_normal</mat-icon>
      </button>
      <mat-hint align="end">{{ form.controls['slug'].value?.length || 0 }}/50</mat-hint>
      <mat-error *ngIf="form.controls['slug'].errors as errors">{{ fe.errors(errors) }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Schema</mat-label>
      <mat-select formControlName="schema" required>
        <mat-option *ngFor="let schema of data.schemas" [value]="schema.id"> {{ schema.displayName || schema.name }} </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['schema'].errors as errors">{{ fe.errors(errors) }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
<!--{{form.value | json}}-->
