<div class="container">
  <div class="row"></div>
  <div class="row align-items-start">
    <div class="col"></div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <h1>First Setup</h1>
      </div>
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required autocomplete="off" />
          <mat-hint>Minimum 6 character</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Display Name</mat-label>
          <input matInput type="text" formControlName="displayName" autocomplete="off" />
        </mat-form-field>

        <div class="d-flex justify-content-center">
          <button mat-raised-button color="primary" (click)="setup()" [disabled]="!form.valid">Setup</button>
          <div class="px-2"></div>
          <button mat-raised-button color="accent" (click)="form.reset()">Reset</button>
        </div>
        <div class="py-2"></div>
        <div class="d-flex justify-content-center">
          <button mat-stroked-button routerLink="/features">
            Back to Login
            <ng-container *ngIf="backCounter !== -1">({{ backCounter }})</ng-container>
          </button>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
  <div class="row"></div>
</div>
