<h1 mat-dialog-title>Translations Import</h1>
<mat-dialog-content>
  <form [formGroup]="form" class="step-container">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="kind" required (selectionChange)="onKindSelectionChange()">
        <mat-option *ngFor="let kind of exportKinds" [value]="kind.key">
          {{kind.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="form.value.kind === 'FLAT'">
      <mat-label>Type</mat-label>
      <mat-select formControlName="locale" required>
        <mat-option *ngFor="let locale of data.locales" [value]="locale.id">
          {{locale.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="onlyNewKeys">Add only new keys ?</mat-checkbox>
    <br/>
    <button mat-stroked-button (click)="fileInput.click()">
      <mat-icon>upload_file</mat-icon>
      Upload File
    </button>
    {{fileName}}

  </form>
  <mat-error *ngIf="fileWrong">The selected file does not comply with import type.</mat-error>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">
    <mat-icon>cloud_upload</mat-icon>
    Import
    <ng-container *ngIf="contentFieldsCount > 0">({{contentFieldsCount}})</ng-container>
  </button>
</mat-dialog-actions>
<input hidden type="file" accept=".json" #fileInput (change)="onFileChange($event)"/>
