table {
  width: 100%;
}

mat-header-cell {
  &.mat-column-id {
    max-width: 250px;
  }

  &.mat-column-createdAt {
    max-width: 220px;
  }

  &.mat-column-updatedAt {
    max-width: 220px;
  }

  &.mat-column-actions {
    max-width: 140px;
  }
}

mat-cell {
  &.mat-column-id {
    max-width: 250px;
  }

  &.mat-column-createdAt {
    max-width: 220px;
  }

  &.mat-column-updatedAt {
    max-width: 220px;
  }

  &.mat-column-actions {
    max-width: 140px;
  }
}
