@use '@angular/material' as mat;

@import '../../../../../styles/styles-variables';

mat-form-field {
  width: 100%;
}

.badge {
  @apply inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10
}

.title {
  font: var(--sys-title-large);
}

.subtitle {
  font: var(--sys-title-medium);
  color: var(--sys-secondary);
}

.field-id {
  color: var(--sys-secondary);
}
