<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title">{{ entity?.displayName }}</span>
    &nbsp;
    <span class="subtitle">#{{ entity?.id }}</span>
    <span class="spacer"></span>
    @if ('SCHEMA_UPDATE' | canUserPerform | async) {
      <button mat-stroked-button color="primary" matTooltip="Save the changes." [disabled]="!form.valid || isSaveLoading" (click)="save()">
        <ll-icon [animate]="isSaveLoading" start="save" end="sync" />
        Save
      </button>
    }
  </mat-toolbar-row>
</mat-toolbar>

@if (isLoading) {
  <mat-progress-bar mode="query" />
} @else {
  <div class="full-screen">
    <form [formGroup]="form">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="Fields">
          <mat-drawer-container (backdropClick)="selectedFieldIdx = undefined">
            <mat-drawer-content>
              <div class="flex flex-col mx-auto max-w-screen-lg gap-6 p-8" style="height: calc(100vh - 177px)">
                <mat-action-list cdkDropList (cdkDropListDropped)="fieldDropDrop($event)">
                  <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [formControl]="newFieldName" autocomplete="off" />
                    <button mat-stroked-button matTextSuffix color="accent" (click)="addField()" [disabled]="!newFieldName.valid">
                      Add
                    </button>
                    @if (newFieldName.errors; as errors) {
                      <mat-error>{{ fe.errors(errors) }}</mat-error>
                    }
                  </mat-form-field>
                  @for (field of fields.controls; track field.value.name; let index = $index; let last = $last) {
                    <mat-list-item
                      cdkDrag
                      cdkDragPreviewContainer="parent"
                      (click)="selectComponent(index)"
                      [activated]="index === selectedFieldIdx"
                      [class.invalid]="field.invalid">
                      @let descriptor = schemaFieldKindDescriptions[field.value.kind];
                      <mat-icon matListItemIcon class="type" [matTooltip]="descriptor.description">{{ descriptor.icon }}</mat-icon>
                      <span matListItemTitle>
                        {{ field.value.displayName }} <span class="field-id">#{{ field.value.name }}</span>
                      </span>
                      <span matListItemLine>
                        <span class="badge" [matTooltip]="descriptor.description">{{ descriptor.name }}</span>
                        @if (field.value.translatable) {
                          <span class="badge">Translatable</span>
                        }
                        @if (field.value.required) {
                          <span class="badge">Required</span>
                        }
                        @if (field.value.fileTypes) {
                          @let descriptor = assetFileTypeDescriptions[field.value.fileTypes];
                          <span class="badge" [matTooltip]="descriptor.description">File Type: {{ descriptor.name }}</span>
                        }
                        @if (field.value.path) {
                          <span class="badge">Path: {{ field.value.path }}</span>
                        }
                        @if (field.value.source) {
                          <span class="badge">Enum: {{ field.value.source }}</span>
                        }
                        @if (field.value.schemas) {
                          @if (field.value.schemas.length === 1) {
                            <span class="badge">Schema: {{ field.value.schemas[0] }}</span>
                          } @else {
                            <span class="badge" matTooltipClass="allow-cr" [matTooltip]="field.value.schemas.join(',&#10;')">
                              Schemas: {{ field.value.schemas[0] }}, ...
                            </span>
                          }
                        }
                        @if (field.value.minLength) {
                          <span class="badge">Min Length: {{ field.value.minLength }}</span>
                        }
                        @if (field.value.maxLength) {
                          <span class="badge">Max Length: {{ field.value.maxLength }}</span>
                        }
                        @if (field.value.minValue) {
                          <span class="badge">Min Value: {{ field.value.minValue }}</span>
                        }
                        @if (field.value.maxValue) {
                          <span class="badge">Max Value: {{ field.value.maxValue }}</span>
                        }
                        @if (field.value.minValues) {
                          <span class="badge">Min Values: {{ field.value.minValues }}</span>
                        }
                        @if (field.value.maxValues) {
                          <span class="badge">Max Values: {{ field.value.maxValues }}</span>
                        }
                      </span>
                      <div matListItemMeta>
                        <button mat-icon-button (click)="removeComponent($event, index)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        &nbsp;&nbsp;
                        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
                      </div>
                    </mat-list-item>
                    @if (!last) {
                      <mat-divider />
                    }
                  }
                </mat-action-list>
              </div>
            </mat-drawer-content>
            <mat-drawer position="end" [opened]="selectedFieldIdx !== undefined">
              @if (fields.at(selectedFieldIdx === undefined ? -100 : selectedFieldIdx); as selectedComponent) {
                <div formArrayName="fields">
                  <ll-schema-field-edit [form]="selectedComponent" [schemas]="schemas" />
                </div>
              }
            </mat-drawer>
          </mat-drawer-container>
        </mat-tab>
        <mat-tab label="Settings">
          <div class="flex flex-col mx-auto max-w-screen-md gap-6 p-8">
            <mat-form-field>
              <mat-label>Display Name</mat-label>
              <input matInput type="text" formControlName="displayName" minlength="3" maxlength="50" autocomplete="off" />
              <mat-hint align="end">{{ form.controls['displayName'].value?.length || 0 }}/50</mat-hint>
              @if (form.controls['displayName'].errors; as errors) {
                <mat-error>{{ fe.errors(errors) }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="6"></textarea>
              <mat-hint align="end">{{ form.controls['description'].value?.length || 0 }}/250</mat-hint>
              @if (form.controls['description']?.errors; as errors) {
                <mat-error>{{ fe.errors(errors) }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Preview Field</mat-label>
              <mat-select formControlName="previewField">
                @for (field of fields.controls; track field.value.name) {
                  @if (
                    ['TEXT', 'TEXTAREA', 'NUMBER', 'COLOR', 'DATE', 'DATETIME', 'BOOLEAN', 'OPTION', 'OPTIONS'].includes(field.value.kind)
                  ) {
                    <mat-option [value]="field.value.name">
                      {{ field.value.displayName }} <span>#{{ field.value.name }}</span>
                    </mat-option>
                  }
                }
              </mat-select>
              @if (form.controls['previewField'].errors; as errors) {
                <mat-error>{{ fe.errors(errors) }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Labels</mat-label>
              <mat-chip-grid #chipGrid aria-label="Enter Labels">
                @for (label of form.controls['labels'].value; track label) {
                  <mat-chip-row (removed)="removeLabel(label)">
                    {{ label }}
                    <button matChipRemove [attr.aria-label]="'Remove ' + label">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                }
              </mat-chip-grid>
              <input
                placeholder="New Label..."
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addLabel($event)" />
              @if (form.controls['labels'].errors; as errors) {
                <mat-error>{{ fe.errors(errors) }}</mat-error>
              }
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
}

@if (settingsStore.debugEnabled()) {
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form : {{ form?.valid }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ form.value | json }}</pre>
      <pre>{{ form.errors | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
}
