mat-form-field {
  width: 100%;
}

.badge {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
  font: var(--mat-sys-label-small);
  border-color: var(--mat-sys-outline);
  border-style: solid;
  border-width: 1px;
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem /* 6px */;
  padding: 0.25rem 0.5rem;;
  margin-left: 0.25rem /* 4px */;
  margin-right: 0.25rem /* 4px */;
}

.title {
  font: var(--mat-sys-title-large);
}

.subtitle {
  font: var(--mat-sys-title-medium);
  color: var(--mat-sys-secondary);
}

.field-id {
  color: var(--mat-sys-secondary);
}
