<div class="flex items-center justify-end gap-2 p-2">
  <button hlmBtn [disabled]="!form.valid" (click)="save()">
    <ng-icon hlm size="sm" name="lucideSave" />
    Save
  </button>
</div>
@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}
@if (spaceStore.selectedSpace(); as space) {
  <form [formGroup]="form">
    <fieldset hlmFieldSet class="mx-auto max-w-5xl">
      <div hlmFieldGroup>
        <div hlmField>
          <label hlmFieldLabel for="space-id">Space ID</label>
          <div hlmInputGroup>
            <input hlmInputGroupInput [value]="space.id" readonly />
            <div hlmInputGroupAddon align="inline-end">
              <button
                hlmInputGroupButton
                aria-label="Copy"
                title="Copy"
                size="icon-xs"
                [cdkCopyToClipboard]="space.id"
                (cdkCopyToClipboardCopied)="copied()"
                hlmTooltip="Copy Id">
                <ng-icon name="lucideCopy" />
              </button>
            </div>
          </div>
        </div>
        <div hlmField>
          <label hlmFieldLabel for="space-id">Space Name</label>
          <input hlmInput formControlName="name" required minlength="3" maxlength="30" autocomplete="off" />
          @if (form.controls['name'].errors; as errors) {
            <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
          }
        </div>
      </div>
    </fieldset>
  </form>
}
