<mat-toolbar class="border-b !bg-transparent">
  <mat-toolbar-row>
    General
    <span class="spacer"></span>
    <div class="actions">
      <button mat-stroked-button color="primary" [disabled]="!form.valid" (click)="save()">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
@if (isLoading()) {
  <mat-progress-bar mode="query" />
}
@if (spaceStore.selectedSpace(); as space) {
  <div class="my-3">
    <mat-form-field>
      <mat-label>Space ID</mat-label>
      <input matInput type="text" [value]="space.id" readonly />
      <button mat-icon-button matSuffix [cdkCopyToClipboard]="space.id" matTooltip="Copy Id">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Space Name</mat-label>
        <input matInput type="text" formControlName="name" required minlength="3" maxlength="30" autocomplete="off" />
        <mat-hint align="end">{{ form.controls['name'].value?.length || 0 }}/30</mat-hint>
        @if (form.controls['name'].errors; as errors) {
          <mat-error>{{ fe.errors(errors) }}</mat-error>
        }
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Icon</mat-label>
        <mat-select formControlName="icon">
          <mat-select-trigger>
            <mat-icon>{{ form.controls['icon'].value }}</mat-icon>
            {{ form.controls['icon'].value }}
          </mat-select-trigger>
          <mat-option [value]="undefined">None</mat-option>
          @for (icon of icons$ | async; track icon.name) {
            <mat-option [value]="icon.name">
              <mat-icon>{{ icon.name }}</mat-icon>
              {{ icon.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>
}
