<div class="p-2 flex items-center justify-end gap-2">
  <button hlmBtn [disabled]="!form.valid" (click)="save()">
    <ng-icon hlm size="sm" name="lucideSave" />
    Save
  </button>
</div>
@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}
@if (spaceStore.selectedSpace(); as space) {
  <div>
    <mat-form-field>
      <mat-label>Space ID</mat-label>
      <input matInput type="text" [value]="space.id" readonly />
      <button mat-icon-button matSuffix [cdkCopyToClipboard]="space.id" matTooltip="Copy Id">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Space Name</mat-label>
        <input matInput type="text" formControlName="name" required minlength="3" maxlength="30" autocomplete="off" />
        <mat-hint align="end">{{ form.controls['name'].value?.length || 0 }}/30</mat-hint>
        @if (form.controls['name'].errors; as errors) {
          <mat-error>{{ fe.errors(errors) }}</mat-error>
        }
      </mat-form-field>
    </form>
  </div>
}
