<hlm-dialog-header>
  <h2 hlmDialogTitle>Update Email</h2>
</hlm-dialog-header>
<form [formGroup]="form" class="flex flex-col gap-4">
  <div hlmField>
    <label hlmFieldLabel for="newEmail">New Email</label>
    <input hlmInput id="newEmail" type="email" formControlName="newEmail" class="w-full" />
    <hlm-field-description>Minimum 3 characters</hlm-field-description>
  </div>
</form>
<hlm-dialog-footer>
  <button hlmBtn variant="outline" hlmDialogClose>Cancel</button>
  <button hlmBtn [disabled]="!form.valid" (click)="save()">Save</button>
</hlm-dialog-footer>
