<h2 mat-dialog-title>Translations Export</h2>
<mat-dialog-content>
  <br />
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="kind" required>
        @for (kind of exportKinds; track kind.key) {
          <mat-option [value]="kind.key"> {{ kind.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (form.value.kind === 'FLAT') {
      <mat-form-field>
        <mat-label>Locale</mat-label>
        <mat-select formControlName="locale" required>
          @for (locale of data.locales; track locale.id) {
            <mat-option [value]="locale.id"> {{ locale.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }

    <mat-form-field>
      <mat-label>From Date</mat-label>
      <input matInput [matDatepicker]="picker" readonly [max]="today" (click)="picker.open()" (dateChange)="dateChange($event)" />
      <mat-datepicker-toggle matIconSuffix (click)="picker.select(null)">
        <mat-icon matDatepickerToggleIcon>clear</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">
    <mat-icon>cloud_download</mat-icon>
    Export
  </button>
</mat-dialog-actions>
