<form [formGroup]="form()">
  <mat-form-field>
    <mat-label>{{ component().displayName || component().name }}</mat-label>
    <mat-icon matIconPrefix>link</mat-icon>

    <input matInput [required]="component().required" [matAutocomplete]="auto" [formControl]="searchCtrl" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayContent" (optionSelected)="contentSelected($event)">
      @for (link of filteredContent | async; track link.id) {
        <mat-option [value]="link">
          <span>{{ link.name }}</span> |
          <small>{{ link.fullSlug }}</small>
        </mat-option>
      }
    </mat-autocomplete>

    <button mat-icon-button matTextSuffix (click)="contentReset()" [disabled]="searchCtrl.value === ''">
      <mat-icon>clear</mat-icon>
    </button>
    @if (component().translatable) {
      <mat-icon matIconSuffix matTooltip="The field is translatable">language</mat-icon>
    }
    @if (component().path; as path) {
      <mat-hint>
        Your content will be filtered by path : <b>{{ path }}</b>
      </mat-hint>
    }
    @if (component().description; as description) {
      <mat-hint>{{ description }}</mat-hint>
    }
    @if (form().controls['uri'].errors; as errors) {
      <mat-error>{{ fe.errors(errors) }}</mat-error>
    }
  </mat-form-field>
  <br />
  <br />
</form>
@if (settingsStore.debugEnabled()) {
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form => {{ form().valid }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ form().value | json }}</pre>
      <pre>{{ form().errors | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
}
