<h2 mat-dialog-title>Contents Export</h2>
<mat-dialog-content>
  <br />
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Content</mat-label>
      <input matInput [matAutocomplete]="auto" [formControl]="searchCtrl" />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayContent" (optionSelected)="contentSelected($event)">
        @for (link of filteredContent | async; track link.id) {
          <mat-option [value]="link">
            <mat-icon>{{ link.kind === 'FOLDER' ? 'folder' : 'article' }}</mat-icon>
            <span>{{ link.name }}</span> |
            <small>{{ link.fullSlug }}</small>
          </mat-option>
        }
      </mat-autocomplete>

      <button mat-icon-button matTextSuffix (click)="contentReset()" [disabled]="searchCtrl.value === ''">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-hint>Will export only a specific Document or Folder with sub-Documents.</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-flat-button [mat-dialog-close]="form.value" [disabled]="!form.valid">
    <mat-icon>cloud_download</mat-icon>
    Export
  </button>
</mat-dialog-actions>
