<div class="p-2 flex items-center justify-end gap-2">
  @if ('CONTENT_CREATE' | canUserPerform | async) {
    <button hlmBtn [hlmDropdownMenuTrigger]="contentCreateMenu">
      <ng-icon hlm size="sm" name="lucidePlus" />
      Add Content
    </button>
    <ng-template #contentCreateMenu>
      <hlm-dropdown-menu>
        <button hlmDropdownMenuItem (click)="openAddDocumentDialog()">
          <ng-icon hlm size="sm" name="lucideFilePlus" />
          Document
        </button>
        <button hlmDropdownMenuItem (click)="openAddFolderDialog()">
          <ng-icon hlm size="sm" name="lucideFolderPlus" />
          Folder
        </button>
      </hlm-dropdown-menu>
    </ng-template>
  }
  <button hlmBtn size="icon" variant="ghost" [hlmDropdownMenuTrigger]="extraMenu">
    <ng-icon hlm size="sm" name="lucideEllipsisVertical" />
  </button>
  <ng-template #extraMenu>
    <hlm-dropdown-menu>
      @if ('CONTENT_IMPORT' | canUserPerform | async) {
        <button hlmDropdownMenuItem (click)="openImportDialog()">
          <ng-icon hlm size="sm" name="lucideUploadCloud" />
          Import
        </button>
      }
      @if ('CONTENT_EXPORT' | canUserPerform | async) {
        <button hlmDropdownMenuItem (click)="openExportDialog()">
          <ng-icon hlm size="sm" name="lucideCloudDownload" />
          Export
        </button>
      }
      <hlm-dropdown-menu-separator />
      <button hlmDropdownMenuItem (click)="openLinksV1InNewTab()">
        <ng-icon hlm size="sm" name="lucideLink" />
        Links
        <ng-icon hlm size="sm" name="lucideExternalLink" class="ml-auto" />
      </button>
    </hlm-dropdown-menu>
  </ng-template>
</div>
@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}

<div class="px-2 mx-auto mt-3">
  <nav hlmBreadcrumb class="p-2">
    <ol hlmBreadcrumbList>
      @for (pathItem of spaceStore.contentPath(); track pathItem.fullSlug; let isLast = $last; let isFirst = $first) {
        @if (!isFirst) {
          <li hlmBreadcrumbSeparator></li>
        }
        <li hlmBreadcrumbItem>
          @if (isFirst) {
            <button hlmBreadcrumbButton (click)="navigateToSlug(pathItem)">
              <ng-icon name="lucideFolderRoot" />
            </button>
          } @else if (isLast) {
            <span hlmBreadcrumbPage>{{ pathItem.name }}</span>
          } @else {
            <button hlmBreadcrumbButton (click)="navigateToSlug(pathItem)">
              {{ pathItem.name }}
            </button>
          }
        </li>
      }
    </ol>
  </nav>

  <mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @switch (element.kind) {
          @case ('DOCUMENT') {
            @if (element.publishedAt === undefined) {
              <ll-status mode="offline" hlmTooltipTrigger="Not published" />
            } @else if (element.publishedAt.seconds > element.updatedAt.seconds) {
              <ll-status mode="online" hlmTooltipTrigger="Published" />
            } @else if (element.publishedAt.seconds < element.updatedAt.seconds) {
              <ll-status mode="away" hlmTooltipTrigger="Draft" />
            }
          }
          @case ('FOLDER') {
            <mat-icon>folder</mat-icon>
          }
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          {{ element.name }} <br />
          <span class="text-muted-foreground">#{{ element.slug }}</span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="schema">
      <mat-header-cell *matHeaderCellDef mat-sort-header="schema"> Schema</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.kind === 'DOCUMENT') {
          @if (schemasMapById.get(element.schema); as schema) {
            {{ schema.displayName || schema.id }}
          } @else {
            unknown...
          }
        }
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="publishedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="publishedAt"> Published At</mat-header-cell>
      <mat-cell *matCellDef="let element" [hlmTooltipTrigger]="element.publishedAt?.toDate() | date: 'medium'">
        {{ element.publishedAt?.toDate() | date: 'mediumDate' }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="createdAt"> Created At</mat-header-cell>
      <mat-cell *matCellDef="let element" [hlmTooltipTrigger]="element.createdAt?.toDate() | date: 'medium'">
        {{ element.createdAt?.toDate() | date: 'mediumDate' }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt"> Updated At</mat-header-cell>
      <mat-cell *matCellDef="let element" [hlmTooltipTrigger]="element.updatedAt?.toDate() | date: 'medium'">
        {{ element.updatedAt?.toDate() | date: 'mediumDate' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if ('CONTENT_PUBLISH' | canUserPerform | async) {
          <button hlmBtn size="icon" variant="ghost" (click)="openPublishDialog($event, element)" hlmTooltipTrigger="Publish">
            <ng-icon hlm size="sm" name="lucideUpload" />
          </button>
        }
        @if ('CONTENT_UPDATE' | canUserPerform | async) {
          <button hlmBtn size="icon" variant="ghost" (click)="openEditDialog($event, element)" hlmTooltipTrigger="Edit">
            <ng-icon hlm size="sm" name="lucidePencil" />
          </button>
        }
        @if ('CONTENT_CREATE' | canUserPerform | async) {
          <button
            hlmBtn
            size="icon"
            variant="ghost"
            (click)="openCloneDialog($event, element)"
            [disabled]="element.kind === 'FOLDER'"
            hlmTooltipTrigger="Clone the Document Here">
            <ng-icon hlm size="sm" name="lucideCopy" />
          </button>
        }
        @if ('CONTENT_UPDATE' | canUserPerform | async) {
          <button
            hlmBtn
            size="icon"
            variant="ghost"
            (click)="openMoveDialog($event, element)"
            [disabled]="element.kind === 'FOLDER'"
            hlmTooltipTrigger="Move">
            <ng-icon hlm size="sm" name="lucideFolderInput" />
          </button>
        }
        @if ('CONTENT_DELETE' | canUserPerform | async) {
          <button hlmBtn size="icon" variant="ghost" (click)="openDeleteDialog($event, element)" hlmTooltipTrigger="Delete">
            <ng-icon hlm size="sm" name="lucideTrash" />
          </button>
        }
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowSelect(row)"></mat-row>
  </mat-table>
  <mat-paginator class="mat-paginator-sticky"></mat-paginator>
</div>
