th,
td {
  &.ll-column-status {
    width: 60px;
    max-width: 60px;
  }

  &.ll-column-schema {
    width: 220px;
    max-width: 220px;
  }

  &.ll-column-updatedAt {
    width: 120px;
    max-width: 120px;
  }

  &.ll-column-actions {
    width: 80px;
    max-width: 80px;
  }
}
