@switch (bgIndex()) {
  @case (0) {
    <ll-beams class="absolute inset-0 size-full"></ll-beams>
  }
  @case (1) {
    <ll-beams-collision class="absolute inset-0 size-full"></ll-beams-collision>
  }
  @case (2) {
    <ll-blueprint class="absolute inset-0 size-full"></ll-blueprint>
  }
  @case (3) {
    <ll-dot-pattern class="absolute inset-0 size-full"></ll-dot-pattern>
  }
  @case (4) {
    <ll-galaxy class="absolute inset-0 size-full"></ll-galaxy>
  }
  @case (5) {
    <ll-laser-grid class="absolute inset-0 size-full"></ll-laser-grid>
  }
  @case (6) {
    <ll-matrix class="absolute inset-0 size-full"></ll-matrix>
  }
  @case (7) {
    <ll-meteors class="absolute inset-0 size-full"></ll-meteors>
  }
  @case (8) {
    <ll-pollen class="absolute inset-0 size-full"></ll-pollen>
  }
  @case (9) {
    <ll-prism class="absolute inset-0 size-full"></ll-prism>
  }
  @case (10) {
    <ll-starfield class="absolute inset-0 size-full"></ll-starfield>
  }
  @default {
    <ll-topography class="absolute inset-0 size-full"></ll-topography>
  }
}
