th,
td {
  &.ll-column-enabled {
    width: 90px;
    max-width: 90px;
  }
  &.ll-column-events {
    width: 80px;
    max-width: 80px;
  }
  &.ll-column-createdAt {
    max-width: 120px;
  }
  &.ll-column-updatedAt {
    width: 120px;
    max-width: 120px;
  }
  &.ll-column-actions {
    width: 80px;
    max-width: 80px;
  }
}
