<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ document?.name }}</span>
    &nbsp;
    <span class="text-gray-500">#{{ document?.slug }}</span>
    <span class="spacer"></span>

    <mat-button-toggle-group [formControl]="editorEnabledCtr">
      <mat-button-toggle [value]="true" matTooltip="Design Mode">
        <mat-icon>design_services</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [value]="false" matTooltip="Form Mode">
        <mat-icon>edit_note</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-stroked-button [matMenuTriggerFor]="localesMenu" matTooltip="Select a locale">
      {{ selectedLocale.name }}
      <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #localesMenu="matMenu">
      <button mat-menu-item *ngFor="let locale of availableLocales" (click)="onLocaleChanged(locale)">
        <span [class.fw-semibold]="locale.id === selectedLocale.id">
          {{ locale.name }}
        </span>
      </button>
    </mat-menu>

    <button mat-icon-button *ngIf="contentErrors.length > 0" [matMenuTriggerFor]="contentErrorsMenu">
      <mat-icon color="warn" [matBadge]="contentErrors.length" matBadgeColor="warn">error_outline</mat-icon>
    </button>

    <mat-menu class="mat-menu-error-messages" #contentErrorsMenu="matMenu" xPosition="before">
      <div class="vstack gap-1">
        <div class="p-2" *ngFor="let error of contentErrors">
          <mat-icon color="accent">warning</mat-icon>
          In <b>{{ error.schema }}</b> the <b>{{ error.fieldDisplayName || error.fieldName }}</b> {{ fe.errors(error.errors) }} for Locale
          {{ availableLocalesMap.get(error.locale) }}
        </div>
      </div>
    </mat-menu>

    <button
      *ngIf="'CONTENT_UPDATE' | canUserPerform | async"
      mat-raised-button
      color="primary"
      matTooltip="Save the page"
      [disabled]="isSaveLoading || isPublishLoading"
      (click)="save()">
      <ll-icon [animate]="isSaveLoading" start="save" end="sync" />
      Save
    </button>

    <button
      *ngIf="'CONTENT_PUBLISH' | canUserPerform | async"
      mat-raised-button
      color="accent"
      matTooltip="Publish to be available via API call"
      [disabled]="isPublishLoading || isSaveLoading"
      (click)="publish()">
      <ll-icon [animate]="isPublishLoading" start="publish" end="sync" />
      Publish
    </button>

    <ng-container *ngIf="document?.publishedAt === undefined">
      <mat-icon class="not-published" matTooltip="Not published">adjust</mat-icon>
    </ng-container>
    <ng-container *ngIf="document?.publishedAt?.seconds > document?.updatedAt?.seconds">
      <mat-icon class="published" matTooltip="Published">adjust</mat-icon>
    </ng-container>
    <ng-container *ngIf="document?.publishedAt && document?.publishedAt?.seconds < document?.updatedAt?.seconds">
      <mat-icon class="draft" matTooltip="Draft">adjust</mat-icon>
    </ng-container>

    <button mat-icon-button [matMenuTriggerFor]="importMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #importMenu="matMenu">
      <button mat-menu-item *ngFor="let locale of selectedSpace?.locales" (click)="openDraftInNewTab(locale.id)">
        <mat-icon>mode_edit</mat-icon>
        <span>Draft {{ locale.name }} JSON</span>
      </button>
      <mat-divider />
      <button mat-menu-item *ngFor="let locale of selectedSpace?.locales" (click)="openPublishedInNewTab(locale.id)">
        <mat-icon>public</mat-icon>
        <span>Published {{ locale.name }} JSON</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar *ngIf="isLoading" mode="query" />
<div *ngIf="!isLoading" class="container-full-screen container-fluid">
  <mat-drawer-container autosize="true">
    <mat-drawer mode="side" [opened]="editorEnabledCtr.value === true">
      <mat-card appearance="outlined" class="browser" *ngIf="selectedEnvironment; else noEnv">
        <mat-card-header>
          <mat-card-title>{{ selectedEnvironment?.name }}</mat-card-title>
          <mat-card-subtitle>{{ selectedEnvironment?.url }}</mat-card-subtitle>
          <span class="spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="envMenu">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #envMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let env of selectedSpace?.environments"
              (click)="changeEnvironment(env)"
              [disabled]="env === selectedEnvironment">
              {{ env.name }} | {{ env.url }}
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-divider />
        <mat-card-content>
          <iframe id="preview" [src]="iframeUrl"></iframe>
        </mat-card-content>
      </mat-card>
      <ng-template #noEnv>
        <div class="text-center">
          No Configured Environments.<br />
          You can configure them in Settings.
        </div>
      </ng-template>
    </mat-drawer>
    <mat-drawer-content>
      <div *ngIf="rootSchema" class="container-full-screen">
        <ll-breadcrumb>
          <ll-breadcrumb-item
            *ngFor="let schemaPathItem of schemaPath; first as isFirst"
            (click)="navigateToSchemaBackwards(schemaPathItem)"
            [home]="isFirst">
            <ng-container *ngIf="schemaMapByName.get(schemaPathItem.schemaName) as sch"> {{ sch.displayName || sch.name }} </ng-container>
          </ll-breadcrumb-item>
        </ll-breadcrumb>

        <ll-content-document-schema-edit
          [data]="selectedDocumentData"
          [schemas]="schemas"
          [locale]="selectedLocale.id"
          [documents]="documents"
          [space]="selectedSpace"
          (schemaChange)="onSchemaChange($event)" />
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

  <ng-container *ngIf="settings$ | async as settings">
    <mat-accordion *ngIf="settings.debugEnabled">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>EditDocumentComponent Content</mat-panel-title>
        </mat-expansion-panel-header>
        <pre>{{ documentData | json }}</pre>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
