<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ document?.name }}</span>
    &nbsp;
    <span class="text-gray-500">#{{ document?.slug }}</span>
    <span class="spacer"></span>

    <mat-button-toggle-group
      (change)="settingsStore.setEditorEnabled(!settingsStore.editorEnabled())"
      [value]="settingsStore.editorEnabled()">
      <mat-button-toggle [value]="true" matTooltip="Design Mode">
        <mat-icon>design_services</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [value]="false" matTooltip="Form Mode">
        <mat-icon>edit_note</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-stroked-button [matMenuTriggerFor]="localesMenu" matTooltip="Select a locale">
      {{ selectedLocale.name }}
      <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #localesMenu="matMenu">
      @for (locale of availableLocales; track locale.id) {
        <button mat-menu-item (click)="onLocaleChanged(locale)">
          <span [class.fw-semibold]="locale.id === selectedLocale.id">
            {{ locale.name }}
          </span>
        </button>
      }
    </mat-menu>

    @if (contentErrors.length > 0) {
      <button mat-icon-button [matMenuTriggerFor]="contentErrorsMenu">
        <mat-icon color="warn" [matBadge]="contentErrors.length" matBadgeColor="warn">error_outline</mat-icon>
      </button>
    }

    <mat-menu class="mat-menu-error-messages" #contentErrorsMenu="matMenu" xPosition="before">
      <div class="vstack gap-1">
        @for (error of contentErrors; track error.contentId) {
          <div class="p-2">
            <mat-icon color="accent">warning</mat-icon>
            In <b>{{ error.schema }}</b> the <b>{{ error.fieldDisplayName || error.fieldName }}</b> {{ fe.errors(error.errors) }} for Locale
            {{ availableLocalesMap.get(error.locale) }}
          </div>
        }
      </div>
    </mat-menu>

    @if ('CONTENT_UPDATE' | canUserPerform | async) {
      <button
        mat-raised-button
        color="primary"
        matTooltip="Save the page"
        [disabled]="isSaveLoading() || isPublishLoading()"
        (click)="save()">
        <ll-icon [animate]="isSaveLoading()" start="save" end="sync" />
        Save
      </button>
    }
    @if ('CONTENT_PUBLISH' | canUserPerform | async) {
      <button
        mat-raised-button
        color="accent"
        matTooltip="Publish to be available via API call"
        [disabled]="isPublishLoading() || isSaveLoading()"
        (click)="publish()">
        <ll-icon [animate]="isPublishLoading()" start="publish" end="sync" />
        Publish
      </button>
    }

    @if (document?.publishedAt === undefined) {
      <div class="h-3.5 w-3.5 flex-none rounded-full bg-gray-500/20 p-1" matTooltip="Not published">
        <div class="h-1.5 w-1.5 rounded-full bg-gray-500"></div>
      </div>
    } @else if (document?.publishedAt?.seconds > document?.updatedAt?.seconds) {
      <div class="h-3.5 w-3.5 flex-none rounded-full bg-emerald-500/20 p-1" matTooltip="Published">
        <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
      </div>
    } @else if (document?.publishedAt && document?.publishedAt?.seconds < document?.updatedAt?.seconds) {
      <div class="h-3.5 w-3.5 flex-none rounded-full bg-amber-500/20 p-1" matTooltip="Draft">
        <div class="h-1.5 w-1.5 rounded-full bg-amber-500"></div>
      </div>
    }

    <button mat-icon-button (click)="showHistory = !showHistory" matTooltip="History">
      <mat-icon>history</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="importMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #importMenu="matMenu">
      @for (locale of selectedSpace?.locales; track locale.id) {
        <button mat-menu-item (click)="openDraftInNewTab(locale.id)">
          <mat-icon>mode_edit</mat-icon>
          <span>Draft {{ locale.name }} JSON</span>
        </button>
      }
      <mat-divider />
      @for (locale of selectedSpace?.locales; track locale.id) {
        <button mat-menu-item (click)="openPublishedInNewTab(locale.id)">
          <mat-icon>public</mat-icon>
          <span>Published {{ locale.name }} JSON</span>
        </button>
      }
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

@if (isLoading()) {
  <mat-progress-bar mode="query" />
}

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="container-full-screen container-fluid">
      <mat-drawer-container autosize="true">
        <mat-drawer mode="side" [opened]="settingsStore.editorEnabled()">
          @if (selectedEnvironment) {
            <mat-card appearance="outlined" class="browser">
              <mat-card-header>
                <mat-card-title>{{ selectedEnvironment?.name }}</mat-card-title>
                <mat-card-subtitle>{{ selectedEnvironment?.url }}</mat-card-subtitle>
                <span class="spacer"></span>
                <button mat-icon-button matTooltip="Reload" (click)="changeEnvironment(selectedEnvironment)">
                  <mat-icon>refresh</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="envMenu">
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #envMenu="matMenu">
                  @for (env of selectedSpace?.environments; track env.name) {
                    <button mat-menu-item (click)="changeEnvironment(env)" [disabled]="env === selectedEnvironment">
                      {{ env.name }} | {{ env.url }}
                    </button>
                  }
                </mat-menu>
              </mat-card-header>
              <mat-divider />
              <mat-card-content>
                <iframe id="previewId" #preview [src]="iframeUrl"></iframe>
              </mat-card-content>
            </mat-card>
          } @else {
            <div class="text-center">
              No Configured Environments.<br />
              You can configure them in Settings.
            </div>
          }
        </mat-drawer>
        <mat-drawer-content>
          @if (rootSchema) {
            <div class="container-full-screen">
              <ll-breadcrumb>
                @for (schemaPathItem of schemaPath; track schemaPathItem.contentId; let isFirst = $first) {
                  <ll-breadcrumb-item (click)="navigateToSchemaBackwards(schemaPathItem)" [home]="isFirst">
                    @if (schemaMapById.get(schemaPathItem.schemaName); as sch) {
                      {{ sch.displayName || sch.id }}
                    }
                  </ll-breadcrumb-item>
                }
              </ll-breadcrumb>

              <ll-content-document-schema-edit
                [data]="selectedDocumentData"
                [schemas]="schemas"
                [locale]="selectedLocale.id"
                [documents]="documents"
                [space]="selectedSpace"
                (onSchemaChange)="onSchemaChange($event)"
                (onFormChange)="onFormChange($event)"
                (onStructureChange)="onStructureChange($event)" />
            </div>
          }
        </mat-drawer-content>
      </mat-drawer-container>

      @if (settingsStore.debugEnabled()) {
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>EditDocumentComponent Content</mat-panel-title>
            </mat-expansion-panel-header>
            <pre>{{ documentData | json }}</pre>
          </mat-expansion-panel>
        </mat-accordion>
      }
    </div>
  </mat-sidenav-content>
  <mat-sidenav position="end" [opened]="showHistory" (openedChange)="showHistory = $event">
    <div class="flow-root m-4">
      <ul role="list" class="-mb-8">
        @for (item of history$ | async; track item.id; let isLast = $last) {
          <li>
            <div class="relative pb-5">
              @if (!isLast) {
                <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              }
              <div class="relative flex space-x-3">
                @switch (item.type) {
                  @case ('PUBLISHED') {
                    <div>
                      <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white text-white">
                        <mat-icon>publish</mat-icon>
                      </span>
                    </div>
                    <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                      <div>
                        <p class="text-sm text-gray-500">
                          Published by
                          <span class="font-medium text-gray-900" [matTooltip]="item.email || 'Unknown'">
                            {{ item.name || 'Unknown' }}
                          </span>
                        </p>
                      </div>
                      <div class="whitespace-nowrap text-right text-sm text-gray-500">
                        <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                      </div>
                    </div>
                  }
                  @case ('CREATE') {
                    <div>
                      <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white text-white">
                        <mat-icon>add</mat-icon>
                      </span>
                    </div>
                    <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                      <div>
                        <p class="text-sm text-gray-500">
                          Created with name <span class="font-medium text-gray-900 break-all">{{ item.cName }}</span> and slug
                          <span class="font-medium text-gray-900 break-all">{{ item.cSlug }}</span> by
                          <span class="font-medium text-gray-900" [matTooltip]="item.email || 'Unknown'">
                            {{ item.name || 'Unknown' }}
                          </span>
                        </p>
                      </div>
                      <div class="whitespace-nowrap text-right text-sm text-gray-500">
                        <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                      </div>
                    </div>
                  }
                  @case ('UPDATE') {
                    <div>
                      <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white text-white">
                        <mat-icon>edit</mat-icon>
                      </span>
                    </div>
                    <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                      <div>
                        <p class="text-sm text-gray-500">
                          Updated with
                          @if (item.cName) {
                            name <span class="font-medium text-gray-900 break-all">{{ item.cName }}</span>
                          }
                          @if (item.cSlug) {
                            @if (item.cName) {
                              and
                            }
                            slug <span class="font-medium text-gray-900 break-all">{{ item.cSlug }}</span>
                          }
                          @if (item.cParentSlug) {
                            parent slug <span class="font-medium text-gray-900 break-all">{{ item.cParentSlug }}</span>
                          } @else if (item.cData) {
                            content
                          } @else {
                            nothing
                          }
                          by
                          <span class="font-medium text-gray-900" [matTooltip]="item.email || 'Unknown'">
                            {{ item.name || 'Unknown' }}
                          </span>
                        </p>
                      </div>
                      <div class="whitespace-nowrap text-right text-sm text-gray-500">
                        <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                      </div>
                    </div>
                  }
                  @default {
                    <div>
                      <span class="h-8 w-8 rounded-full bg-gray-500 flex items-center justify-center ring-8 ring-white text-white">
                        <mat-icon>question_mark</mat-icon>
                      </span>
                    </div>
                    <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                      <div>
                        <p class="text-sm text-gray-500">Unknown</p> by
                        <span class="font-medium text-gray-900" [matTooltip]="item.email || 'Unknown'">
                          {{ item.name || 'Unknown' }}
                        </span>
                      </div>
                      <div class="whitespace-nowrap text-right text-sm text-gray-500">
                        <time>{{ item.createdAt.toDate() | date: 'MMM dd, HH:mm' }}</time>
                      </div>
                    </div>
                  }
                }
              </div>
            </div>
          </li>
        } @empty {
          No Records found
        }
      </ul>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
