:host {
  height: 100%;
  display: block;
}

mat-form-field {
  width: 100%;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: calc(100% - 400px);
}

.container-fluid {
  height: calc(100vh - 140px);
  padding: 0;
}

mat-card.browser {
  height: 100%;
  mat-card-content {
    height: 100%;
    padding: 0;
    iframe {
      width: 100%;
      height: calc(100% - 5px);
      border: none;
    }
  }
}
