<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="title">{{ entity?.displayName }}</span>
    &nbsp;
    <span class="subtitle">#{{ entity?.id }}</span>
    <span class="spacer"></span>

    @if ('SCHEMA_UPDATE' | canUserPerform | async) {
      <button mat-stroked-button color="primary" matTooltip="Save the schema" [disabled]="!form.valid || isSaveLoading" (click)="save()">
        <ll-icon [animate]="isSaveLoading" start="save" end="sync" />
        Save
      </button>
    }
  </mat-toolbar-row>
</mat-toolbar>

@if (isLoading) {
  <mat-progress-bar mode="query" />
} @else {
  <div class="px-2 mx-auto mt-3">
    <form [formGroup]="form">
      <div class="flex flex-row gap-4">
        <div class="basis-1/3">
          <mat-form-field>
            <mat-label>Display Name</mat-label>
            <input matInput type="text" formControlName="displayName" minlength="3" maxlength="50" autocomplete="off" />
            <mat-hint align="end">{{ form.controls['displayName'].value?.length || 0 }}/50</mat-hint>
            @if (form.controls['displayName'].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="6"></textarea>
            <mat-hint align="end">{{ form.controls['description'].value?.length || 0 }}/250</mat-hint>
            @if (form.controls['description']?.errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Preview Field</mat-label>
            <mat-select formControlName="previewField">
              @for (field of fields.controls; track field.value.name) {
                @if (
                  ['TEXT', 'TEXTAREA', 'NUMBER', 'COLOR', 'DATE', 'DATETIME', 'BOOLEAN', 'OPTION', 'OPTIONS'].includes(field.value.kind)
                ) {
                  <mat-option [value]="field.value.name">
                    {{ field.value.displayName }} <span>#{{ field.value.name }}</span>
                  </mat-option>
                }
              }
            </mat-select>
            <mat-hint align="end">{{ form.controls['previewField'].value?.length || 0 }}/50</mat-hint>
            @if (form.controls['previewField'].errors; as errors) {
              <mat-error>{{ fe.errors(errors) }}</mat-error>
            }
          </mat-form-field>
          <mat-list cdkDropList class="ll-mat-list-gap" (cdkDropListDropped)="fieldDropDrop($event)">
            <mat-divider></mat-divider>
            <div mat-subheader>Fields</div>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput type="text" [formControl]="newFieldName" autocomplete="off" />
              <button mat-stroked-button matTextSuffix color="accent" (click)="addField()" [disabled]="!newFieldName.valid">Add</button>
              @if (newFieldName.errors; as errors) {
                <mat-error>{{ fe.errors(errors) }}</mat-error>
              }
            </mat-form-field>
            <mat-list-item
              cdkDrag
              cdkDragPreviewContainer="parent"
              *ngFor="let field of fields.controls; let index = index"
              (click)="selectComponent(index)"
              [class.active]="index === selectedFieldIdx"
              [class.invalid]="field.invalid">
              <mat-icon matListItemIcon cdkDragHandle>drag_indicator</mat-icon>
              <mat-icon matListItemIcon class="type">{{ schemaFieldKindDescriptions[field.value.kind].icon }}</mat-icon>
              <span matListItemTitle>
                {{ field.value.displayName }} <span class="field-id">#{{ field.value.name }}</span>
              </span>
              <span matListItemLine>
                <span class="badge">{{ field.value.kind }}</span>
                @if (field.value.translatable) {
                  &nbsp;<span class="badge">Translatable</span>
                }
                @if (field.value.required) {
                  &nbsp;<span class="badge">Required</span>
                }
              </span>
              <mat-action-list matListItemMeta>
                <button mat-icon-button (click)="removeComponent($event, index)">
                  <mat-icon>delete</mat-icon>
                </button>
                <mat-icon>arrow_right</mat-icon>
              </mat-action-list>
            </mat-list-item>
          </mat-list>
        </div>
        @if (fields.at(selectedFieldIdx === undefined ? -100 : selectedFieldIdx); as selectedComponent) {
          <div class="basis-2/3" formArrayName="fields">
            <ll-schema-field-edit [form]="selectedComponent" [reservedNames]="fieldReservedNames" [schemas]="schemas" />
          </div>
        }
      </div>
    </form>
  </div>
}

@if (settingsStore.debugEnabled()) {
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form : {{ form?.valid }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ form.value | json }}</pre>
      <pre>{{ form.errors | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
}
