<h1 mat-dialog-title>Assets</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
  <ll-breadcrumb>
    <ll-breadcrumb-item *ngFor="let pathItem of assetPath" (click)="navigateToSlug(pathItem)">
      <ng-container *ngIf="pathItem.fullSlug === ''">
        <mat-icon>home</mat-icon>
      </ng-container>
      {{pathItem.name}}
    </ll-breadcrumb-item>
  </ll-breadcrumb>
  <mat-divider></mat-divider>
  <mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox *ngIf="row.kind === 'FILE'" (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef> Icon </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="element.kind">
          <ng-container *ngSwitchCase="'FILE'">
            <mat-icon>{{fileIcon(element.type)}}</mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="'FOLDER'">
            <mat-icon>folder</mat-icon>
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="preview">
      <mat-header-cell *matHeaderCellDef> Preview </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.kind === 'FILE' && filePreview(element.type)">
          <img class="img-thumbnail" width="115" height="115" alt="thumbnail" loading="lazy"
               ngSrc="/api/v1/spaces/{{data.spaceId}}/assets/{{element.id}}"/>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.name}}{{element.extension}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="size">
      <mat-header-cell *matHeaderCellDef mat-sort-header="size"> Size </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.size | digitalStore}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header="type"> Type </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.type}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt"> Updated At </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.updatedAt?.toDate() | date:'medium'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowSelect(row)"></mat-row>
  </mat-table>
  <mat-paginator></mat-paginator>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Close</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="selection.selected" [disabled]="selection.isEmpty()">
    <ng-container *ngIf="selection.selected.length > 1; else elseAsset">
      Add Selected Assets ({{selection.selected.length}})
    </ng-container>
    <ng-template #elseAsset>
      Add Selected Asset
    </ng-template>
  </button>
</mat-dialog-actions>
