<div class="p-2 flex items-center justify-end gap-2">
  <button hlmBtn [disabled]="!form.valid" (click)="save()">
    <ng-icon hlm size="sm" name="lucideSave" />
    Save
  </button>
</div>

@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}

<div class="my-3">
  <form [formGroup]="form">
    <fieldset hlmFieldSet class="mx-auto max-w-5xl">
      <div hlmFieldGroup>
        <div hlmField>
          <label hlmFieldLabel for="color">Color</label>
          <hlm-select id="color" formControlName="color">
            <hlm-select-trigger class="w-full">
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content class="max-h-96">
              <hlm-option value="primary">Primary</hlm-option>
              <hlm-option value="secondary">Secondary</hlm-option>
              <hlm-option value="outline">Outline</hlm-option>
              <hlm-option value="destructive">Destructive</hlm-option>
            </hlm-select-content>
          </hlm-select>
          @if (form.controls['color'].errors; as errors) {
            <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
          }
        </div>
        <div hlmField>
          <label hlmFieldLabel for="text">Text</label>
          <input hlmInput id="text" formControlName="text" autocomplete="off" />
          @if (form.controls['text'].errors; as errors) {
            <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
          }
        </div>
      </div>
    </fieldset>
  </form>
</div>
