<div class="p-2 flex items-center justify-end gap-2">
  <button hlmBtn [disabled]="!form.valid" (click)="save()">
    <ng-icon hlm size="sm" name="lucideSave" />
    Save
  </button>
</div>

@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}

<div class="my-3">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Color</mat-label>
      <mat-select formControlName="color">
        <mat-option value="primary">Primary</mat-option>
        <mat-option value="secondary">Secondary</mat-option>
        <mat-option value="outline">Outline</mat-option>
        <mat-option value="destructive">Destructive</mat-option>
      </mat-select>
      @if (form.controls['color'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Text</mat-label>
      <input matInput type="text" formControlName="text" maxlength="30" autocomplete="off" />
      <mat-hint align="end">{{ form.controls['text'].value?.length || 0 }}/30</mat-hint>
      @if (form.controls['text'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
  </form>
</div>
