<h2 mat-dialog-title>Contents Import</h2>
<mat-dialog-content>
  <br />
  <form [formGroup]="form">
    <button mat-stroked-button (click)="fileInput.click()">
      <mat-icon>upload_file</mat-icon>
      Upload File
    </button>
    <br />
    {{ fileName }}
  </form>
  @if (fileWrong) {
    <mat-error>The selected file does not comply with import extension (<b>*.llc.zip</b>).</mat-error>
  }
  <br />
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">
    <mat-icon>cloud_upload</mat-icon>
    Import
  </button>
</mat-dialog-actions>
<input hidden type="file" accept=".llc.zip" #fileInput (change)="onFileChange($event)" />
