<h2 mat-dialog-title>Create new Schema</h2>
<mat-dialog-content>
  <br />
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input matInput type="text" formControlName="displayName" minlength="3" maxlength="50" autocomplete="off" />
      <mat-hint align="end">{{ form.controls['displayName'].value?.length || 0 }}/50</mat-hint>
      @if (form.controls['displayName'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput type="text" formControlName="id" required minlength="3" maxlength="50" autocomplete="off" />
      <button mat-icon-button matSuffix (click)="normalizeId()">
        <mat-icon>auto_fix_normal</mat-icon>
      </button>
      <mat-hint>Will be used in OpenAPI Schema Name.</mat-hint>
      <mat-hint align="end">{{ form.controls['id'].value?.length || 0 }}/50</mat-hint>
      @if (form.controls['id'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" required>
        <mat-select-trigger>
          @let selectedType = schemaTypeDescriptions[type];
          <mat-icon>{{ selectedType.icon }}</mat-icon>
          {{ selectedType.name }}
        </mat-select-trigger>
        @for (type of types; track type) {
          @let descriptor = schemaTypeDescriptions[type];
          <mat-option [value]="type" [matTooltip]="descriptor.description">
            <mat-icon>{{ descriptor.icon }}</mat-icon>
            {{ descriptor.name }}
          </mat-option>
        }
      </mat-select>
      @if (form.controls['type'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
