<div class="flex min-h-full">
  <div class="flex flex-1 flex-col">
    <div class="flex items-center justify-between px-4 py-3 sm:px-6">
      <img class="h-8 w-auto" ngSrc="assets/logo-adaptive.svg" alt="Localess" height="16" width="16" />
      <button hlmBtn size="icon-sm" variant="ghost" aria-label="Switch theme" hlmTooltip="Switch theme" (click)="switchTheme()">
        <ng-icon hlm [name]="settingsStore.theme() === 'light' ? 'lucideMoon' : 'lucideSun'" size="sm" />
      </button>
    </div>
    <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div class="relative hidden w-0 flex-1 lg:block">
    <ll-random-background class="absolute inset-0"></ll-random-background>
    <ll-feature-carousel></ll-feature-carousel>
  </div>
</div>
