<mat-toolbar>
  <mat-toolbar-row>
    Locales
    <span class="spacer"></span>
    <button mat-raised-button
            color="primary"
            (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
      Add Locale
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="isLoading" class="loader">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading" class="container-fluid mt-3">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header="id"> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isLocaleTranslatable">
      <mat-header-cell *matHeaderCellDef> Translatable </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon color="primary">{{isSupport(element.id) ? 'check': 'clear'}}</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fallback">
      <mat-header-cell *matHeaderCellDef> Fallback </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button *ngIf="selectedSpace?.localeFallback?.id === element.id" mat-icon-button disabled>
          <mat-icon color="accent" matTooltip="Fallback">check_circle</mat-icon>
        </button>
        <button *ngIf="selectedSpace?.localeFallback?.id !== element.id" mat-icon-button (click)="markAsFallback(element)">
          <mat-icon matTooltip="Mark as Fallback">check_circle_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="openDeleteDialog(element)" matTooltip="Delete" [disabled]="selectedSpace?.localeFallback?.id === element.id">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator></mat-paginator>
</div>
