@if (settingsStore.translationLayout() === 'list') {
  <cdk-virtual-scroll-viewport [itemSize]="55" class="overlay border">
    <div
      role="listitem"
      hlmItem
      class="border-b-border cursor-pointer rounded-b-none p-2"
      *cdkVirtualFor="let translation of translationsFiltered()"
      [variant]="translation.id === selectedId() ? 'muted' : 'default'"
      (click)="translationSelect.emit(translation)"
      (keyup.enter)="translationSelect.emit(translation)">
      <div hlmItemContent>
        <div hlmItemTitle class="break-all">
          @if (isLocaleUpdateLoading() && translationUpdateId() === translation.id) {
            <hlm-spinner class="size-6 items-center" />
          } @else {
            <ll-translation-status [status]="identifyTranslationStatus(translation)" />
          }
          {{ translation.id }}
        </div>
        <p hlmItemDescription class="break-all">
          <ll-translation-string-view [value]="translation.locales[currentLocale() || '']" />
        </p>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
} @else {
  <div class="overlay overflow-auto border p-2">
    <ll-tree
      [nodes]="translationTreeFiltered()"
      [expandedKeys]="expandedKeys()"
      (expandedKeysChange)="onExpandedKeysChange($event)"
      [selectedKey]="selectedId()"
      [guides]="true"
      (nodeSelect)="onNodeSelect($event)">
      <ng-template llTreeNodeDef let-node>
        @if (translationMap().get(node.key); as translation) {
          @if (isLocaleUpdateLoading() && translationUpdateId() === node.key) {
            <hlm-spinner class="size-4" />
          } @else {
            <ll-translation-status [status]="identifyTranslationStatus(translation)" />
          }
        }
        <span class="break-all">{{ node.name }}</span>
      </ng-template>
    </ll-tree>
  </div>
}
