@use '@angular/material' as mat;

@import 'styles-variables';

@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-utilities';
@import 'bootstrap/scss/images';

@include mat.all-component-typographies();
@include mat.core();

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.loader {
  align-content: center !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  display: flex !important;
  height: calc(100vh - 65px);
}

.allow-cr {
  white-space: pre-line;
}

.error-notification-overlay {
  color: mat.get-color-from-palette($error-colors, default-contrast);
  background-color: mat.get-color-from-palette($error-colors);
}

.info-notification-overlay {
  color: mat.get-color-from-palette($info-colors, default-contrast);
  background-color: mat.get-color-from-palette($info-colors);
}

.success-notification-overlay {
  color: mat.get-color-from-palette($success-colors, default-contrast);
  background-color: mat.get-color-from-palette($success-colors);
}

.warning-notification-overlay {
  color: mat.get-color-from-palette($warning-colors, default-contrast);
  background-color: mat.get-color-from-palette($warning-colors);
}
