@use '@angular/material' as mat;

markdown {
  @import "prismjs/themes/prism-okaidia";
}

@import 'styles/background';
@import 'styles/image';
@import 'styles/layout';
@import 'styles/markdown';
@import 'styles/mat-card';
@import 'styles/mat-dialog';
@import 'styles/mat-divider';
@import 'styles/mat-grid-list';
@import 'styles/mat-list';
@import 'styles/mat-menu';
@import 'styles/mat-paginator';
@import 'styles/mat-snack-bar';
@import 'styles/mat-table';
@import 'styles/mat-toolbar';
@import 'styles/rich-text-editor';

/* You can add global styles to this file, and also import other style files */
html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
  @import 'styles/highlightjs/light';
  &.dark {
    @import 'styles/highlightjs/dark';
  }
}

html,
body {
  height: 100%;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

body {
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

.allow-cr {
  white-space: pre-line;
}

// MDC + TailWindCSS Workaround
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}
