@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/styles-variables';

@import 'styles/background';
@import 'styles/layout';
@import 'styles/markdown';
@import 'styles/mat-card';
@import 'styles/mat-grid-list';
@import 'styles/mat-list';
@import 'styles/mat-menu';
@import 'styles/mat-snack-bar';
@import 'styles/mat-table';
@import 'styles/mat-toolbar';

$primary: mat.define-palette(mat.$blue-palette, 900);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($theme);

@include mat.all-component-typographies($theme);
@include mat.core();

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.allow-cr {
  white-space: pre-line;
}

// MDC + TailWindCSS Workaround
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}
