<ng-container *ngIf="rootSchematic">

  <form [formGroup]="form" class="step-container" *ngIf="!isFormLoading">
    <ng-container *ngFor="let component of rootSchematic.components" [ngSwitch]="component.kind">
      <!--TEXT-->
      <ng-container *ngSwitchCase="'TEXT'">
        <mat-form-field>
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="text"
                 [formControlName]="component.name"
                 [required]="component.required"
                 [attr.minlength]="component.minLength"
                 [attr.maxlength]="component.maxLength"
                 autocomplete="off"/>
          <mat-icon matIconSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-hint align="end" *ngIf="component.maxLength">{{form.controls[component.name]?.value?.length || 0}}
            /{{component.maxLength}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--TEXTAREA-->
      <ng-container *ngSwitchCase="'TEXTAREA'">
        <mat-form-field>
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <textarea matInput rows="6"
                    [formControlName]="component.name"
                    [required]="component.required"
                    [attr.minLength]="component.minLength"
                    [attr.maxlength]="component.maxLength"
                    autocomplete="off"></textarea>
          <mat-icon matIconSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-hint align="end" *ngIf="component.maxLength">{{form.controls[component.name]?.value?.length || 0}}
            /{{component.maxLength}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--NUMBER-->
      <ng-container *ngSwitchCase="'NUMBER'">
        <mat-form-field>
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="number"
                 [formControlName]="component.name"
                 [required]="component.required"
                 [attr.min]="component.minValue"
                 [attr.max]="component.maxValue"
                 autocomplete="off"/>
          <mat-icon matIconSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--COLOR-->
      <ng-container *ngSwitchCase="'COLOR'">
        <mat-form-field>
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="color"
                 [formControlName]="component.name"
                 [required]="component.required"
                 [attr.min]="component.minValue"
                 [attr.max]="component.maxValue"
                 autocomplete="off"/>
          <mat-icon matIconSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--DATE-->
      <ng-container *ngSwitchCase="'DATE'">
        <mat-form-field>
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="date"
                 [formControlName]="component.name"
                 [required]="component.required"
                 autocomplete="off"/>
          <mat-icon matIconSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--DATE TIME-->
      <ng-container *ngSwitchCase="'DATETIME'">
        <mat-form-field>
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <input matInput type="datetime-local"
                 [formControlName]="component.name"
                 [required]="component.required"
                 autocomplete="off"/>
          <mat-icon matIconSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--BOOLEAN-->
      <ng-container *ngSwitchCase="'BOOLEAN'">
        <mat-checkbox [formControlName]="component.name">
          {{component.displayName || component.name}}
        </mat-checkbox>
        &nbsp;
        <mat-icon matIconSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
        <br/>
        <mat-hint *ngIf="component.description"
                  style="font-size: 75%;padding: 0 1em;">{{component.description}}</mat-hint>
        <mat-error *ngIf="form.controls[component.name].errors as errors">{{fe.errors(errors)}}</mat-error>
      </ng-container>
      <!--OPTION-->
      <ng-container *ngSwitchCase="'OPTION'">
        <mat-form-field>
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <mat-select [formControlName]="component.name"
                      [required]="component.required">
            <mat-option *ngIf="!component.required">-- None --</mat-option>
            <mat-option *ngFor="let option of component.options" [value]="option.value">
              {{option.name}}
            </mat-option>
          </mat-select>
          <mat-icon matIconSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--OPTIONS-->
      <ng-container *ngSwitchCase="'OPTIONS'">
        <mat-form-field>
          <mat-label>{{component.displayName || component.name}}</mat-label>
          <mat-select [formControlName]="component.name"
                      [required]="component.required"
                      multiple>
            <mat-option *ngFor="let option of component.options" [value]="option.value">
              {{option.name}}
            </mat-option>
          </mat-select>
          <mat-icon matIconSuffix *ngIf="component.translatable" matTooltip="The field is translatable">language</mat-icon>
          <mat-hint *ngIf="component.description">{{component.description}}</mat-hint>
          <mat-error *ngIf="form.controls[component.name].errors as errors">{{fe.errors(errors)}}</mat-error>
        </mat-form-field>
      </ng-container>
      <!--LINK-->
      <ng-container *ngSwitchCase="'LINK'">
        <ll-link-select *ngIf="form.controls[component.name]"
                        [form]="form.controls[component.name]"
                        [component]="component"
                        [pages]="pages"/>
      </ng-container>
      <!--SCHEMATIC-->
      <ng-container *ngSwitchCase="'SCHEMATIC'">
        <mat-card class="ll-not-shadow">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                {{component.displayName || component.name}}
              </mat-card-title>
              <button mat-icon-button [matMenuTriggerFor]="schematicsMenu" matTooltip="Add Schematic">
                <mat-icon>add_circle</mat-icon>
              </button>
              <mat-menu #schematicsMenu="matMenu">
                <button mat-menu-item *ngFor="let sch of filterSchematic(component.schematics)"
                        (click)="addSchematic(component, sch)">
                  {{sch.displayName || sch.name}}
                </button>
              </mat-menu>

            </mat-card-title-group>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <mat-nav-list class="ll-mat-nav-list-gap">
              <mat-list-item *ngFor="let item of data[component.name]"
                             (click)="navigationTo(item._id, component.name, item.schematic)">
                <mat-icon matListItemIcon matTooltip="Drag and drop feature will come later">drag_handle</mat-icon>
                <span matListItemTitle
                      *ngIf="schematicMapByName.get(item.schematic) as sch">{{sch.displayName || sch.name}}</span>
                <span matListItemLine>{{item._id}}</span>
                <span matListItemMeta>
                  <button mat-icon-button (click)="removeSchematic(component, item._id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <mat-icon>navigate_next</mat-icon>
                </span>
              </mat-list-item>

            </mat-nav-list>
          </mat-card-content>
        </mat-card>

        <mat-hint *ngIf="component.description"
                  style="font-size: 75%;padding: 0 1em;">{{component.description}}</mat-hint>
      </ng-container>
      <!--DEFAULT-->
      <ng-container *ngSwitchDefault>
        {{component.kind}} is not implemented
      </ng-container>

    </ng-container>
  </form>
</ng-container>

<ng-container *ngIf="isTest">
  <mat-divider></mat-divider>
  Form :
  <pre>{{form.value | json}}</pre>
</ng-container>
