<form>
  <mat-form-field floatLabel="always">
    <mat-label>Preview Image</mat-label>
    <input matInput hidden class="!hidden" />
    <button mat-raised-button color="accent" (click)="openAssetSelectDialog()">Add Asset</button>
    @if (asset) {
      <button mat-raised-button color="accent" (click)="deleteAsset()">Remove Asset</button>
      @if (asset.type.startsWith('image/')) {
        <img
          class="border object-contain rounded bg-stripes-gray"
          width="115"
          height="115"
          loading="lazy"
          alt="thumbnail"
          ngSrc="/api/v1/spaces/{{ spaceId }}/assets/{{ asset.id }}" />
      } @else {
        <mat-icon>file_present</mat-icon>
      }
    }
  </mat-form-field>
</form>
