th,
td {
  &.ll-column-id {
    width: 100px;
    max-width: 100px;
  }
  &.ll-column-icon {
    width: 50px;
    max-width: 50px;
  }
  &.ll-column-translateFrom {
    width: 120px;
    max-width: 120px;
    text-align: center;
  }
  &.ll-column-translateTo {
    width: 120px;
    max-width: 120px;
    text-align: center;
  }
  &.ll-column-isFallback {
    width: 90px;
    max-width: 90px;
    text-align: center;
  }
  &.ll-column-actions {
    width: 80px;
    max-width: 80px;
    text-align: center;
  }
}
