<form [formGroup]="form()">
  <div hlmFieldGroup>
    <fieldset hlmFieldSet class="gap-2">
      <legend hlmFieldLegend class="flex w-full justify-between">
        {{ component().displayName || component().name }}
        <button hlmBtn variant="ghost" size="sm" hlmTooltip="Add Reference" (click)="openReferenceSelectDialog()">
          <ng-icon hlm size="sm" name="lucideFileSymlink" />
        </button>
      </legend>
      @if (component().description; as description) {
        <p hlmFieldDescription class="line-clamp-2">{{ description }}</p>
      }
      <hlm-field-separator />
      <div hlmFieldGroup>
        <div hlmItemGroup class="gap-2">
          @if (content && content.kind === 'DOCUMENT') {
            <div hlmItem variant="outline" role="listitem">
              <div hlmItemMedia>
                <ll-document-status [updatedAt]="content.updatedAt.seconds" [publishedAt]="content.publishedAt?.seconds" />
              </div>
              <div hlmItemContent class="min-w-0 overflow-hidden">
                <div hlmItemTitle class="line-clamp-1 w-full truncate">
                  {{ content.name }} <span class="accent-muted-foreground">#{{ content.slug }}</span>
                </div>
                <p hlmItemDescription class="line-clamp-1 truncate"> {{ content.fullSlug }} </p>
              </div>
              <div role="none" hlmItemActions>
                <button hlmBtn size="icon" variant="outline" (click)="deleteReference()" hlmTooltip="Delete">
                  <ng-icon hlm size="sm" name="lucideTrash" />
                </button>
              </div>
            </div>
          }
        </div>
      </div>
      @if (form().controls['uri'].errors; as errors) {
        <hlm-field-error>{{ fe.errors(errors) }}</hlm-field-error>
      }
    </fieldset>
  </div>
</form>
@if (settingsStore.debugEnabled()) {
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form => valid={{ form().valid }}</mat-panel-title>
      </mat-expansion-panel-header>
      Value :
      <pre>{{ form().value | json }}</pre>
      Error :
      <pre>{{ form().errors | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
}
