<form [formGroup]="form()">
  <mat-card class="ll-not-shadow">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          {{ component().displayName || component().name }}
        </mat-card-title>
        @if (component().description; as description) {
          <mat-card-subtitle>{{ description }}</mat-card-subtitle>
        }
        <button mat-icon-button matTooltip="Add References" (click)="openReferenceSelectDialog()">
          <mat-icon>add_link</mat-icon>
        </button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      @if (content && content.kind === 'DOCUMENT') {
        <mat-list>
          <mat-list-item>
            <div matListItemIcon class="!self-center">
              @if (content?.publishedAt === undefined) {
                <ll-status mode="offline" matTooltip="Not published" />
              } @else if (content?.publishedAt?.seconds > content?.updatedAt?.seconds) {
                <ll-status mode="online" matTooltip="Published" />
              } @else if (content?.publishedAt && content?.publishedAt?.seconds < content?.updatedAt?.seconds) {
                <ll-status mode="away" matTooltip="Draft" />
              }
            </div>
            <div matListItemTitle>{{ content.name }} #{{ content.slug }}</div>
            <code matListItemLine>{{ content.fullSlug }}</code>
            <div matListItemMeta>
              <button mat-icon-button (click)="deleteReference()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      }
      @if (form().controls['uri'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-card-content>
  </mat-card>
</form>
@if (settingsStore.debugEnabled()) {
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form => {{ form().valid }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ form().value | json }}</pre>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Content</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ content | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
}
