@use '@angular/material' as mat;

@import '../../../../styles/styles-variables';

span {
  @include mat.typography-level($typography, 'subtitle-1');
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
}
