<h2 mat-dialog-title>Add Translation</h2>
<mat-dialog-content>
  <br />
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput type="text" #id formControlName="id" required autocomplete="off" />
      <mat-hint align="end">{{ id.value?.length || 0 }}/150</mat-hint>
      @if (form.controls['id'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
    @if (false) {
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" required>
          @for (type of translationTypes; track type) {
            <mat-option [value]="type"> {{ type }}</mat-option>
          }
        </mat-select>
        @if (form.controls['type'].errors; as errors) {
          <mat-error>{{ fe.errors(errors) }}</mat-error>
        }
      </mat-form-field>
    }
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput #description formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="6">
      </textarea>
      <mat-hint align="end">{{ description.value?.length || 0 }}/250</mat-hint>
      @if (form.controls['description'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Value</mat-label>
      <textarea matInput #defaultValue formControlName="value" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="6"></textarea>
      <mat-hint align="end">{{ defaultValue.value?.length || 0 }}/1000</mat-hint>
      @if (form.controls['value'].errors; as errors) {
        <mat-error>{{ fe.errors(errors) }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-chip-grid #chipList aria-label="Label Selection">
        @for (label of form.controls['labels'].value; track label) {
          <mat-chip-row selectable removable (removed)="removeLabel(label)">
            {{ label }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-row>
        }
        <input
          matInput
          placeholder="Add Label..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          matChipInputAddOnBlur
          (matChipInputTokenEnd)="addLabel($event)" />
      </mat-chip-grid>
    </mat-form-field>

    <mat-checkbox formControlName="autoTranslate">Translate other locales with Google Translate ?</mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
