<form *ngIf="form">
  <mat-card class="ll-not-shadow">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          {{ component?.displayName || component?.name }}
          <mat-icon *ngIf="component?.translatable" matTooltip="The field is translatable">language</mat-icon>
        </mat-card-title>
        <button mat-icon-button matTooltip="Add Assets" (click)="openAssetSelectDialog()">
          <mat-icon>attach_file_add</mat-icon>
        </button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list cdkDropList class="assets" (cdkDropListDropped)="assetDropDrop($event)">
        <mat-list-item cdkDrag cdkDragPreviewContainer="parent" *ngFor="let asset of assets; index as idx">
          <mat-icon matListItemIcon cdkDragHandle>drag_indicator</mat-icon>
          <img
            *ngIf="asset.type.startsWith('image/'); else noImage"
            matListItemAvatar
            class="img-fluid border object-fit-contain bg-body-secondary"
            width="290"
            height="200"
            alt="thumbnail"
            loading="lazy"
            ngSrc="/api/v1/spaces/{{ space.id }}/assets/{{ asset.id }}" />
          <ng-template #noImage>
            <mat-icon matListItemIcon>file_present</mat-icon>
          </ng-template>
          <div matListItemTitle>{{ asset.name }}{{ asset.extension }}</div>
          <div matListItemLine>{{ asset.id }} | {{ asset.alt }}</div>
          <mat-action-list matListItemMeta>
            <button mat-icon-button (click)="deleteAsset(idx)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-action-list>
        </mat-list-item>
      </mat-list>
      <mat-hint *ngIf="component?.description">{{ component.description }}</mat-hint>
      <mat-error *ngIf="form.errors as errors">{{ fe.errors(errors) }}</mat-error>
    </mat-card-content>
  </mat-card>
</form>

<ng-container *ngIf="settings$ | async as settings">
  <mat-accordion [multi]="true" *ngIf="settings.debugEnabled">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Form : {{ form?.valid }} : {{ form?.length }} {{ form.updateValueAndValidity() }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ form.value | json }}</pre>
      <pre>{{ form.errors | json }}</pre>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Assets => {{ assets.length }}</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ assets | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
