th,
td {
  &.ll-column-id {
    max-width: 220px;
  }

  &.ll-column-kind {
    max-width: 160px;
  }

  &.ll-column-status {
    width: 80px;
    max-width: 80px;
  }

  &.ll-column-description {
    max-width: 300px;
  }

  &.ll-column-createdAt {
    width: 120px;
    max-width: 120px;
  }

  &.ll-column-actions {
    width: 80px;
    max-width: 80px;
  }
}
