@if (isLoading()) {
  <hlm-progress class="h-0.5">
    <hlm-progress-indicator />
  </hlm-progress>
}

<div class="mx-auto px-2">
  <div llTableContainer>
    <table ll-table [dataSource]="dataSource" llTableSort>
      <ng-container llColumnDef="id" llColumnDefClass="hidden @5xl/table:table-cell">
        <th llHeaderCell *llHeaderCellDef llTableSortHeader="id">ID</th>
        <td llCell *llCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container llColumnDef="kind">
        <th llHeaderCell *llHeaderCellDef llTableSortHeader="kind">Kind</th>
        <td llCell *llCellDef="let element">
          @switch (element.kind) {
            @case ('ASSET_EXPORT') {
              Asset Export
            }
            @case ('ASSET_IMPORT') {
              Asset Import
            }
            @case ('ASSET_REGEN_METADATA') {
              Asset Regeneration Metadata
            }
            @case ('CONTENT_EXPORT') {
              Content Export
            }
            @case ('CONTENT_IMPORT') {
              Content Import
            }
            @case ('SCHEMA_EXPORT') {
              Schema Export
            }
            @case ('SCHEMA_IMPORT') {
              Schema Import
            }
            @case ('TRANSLATION_EXPORT') {
              Translation Export
            }
            @case ('TRANSLATION_IMPORT') {
              Translation Import
            }
          }
        </td>
      </ng-container>
      <ng-container llColumnDef="status">
        <th llHeaderCell *llHeaderCellDef llTableSortHeader="status">Status</th>
        <td llCell *llCellDef="let element">
          @switch (element.status) {
            @case ('INITIATED') {
              <ng-icon hlm size="sm" name="lucideCircleEllipsis" [hlmTooltip]="element.status" />
            }
            @case ('IN_PROGRESS') {
              <hlm-spinner [hlmTooltip]="element.status" />
            }
            @case ('FINISHED') {
              <ng-icon hlm size="sm" name="lucideCheck" [hlmTooltip]="element.status" />
            }
            @case ('ERROR') {
              <ng-icon hlm size="sm" name="lucideOctagonAlert" [hlmTooltip]="element.status" />
            }
          }
        </td>
      </ng-container>
      <ng-container llColumnDef="file">
        <th llHeaderCell *llHeaderCellDef>File</th>
        <td llCell *llCellDef="let element">
          @if (element.file; as file) {
            <div>
              <div>{{ file.name }}</div>
              <div>Size : {{ file.size | formatFileSize }}</div>
            </div>
          } @else {
            -
          }
        </td>
      </ng-container>
      <ng-container llColumnDef="description">
        <th llHeaderCell *llHeaderCellDef>Description</th>
        <td llCell *llCellDef="let element">
          <div>
            @if (element.file) {
              @if (element.path) {
                <div>Partial export by path</div>
              } @else {
                <div>Full export</div>
              }
            }
            @if (element.locale; as locale) {
              <div>Locale : {{ locale }}</div>
            }
            @if (element.status === 'FINISHED') {
              <div>Duration : {{ element.updatedAt.seconds - element.createdAt.seconds | timeDuration }}</div>
            }
            @if (element.message; as message) {
              <div [hlmTooltip]="element.trace">Message : {{ message }}</div>
            }
          </div>
        </td>
      </ng-container>
      <ng-container llColumnDef="createdAt">
        <th llHeaderCell *llHeaderCellDef llTableSortHeader="createdAt">Created At</th>
        <td llCell *llCellDef="let element" [hlmTooltip]="element.createdAt?.toDate() | date: 'medium'">
          {{ element.createdAt?.toDate() | date: 'mediumDate' }}
        </td>
      </ng-container>
      <ng-container llColumnDef="actions">
        <th llHeaderCell *llHeaderCellDef>Actions</th>
        <td llCell *llCellDef="let element">
          <button hlmBtn size="icon" variant="ghost" [hlmDropdownMenuTrigger]="actionsMenu" (click)="$event.stopPropagation()">
            <ng-icon hlm size="sm" name="lucideEllipsisVertical" />
          </button>
          <ng-template #actionsMenu>
            <hlm-dropdown-menu>
              @if (element.file) {
                <hlm-dropdown-menu-group>
                  <button hlmDropdownMenuItem (click)="onDownload(element)">
                    <ng-icon hlm size="sm" name="lucideDownload" />
                    Download
                  </button>
                </hlm-dropdown-menu-group>
                <hlm-dropdown-menu-separator />
              }
              <hlm-dropdown-menu-group>
                <button
                  hlmDropdownMenuItem
                  variant="destructive"
                  (click)="openDeleteDialog(element)"
                  [disabled]="element.status !== 'FINISHED' && now - (element.createdAt?.toMillis() || 0) < 600000">
                  <ng-icon hlm size="sm" name="lucideTrash" />
                  Delete
                </button>
              </hlm-dropdown-menu-group>
            </hlm-dropdown-menu>
          </ng-template>
        </td>
      </ng-container>
      <tr ll-header-row *llHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr ll-row *llRowDef="let row; columns: displayedColumns"></tr>
      <tr *llNoDataRow>
        <td [attr.colspan]="displayedColumns.length">No tasks yet.</td>
      </tr>
    </table>
  </div>

  <ll-paginator [sticky]="true" [length]="dataSource.filteredData().length" />
</div>
