<h1 mat-dialog-title>User</h1>
<mat-dialog-content>
  <br />
  <form [formGroup]="form" class="step-container">
    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input matInput type="text" formControlName="displayName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Avatar</mat-label>
      <input matInput type="text" formControlName="photoURL" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
