<hlm-dialog-header>
  <h2 hlmDialogTitle>Update Password</h2>
</hlm-dialog-header>
<form [formGroup]="form" class="flex flex-col gap-4">
  <div hlmField>
    <label hlmFieldLabel for="newPassword">New Password</label>
    <input hlmInput id="newPassword" type="password" formControlName="newPassword" class="w-full" />
    <hlm-field-description>Minimum 6 characters</hlm-field-description>
  </div>
</form>
<hlm-dialog-footer>
  <button hlmBtn variant="outline" hlmDialogClose>Cancel</button>
  <button hlmBtn [disabled]="!form.valid" (click)="save()">Save</button>
</hlm-dialog-footer>
